.ui-base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.rwd-table {
  margin: 1em 0;
  width: 100%;
  min-width: 250px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    line-height:20px !important;
    vertical-align: middle !important;

    &:before {
      content: attr(data-th); // who knew you could do this? The internet, that's who.
      font-weight: normal;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      font-size: 14px !important;
      margin-left: 14px !important;
      margin-right:14px !important;
      // end options
      
      @media (min-width: 560px) {
        display: none;
      }
    }
    
    &.member-name {
        font-size: 1.4em;
    }
  }
  
  th, td {
    text-align: left;
    border-top: none !important;

    @media (min-width: 560px) {
      display: table-cell;
      padding: .25em .5em;
      
      &.action-col {
		  min-width: 85px;
	  }
    }
  } 
}
.action-col {
  min-width: 85px !important;
}

ol.numbered > li {
  margin-top: 15px;
}

ol.lettered > li {
  list-style-type: lower-roman;
}