// wiredep-removed:bower:less
// wiredep-removed:endbower

@import "less/bootstrap.less";

@import "vendor/propeller.less";
@import "vendor/range-slider.less";

// Base
@import "base.less";

// Pages
@import "pages/login.less";
@import "pages/inventory.less";
@import "pages/overview.less";
@import "pages/profile.less";
@import "pages/policy.less";

// Widgets and Effects
@import "widgets/input-underline.less";
@import "widgets/tabs.less";
@import "../../bower_components/bootstrap-btn-outline-rounded/index.less";
@import "transitions/all.less";

// Other
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// html,body {
//     overflow: hidden;
// }
html { min-height: 100%;}
body { min-height: 100%; overflow:auto;}

.hide-on-mobile {
  display: none;
}

span.ui-select-toggle {
  border: 1px solid #ccc;
}

.mt0 {
  margin-top: 0;
}

.page-panel {
  background-color: #fff;
  padding:20px;
  padding-top:40px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  border-bottom: 4px solid @brand-primary;
  position:relative;
  z-index: 998;

  .panel-title {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: @brand-primary;
      border-radius: 0px 5px;
      padding: 5px 10px;
      color: #fff;
      z-index: 999;
  }

  .panel-title-success {
    background-color: @brand-success;
  }
}

.inactive-panel {
  border-bottom: 4px solid #ccc !important;
  .panel-title {
    background-color: #ccc;
  }
}

.success-panel {
  border: 1px solid @brand-success;
  border-bottom: 4px solid @brand-success !important;
  .panel-title {
    background-color: @brand-success;
  }
}

.form-icon, .form-title, .form-status {
  &:hover {
    cursor: pointer;
  }
}

.inline-form-control {
  display: inline;
  width: auto;
  color: #444;
}

/* This is style for the "e-sign forms" section of the Policy page */
.form-container {
  margin-bottom: 40px;
}

.form-title {
  font-weight: bold;
}

.form-icon {
  display: inline-block;
}

.form-blockchain {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 5px;
  img {
    display: block;
    vertical-align: top;
    margin-left:-25px;
    height:40px;
    &.eth {
      margin-top: 5px;
    }
    &.blockchain-case {
      margin-left:-45px;
    }
  }
}

.form-status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 11px;
}
/* End of e-sign forms section for Policy page */

.signature-options-header {
  h2 {
    display: inline;
  }
  button {
    margin-left: 20px;
  }
}

.signature-options {
  text-align: center;
  margin-top: 30px;

  .print-and-sign, .e-sign {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      box-shadow: 2px 2px 12px #ccc;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 200px;
    }
  }
}

.form-sub-content {
  border: 1px dashed #444;
  margin-bottom: 20px;
  .form-sub-content-title {
    margin-top: 0;
  }
}

.dropdown-toggle {
  cursor: pointer;
}

.admin-panel {
  border-bottom-color: @brand-warning;
  border-top-color: @brand-warning;
  .panel-title {
    background-color: @brand-warning;
  }
}

.form-group.iCheck label {
  /*height:31px;*/
  padding:10px;
}

.icheck-active-disabled .disabled {
  background-position: -48px 0 !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.add-new-file {
  height: 130px !important;
  line-height: 33px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  padding: 14px 24px;
  text-decoration: none;
  margin-top: 10px;
  .fa-upload {
    font-size: 26px;
  }
}

.new-file-icon,
.existing-file-icon {
  margin-top: 20px;
  text-align: center;
  i.fa {
    font-size: 100px;
    cursor: pointer;
    vertical-align: top;
    line-height: 1em;
    color: #ccc;
  }
} 
.new-file-name,
.existing-file-name {
  text-align: center;
  min-height:70px;
  color: #444;
}

.existing-file-icon,
.existing-file-name {
  a {
    color: #444 !important;
  }
  i.fa {
    color: #444 !important;
    &.delete-file {
      color: @brand-danger !important;
      position: absolute;
      top: 80px;
      font-size: 20px !important;
    }
  }  
}

.pending-upload {
  position: absolute;
  margin-left: -76px;
  font-size: 66px !important;
  color: #444 !important;
  margin-top: 21px;
}

.new-policy-number {
  .placeHolder {
    background: none !important;
    font-size: 12px;
    color: #444;
  }
  input {
    font-size: 25px;
  }
}

.hover-toggle:hover {
  .thing-to-hide {
    display:none;
  }
  .thing-to-show {
    display:initial
  }
}
.thing-to-show {
  display:none;
}

.policy-new-note {
  width: 100%;
  height: 75px;
  padding: 10px;
}
.policy-notes {
  border-top: 1px solid #ccc;
  padding: 10px 15px;

  .created-by {
    font-size: 11px;
    font-style: italic;

    .created-by-name {
      font-weight: bold;
    }

    .fa-close {
      color: @brand-danger;
      cursor: pointer;
    }
  }
}
.policy-notes:first-child {
  border-top: none;
}

.flatpickr.active {
  background: none !important;
}

.centered-content {
  text-align: center;
  min-height: 0px !important;
}

.form-control[disabled], fieldset[disabled] .form-control,
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: default;
  background-color: transparent;
}

.ui-select-toggle {
  cursor: pointer;
}

.ui-select-container {
  min-height: 36px !important;
  &.hasLabel {
    top:10px;
  }
}

.flatpickr {
  .input-group input {
    float: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  input[type=text], 
  input[type=search], 
  input[type=password], 
  input[type=email], 
  input[type=number], 
  input[type*="date"], 
  select, 
  textarea {
    font-family: inherit;
    font-size: 1.4rem;
    padding: 0 .5rem;
    height: 40px;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    margin-bottom: 0;
    color: rgba(0,0,0,0.9);
    width: 100%;
    max-width: 300px;
    display: block;
    transition: all 200ms ease-out;
    cursor: pointer;
  }
  .input-button {
    display: inline-block;
    padding: 0 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ddd;
    color: #373a3c;
    float: left;
    border-radius: 0;
    border-left: 0;
    background: #fff;
  }
}

.thank-you {
  margin-top: 50px;
  padding: 50px;
  background: #fff;
  color: #444;
  border-radius: 5px;
  font-size: 28px;
  border: 1px solid @gray-light;
}

.show-hide-panel {
  font-size: 12px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: underline;
}

.table-select-box .ui-select-match-text {
  // margin-top: -10px;
}

.btn-back-to-inventory {
  margin-top:10px;
}

.input-policy-number {
  margin-top: 10px;
}

.status-tracking {
  max-width: 450px;
  margin-right: 20px;

  .offer-tracking {
    img {
      width: 30px;
      display: block;
      margin-bottom: 10px;
    }
  }

  .status-img {
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
  }
}

.offer-admin-group {
  padding: 20px;
  padding-top: 10px;
  border: 1px solid #ccc;
}

@media (max-width: 520px),
(min-width: 768px) and (max-width: 849px) {
  .status-tracking {
    text-align: center;
    max-width: 100%;

    .status-img {
      max-width: 100%;
      margin-right: 0;
      float: none !important;
    }

    .offer-tracking {
      float: none !important;
      width: 200px;
      display: inline-block;

      img {
        width: 30px;
        display: block;
        float: left;
        margin-left: 27px;
        margin-top: 20px;
        margin-bottom: 0px;
      }
    }
  }
}

.btn-jumbo {
  padding:20px 20px;
  font-size: 1.5em;
  max-width: 100%;
  white-space: pre-wrap;
}

.btn-center {
  margin: 0 auto;
  display: block;
}

/* Multi-Select Formatting */
.ui-select-multiple.ui-select-bootstrap {
  padding: 0px;

  input {
    padding: 10px 14px;
    height: 36px !important;
  }

  .ui-select-match-item {
    margin: 5px 3px 3px 3px;
    background-color: #ccc;
    font-size: 14px;
  }

  .ui-select-search {
    width:100% !important;
  }
}

.btn {
  white-space: pre-wrap;
  &.ui-select-toggle {
    white-space: initial;
  }
}

/* End Multi-Select Formatting */

.mobile-mt-20 {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .table.form-card {
    border: none !important;
    box-shadow: none !important;
    margin-top: 0 !important;
  }
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: initial !important;
  }
  .mobile-mt-20 {
    margin-top: 0;
  }
  .show-on-mobile {
    display: none;
  }
  .btn-back-to-inventory {
    margin-top: 0;
  }
  .input-policy-number {
    margin-top: 20px;
  }
  .csb-toggle {
    display:block !important;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  white-space:pre-line;  
  position:relative;
  top:-7px;
  
}
::-moz-placeholder { /* Firefox 19+ */
     white-space:pre-line;  
  position:relative;
  top:-7px;
}
:-ms-input-placeholder { /* IE 10+ */
    white-space:pre-line;  
  position:relative;
  top:-7px;
}
:-moz-placeholder { /* Firefox 18- */
     white-space:pre-line;  
  position:relative;
  top:-7px;
}

.form-card {
  border: 1px solid #eee;
  box-shadow: 0px 5px 10px #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  &:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px #ccc;
  }
}

.user-avatar {
	max-width: 250px !important;
}

.desktop-menu {
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding-left: 55px;

  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }

  a {
    color: #444;
    i {
      color: @brand-primary;
    }
  }
}

.show-detail {
  padding-top:10px;
  margin-top: -10px;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 10px #ccc;
}

.form-details {
  padding: 10px;

  .form-details-close {
    font-size: 30px;
    position: absolute;
    top: -14px;
    right: -13px;
    background-color: #fff;
    line-height: 1em;

    &:hover {
      cursor: pointer;
    }
  }

  .form-detail-container {
    position: relative;
  }

  .form-detail-icon {
    position: absolute;
    left: 0;
    font-size: 50px;
    color: #ddd;
    z-index: 0;
    opacity: 0.5;
  }
}

.form-info-button {
  font-size: 18px;
  position: absolute;
  margin-left: 20px;
}

.file-category-select {
  max-width: 200px;
  margin: 0 auto;
}

.loading {
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.strikethrough {
  text-decoration: line-through;
  color: #c0c0c0;
}

.badge-button {
  position:relative;
}
.badge-button[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-7px;
  right:-10px;
  font-size:10px;
  background:@brand-danger;
  color:white;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}

.welcomeModal {
  .fancymodal-content {
    max-width: 750px;
    padding-bottom: 0;
    text-align: center;

    .step {
      width: 80%;
      margin: 0 auto;

      .welcome-page-status {
        border-top: 4px solid @brand-success;
        margin-top: 10px;
      }

      h1 {
        font-size: 3rem;
      }

      p {
        text-align: justify;
      }

      .welcome-img-container {
        height: 250px;
        overflow: hidden;
        margin-top: 30px;
        position: relative;

        .welcome-img {
          border: 1px solid #ccc;
          border-radius: 15px;
          width: 100%;
        }
      }

      .welcome-img-popup:hover {
        overflow: visible;
        .welcome-img {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
    
    .welcome-hr {
      margin-top: 0;
      margin-bottom: 0;
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }    

    .welcome-page-footer {
      position: relative;

      .welcome-page-number {
        position: absolute;
        width: 100%;
        text-align: center;
      }
    }
  }
}

div.missing-req input,
div.missing-req .ui-select-match,
div.missing-req.iCheck .dropdown-label,
.dropdown-label.missing-req {
  border-left: 4px solid @brand-danger;
}

.missing-req input.ng-invalid-required {
  border-bottom: 2px solid @brand-danger !important;
}

.buyer-row {
  cursor: pointer;
  &input {
    cursor: default;
  }
}

.buyer-detail {
  border-left: 2px solid #888;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
}

.buyer-detail-mid {
  border-left: 2px solid #888;
  border-right: 2px solid #888;
}

.buyer-detail-top {
  border-left: 2px solid #888;
  border-top: 2px solid #888;
  border-right: 2px solid #888;
}

.pmd-table.table-hover tbody tr.buyer-detail:hover,
.pmd-table.table-hover tbody tr.buyer-detail-mid:hover,
.pmd-table.table-hover tbody tr.buyer-detail-top:hover {
  background-color: #fff !important;
}

.pick-buyer-close-btn {
  position: absolute;
  top: -11px;
  right: -11px;
  background-color: #fff;
  padding: 0 3px;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

input[disabled]::placeholder {
  color: #ccc;
}
input[disabled]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
input[disabled]::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
input[disabled]:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
input[disabled]:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

.highlight-success {
  padding: 20px;
  border: 1px dashed #ccc;
  border-left: 5px solid @brand-success;
  background-color: #fff;

  button.btn-outline {
      background-color: #fff !important;
  }
}

.highlight-danger {
  padding: 20px;
  border: 1px dashed #ccc;
  border-left: 5px solid @brand-danger;
  background-color: #fff;

  button.btn-outline {
      background-color: #fff !important;
  }
}

.sil-container {
  width: 100%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.add-new {
  .fa {
    float: left;
    text-align: right;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
    max-width: 15px;
  }
  span {
    float:right;
  }
}

.info-question {
  background-color: @brand-primary;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  cursor: pointer;
  padding-right: 1px;
}

.badge-notification {  
  background:@brand-danger;
  color:white;
  height:18px;
  text-align:center;
  border-radius:20px;
  box-shadow:0 0 1px #333;
}

.policy-page-header {
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding-left: 300px;
  z-index: 99999;

  &.show-sticky {
    display:block;
  }

  .pph-content {
    background: #eeeeee;
    padding: 20px 10px;
    border-bottom: 1px solid #444;
    box-shadow: 1px 1px 20px #888;

    .pph-label {
      font-size: 18px;
      font-weight: lighter;
      margin-left: 25px;
    }

    .pph-data {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.tabs {
  &.tabs-inventory {
    margin-top: 20px;
  }
  .tabs-tab {
    padding-top: 0px;
    border-bottom: none;
    padding-bottom: 0;
    .tabs-tab-panel { 
      border-top: none;
      margin-top: 0px;
    }
  }
}

h3 {
  line-height: 1.75em;
}

.off-card-btn-row {
  position: absolute;
  bottom: -60px;
  width: 100%;
  padding-right: 40px;
  padding-left: 10px;
  
  button.pull-right {
    right: 0;
    position: relative;
    opacity: 1;
    background-color: #fff;
  }
  button.pull-left {
    left: 0;
    position: relative;
    opacity: 1;
    background-color: #fff;
  }
}

.mb0 {
  margin-bottom: 0px !important;
}

.icheck-topline {
  display: inline-block;
  margin-left:5px;
}
.icheck-bottomline {
  margin-left:30px;
}

.status-check-group {
  .form-card {
    padding-bottom: 10px;
  }
}

.selected-option-card-container {
  h2 {
    display:inline-block;
  }
  .small-option-img {
    width:120px;
  }
  .form-card {
    margin-top: 20px;
  }
}

.option-card-container {
  text-align: center;
  .form-card {
    position:relative;
    .hover-order {
      display:none;
      cursor: pointer;
    }
    .option-img {
      width:80%;
    }
  }
  &:hover .hover-order {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0.65);
    color: #fff;
    font-size: 34px;
    .hover-text {
      position: absolute;
      bottom: 0px;
      right: 10px;
    }
  }
}

.hover-coming-soon-container {
  .hover-coming-soon-shadow {
    display: none;
    cursor: pointer;
  }
  &:hover .hover-coming-soon-shadow {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0.65);
    color: #fff;
    font-size: 34px;
    margin: 0px 15px;
    left: -15px;
    .hover-coming-soon-text {
      position: absolute;
      bottom: 0px;
      right: 20px;
    }
  }
}

.pmd-btn-outline.btn-success, 
.pmd-btn-outline.btn-warning {
  background-color: #fff;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.form-card {
  &.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  background-color: #fff;
}

tr.no-results {
  height: 90px;
  td {
    padding-left: 20px !important;
    font-size: 1rem !important;
  }
}

.seat-org-link {
  margin-bottom: 10px;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}

.up-seat-level {
  margin-left:20px;
  font-size: 12px;
}

.latest-update {
  padding: 10px;
  line-height: 1em;
  border: 1px dashed #009ADA;
  margin-bottom: 38px;
  border-left: 5px solid #009ADA;
}

/* Collapsed Sidebar Styling */
.csb-toggle {
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 20px;
  padding: 0px;
  padding-bottom: 3px;
  display:none;
}
.csb {
	.inventory-page .sidebar {
	    width: 80px;
	    padding: 5px;
	}
	.inventory-page .sidebar .version {
    bottom: 10px;
    padding-left: 20px;
  }
  .inventory-page .main {
		padding-left: 115px !important;
  }
	.user-avatar {
		max-width: 70px !important;
	}
	.desktop-menu {
		padding-left: 22px;
		font-size: 25px;
    position: relative;
    padding-top: 10px;
		padding-bottom: 10px;
	}
	.badge-notification {
	    display: inline-block;
	    position: absolute;
	    right: 10px;
	    top: 15px;
	}
	.csb-hide {
		display: none !important;
  }
  #bsd-iframe-widget {
    left: -160px !important;
    bottom: 40px !important;
    &.bsd-iframe-open {
      left: 0px !important;
    }
  }
  
}

.switch-label {
  line-height: 2.6em;
  vertical-align: top;
  display: inline-block;
}

.highlight-cover {
  position: absolute;
  top: -20px;
  right: -40px;
  left: -40px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1001;
  bottom: -70px;
  display:none;
}

.highlight-side-cover {
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.highlight-panel {
  z-index: 1002;
}

.page-content {
  position: relative;
}

.form-progress-bar {
  margin-bottom: -5px;
  margin-top: 5px;
  overflow: hidden;
  padding-left:0;
  li {
      list-style-type: none;
      color: #99a2a8; 
      font-size: 11px;
      width: var(--tab-width); 
      float: left;
      position: relative; 
      text-align: center;
      z-index: 1;
      
      &:before {
          content: var(--fa-icon);
          width: 30px;
          height: 30px;
          line-height: 30px;
          color: #99a2a8; 
          display: block; 
          background: #eaf0f4;
          border-radius: 50%;
          margin: 0 auto;
          z-index: 1;
          font-size: 18px;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          cursor: pointer;
      } 
      &:after {
          content: '';
          width: 100%;
          height: 5px;
          background: #eaf0f4;
          position: absolute;
          left: -50%;
          top: 13px;
          z-index: -1; 
          margin-left: 10px;
      } 
      &:last-child{
          &:after{
              width: 150%;
          }
      }
      &.active{
          color: #5cb85c;
          z-index: 2;
          &:before, &:after{
              background: #5cb85c;
              color: white;
          }
      }
  }
}

@media (max-width: 520px) {
  .form-progress-bar {
    margin-bottom: -15px;
    li {
      color: #fff;
      &.active {
        color: #fff;
      }
    }
  }
}

.switch-in-button {
  margin-left: 20px;
  margin-right: 0px;
  white-space: nowrap;
  padding-left: 12px;
  cursor: default;
}

.swal2-input[type="number"] {
  text-align: center;
}
.swal2-content input[type="radio"], .swal2-content input[type="checkbox"] {
  cursor: pointer;
}

span.color-block {
  display: inline-block;
  width: 27px;
  height: 27px;
  vertical-align: top;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.hex-input {
  width: 80px;
  text-align: center;
}

.feature-grids {
  .f1 {
    cursor: pointer;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    &:hover {
      box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .2);
    }
  }
  
  .icon {
    display: inline-block;
    margin-right:10px;
    cursor: pointer;
  }
  .icon span.fa {
    font-size: 30px;
    line-height: 65px;
    text-align: center;
    background: #f3f3f3;
    width: 65px;
    height: 65px;
  }
  h3 {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    letter-spacing: 1px;
  }
  p {
    font-size: 16px;
    color: #777;
    line-height:1.5em;
  }
}

span.sub-dob {
  font-size: 14px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
  padding-right: 20px;
  .show-on-hover {
    display: none;
  }
}
ul.timeline > li > p {
  padding: 0px;
  margin: 0px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
ul.timeline > li.add-new:before {
  border: 3px solid #00B200;
  content: '+';
  color: #00B200;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  height: 26px;
  width: 26px;
  left: 17px;
  padding-left: 4px;
}
ul.timeline > li.add-new:hover {
  cursor: initial;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
 ul[dnd-list] {
  min-height: 42px;
}

/**
* The dndDraggingSource class will be applied to
* the source element of a drag operation. It makes
* sense to hide it to give the user the feeling
* that he's actually moving it.
*/
ul[dnd-list].move-cursor .dndDraggingSource {
  display: none;
}

/**
* An element with .dndPlaceholder class will be
* added to the dnd-list while the user is dragging
* over it.
*/
ul[dnd-list].move-cursor .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px;
}

ul[dnd-list].move-cursor li:hover {
  cursor: move;

  .hide-on-hover {
    display: none;
  }
  .show-on-hover {
    display: inline-block;
    cursor: pointer;
  }
  // background-color: #fff;
  // border: 1px solid #ddd;
  // border-top-right-radius: 4px;
  // border-top-left-radius: 4px;
  // display: block;
  // padding: 10px 15px;
  // margin-bottom: -1px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  top: 0px;
}
::-moz-placeholder { /* Firefox 19+ */
  top: 0px;
}
:-ms-input-placeholder { /* IE 10+ */
  top: 0px;
}
:-moz-placeholder { /* Firefox 18- */
  top: 0px;
}

.policy-contacts {
  padding: 10px;
  line-height: 1.35em;
  border: 1px dashed #009ADA;
  margin-bottom: 20px;
  border-left: 5px solid #009ADA;
  margin-left: 20px;
  margin-right: 20px;
}

.flatpickr-current-month .numInputWrapper {
  width: 7ch !important;
}

.customize-template {
  display:none;
}

.template-preview {
  margin-bottom:30px;
  cursor: pointer;
  img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #888;
    &.preview-back {
      display: none;
    }
  }
  &:hover {
    .customize-template {
      display:block;
    }
    img.preview-back {
      display:block;
    }
    img.preview-front {
      display:none;
    }
  }
  .preview {
    height: 280px;
    background-size: cover;
  }
}

.templatePreviewImg {
  max-width: 300px;
  height: auto;
  display: block;
}

.ml50 {
  margin-left: 50px;
}

#bsd-iframe-widget {
  left: 50px;
  right: auto;
}

tr.no-hover-highlight:hover {
  background-color: #fff !important;
}