<div class="calculator">
    <a ui-sref="policy({ pid: vm.policyKey })" class="pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory">Back to Policy</a>
    <h2 class="pmd-display1">Policy Audit Log</h2>
    <div style="clear:both"></div>

    <div class="page-panel">
        <span class="panel-title">Full Log</span>
        <div class="container-fluid form-dark">
            <br>
            <div ng-repeat="item in vm.history" style="margin-bottom:15px">
                <div><b>{{item.updatedAt | date:'M/d/yy @ h:mm a'}}</b> by user {{item.updatedBy}}</div>
                <ul>
                    <li ng-repeat="change in item.changes" ng-if="change.pathStr.indexOf('ById') < 0 && change.pathStr.indexOf('UpdatedAt') < 0 && change.pathStr.indexOf('DtTm') < 0">
                        <span ng-if="change.kind === 'E'">
                            Edited the following data at <em ng-bind-html="change.pathStr"></em>
<div class="row">
    <div class="col-md-6">
    From:
<pre>{{change.lhs | json}}</pre>
    </div>
    <div class="col-md-6">
    To:
<pre>{{change.rhs | json}}</pre>
    </div>
</div>
                        </span>
                        <span ng-if="change.kind === 'N'">
                            Added <span ng-if="change.newType === 'object'">the following data</span><b ng-if="change.newType !== 'object'">{{change.rhs}}</b> to <em ng-bind-html="change.pathStr"></em>
<pre ng-if="change.newType === 'object'">{{change.rhs | json}}</pre>
                        </span>
                        <span ng-if="change.kind === 'D'">
                            Removed <span ng-if="change.oldType === 'object'">the following data</span><b ng-if="change.oldType !== 'object'">{{change.lhs}}</b> from <em ng-bind-html="change.pathStr"></em>
<pre ng-if="change.oldType === 'object'">{{change.lhs | json}}</pre>
                        </span>
                        <span ng-if="change.kind === 'A'">
                            This change was to an array...
                        </span>
                    </li>
                </ul>
                <hr/>
            </div>
        </div>
    </div>

</div>