<!-- <div class="policy-page-header" id="buyerPolicyPageHeader">
    <div class="pph-content">
        <span class="pph-label">Face Amount:</span>
        <span class="pph-data">{{(vm.policy.faceAmount) ? (vm.policy.faceAmount | currency:'$':0.0) : '&nbsp;'}}</span>
        <span class="pph-label">Carrier:</span>
        <span class="pph-data">{{(vm.policy.carrier) ? vm.policy.carrier : '&nbsp;'}}</span>
    </div>
</div> -->
<div class="policy-page page-content" id="buyerPolicyPage" ng-if="!vm.hideView">
    <div class="highlight-cover"></div>
    <a href="javascript:void(0)" ng-click="vm.goToRoute('policy', { pid: vm.policyKey })" ng-if="vm.managePage || vm.viewAsBuyer" class="pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory show-on-mobile"><i class="fa fa-angle-left"></i> Back to Policy</a>
    <h2 class="pmd-display1">{{vm.managePage ? 'Set Up ' : '' }}Buyer View</h2>
    <div class="status-tracking pull-right" ng-if="!vm.managePage">
        <!-- <img ng-src="images/timeline/{{vm.statusImage}}.png" alt="" class="status-img pull-left"> -->
        <!-- <button class="btn btn-success pmd-btn-outline btn-lg" ng-click="vm.flagPolicy()"><i class="fa text-danger" ng-class="{ 'fa-flag-o': !vm.policy.flaggedBy || vm.policy.flaggedBy.indexOf(vm.currentUser.org.$id) === -1, 'fa-flag': vm.policy.flaggedBy && vm.policy.flaggedBy.indexOf(vm.currentUser.org.$id) > -1 }"></i> <span ng-show="vm.policy.flaggedBy && vm.policy.flaggedBy.indexOf(vm.currentUser.org.$id) > -1">Un-</span>Flag this Policy</button> -->
        <button class="btn btn-success pmd-btn-outline btn-lg mobile-mt-20" style="margin-left:20px" ng-click="vm.scrollToAddOffer()" ng-show="vm.policy.buyerInterested" ng-if="vm.isBuyer"><i class="fa fa-dollar"></i> Make an Offer</button>
        <button ng-disabled="vm.managePage || vm.viewAsBuyer" class="btn pmd-btn-outline btn-lg mobile-mt-20" ng-class="{ 'btn-danger': !vm.policy.buyerInterested, 'btn-success': vm.policy.buyerInterested }" style="margin-left:20px; margin-right:0px; white-space: nowrap; padding-left:12px;cursor:default">
            <div class="pmd-switch" style="height:20px">
                <label style="margin-right:9px;margin-top:3px;">
                    <input type="checkbox" ng-disabled="vm.managePage || vm.viewAsBuyer" ng-model="vm.policy.buyerInterested" ng-click="vm.toggleInterest($event)">
                    <span class="pmd-switch-label"></span>
                </label>
                <div class="switch-label" style="line-height: 1em;">{{vm.policy.buyerInterested ? ' ' : ' Not '}}Interested</div>
            </div>
        </button>
    </div>
    <br style="clear:both">

    <!-- SUMMARY DATA -->
    <div class="row">
        <div class="col-md-8">
            <div class="page-panel" id="generalInformation">
                <span class="panel-title">General Information</span>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="mt0">Policy ID <i class="fa fa-question info-question" ng-click="vm.showMessage('LSHID')"></i></h3>
                        <h1 class="highlight-success">{{vm.policy.LSHID}}</h1>
                    </div>
                    <div class="col-md-3">
                        <h3 class="mt0">Policy Number <i class="fa fa-question info-question" ng-click="vm.showMessage('Policy Number')"></i></h3>
                        <h1 class="highlight-success">{{vm.policy.policyNumber}}</h1>
                    </div>
                    <div class="col-md-6">
                        <h3 class="mt0">Insured Name</h3>
                        <h1 class="highlight-success">{{vm.policy.insured.firstName + ' ' + (vm.policy.insured.lastNameInitial ? vm.policy.insured.lastNameInitial + '.' : '')}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="mt0">Face Amount <i class="fa fa-question info-question" ng-click="vm.showMessage('Face Amount')"></i></h3>
                        <h1 class="highlight-success">{{(vm.policy.faceAmount) ? (vm.policy.faceAmount | currency:'$':0.0) : 'n/a'}}</h1>
                    </div>
                    <div class="col-md-3">
                        <h3 class="mt0">Date Issued <i class="fa fa-question info-question" ng-click="vm.showMessage('Date Issued')"></i></h3>
                        <h1 class="highlight-success">{{(vm.policy.dateOfIssue) ? vm.policy.dateOfIssue : 'n/a'}}</h1>
                    </div>
                    <div class="col-md-6">
                        <h3 class="mt0">Carrier <i class="fa fa-question info-question" ng-click="vm.showMessage('Carrier')"></i></h3>
                        <h1 class="highlight-success">{{(vm.policy.carrier) ? vm.policy.carrier : 'n/a'}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Illustrations <i class="fa fa-question info-question" ng-click="vm.showMessage('Illustrations')"></i></h3>
                        <h3 class="important-note" ng-if="!vm.policy.illustrationsUploaded && (!vm.policy.illustrations || vm.policy.illustrations.length === 0) && !vm.addIllustration">
                            <i class="fa fa-warning"></i> No Illustrations have been provided for this Policy
                        </h3>
                        <h3 class="highlight-success" ng-if="vm.policy.illustrationsUploaded">
                            <i class="fa fa-info-circle"></i> Please see the Case Files tab at the bottom of this page for Illustrations
                        </h3>
                        <table class="table form-card table-bordered" ng-if="vm.policy.illustrations.length > 0">
                            <thead>
                                <tr>
                                    <th>Strategy</th>
                                    <th>Result</th>
                                    <th ng-if="vm.managePage" style="text-align: right; width:145px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="i in vm.policy.illustrations">
                                    <td><b>{{i.strategy}}</b></td>
                                    <td class="info">{{i.premium}}</td>
                                    <td style="text-align: right" ng-if="vm.managePage"><button class="btn btn-xs pmd-btn-outline btn-success" ng-click="vm.editIllustration(i)">Edit</button> <button class="btn btn-xs pmd-btn-outline btn-danger" style="margin-left:15px" ng-click="vm.removeIllustration(i)"><i class="fa fa-close"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-dark" ng-if="vm.isBuyer && !vm.managePage && !vm.viewAsBuyer">
                        <b class="btn btn-primary pmd-btn-outline btn-rounded add-new" style="margin-top:12px" ng-click="vm.requestIllustration()"><i class="fa fa-plus"></i><span>Request<br>Illustration</span></b>
                    </div>
                    <div class="col-md-12 form-dark" ng-if="vm.managePage">
                        <b class="btn btn-warning pmd-btn-outline btn-rounded add-new" style="margin-top:12px" ng-if="!vm.addIllustration" ng-click="vm.addIllustration = true"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                        <div class="form-group iCheck" style="display:inline">
                            <label>
                                <input type="checkbox" class="custom-check" name="illustrationsUploaded" ng-model="vm.policy.illustrationsUploaded" icheck>
                                Illustrations are included in Case Files
                            </label>
                        </div>
                        <div class="col-md-4 form-content form-card" id="newIllustration" ng-show="vm.addIllustration">
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newIllustrationStrategy" placeholder="Strategy">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newIllustrationPremium" placeholder="Result">
                            </div>
                            <div class="form-group off-card-btn-row">
                                <button class="btn btn-default pull-left" ng-click="vm.cancelIllustration()">Cancel</button>
                                <button class="btn btn-warning pull-right pmd-btn-outline" ng-click="vm.saveIllustration()">Save <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-panel" id="primaryAilments">
                <div class="row">
                    <span class="panel-title">Policy Notes</span>
                    <div class="col-md-12">
                        <div class="container-fluid form-dark">
                            <div class="row">
                                <div class="col-md-12" ng-if="!vm.managePage">
                                    <h3 class="important-note" ng-if="!vm.policy.policyNotes">
                                        <i class="fa fa-warning"></i> No Policy Notes have been provided for this Policy
                                    </h3>
                                    <h3 class="highlight-success" ng-if="vm.policy.policyNotes" style="white-space: pre-wrap">{{vm.policy.policyNotes}}</h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" ng-if="vm.managePage">
                                        <textarea type="text" class="important-note form-control float-me input-underline-dark input-lg" style="padding:10px; min-height:120px; width:100%;" ng-change="vm.showPolicyNotesSave = true" ng-model="vm.policy.policyNotes" placeholder="Free space for Policy Notes here"></textarea>
                                        <button class="btn btn-warning pmd-btn-outline pull-right btn-rounded" style="margin-top:15px" ng-click="vm.savePolicyNotes()" ng-disabled="!vm.showPolicyNotesSave">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-panel" id="medicalSummaries" ng-if="vm.managePage">
                <div class="row">
                    <span class="panel-title">Medical Summaries</span>
                    <div class="col-md-12" ng-if="vm.msOrders.length > 0">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="order in vm.msOrders">
                                <div class="existing-file-icon">
                                    <a href="{{order.link}}" class="file-links" target="_blank">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="existing-file-name">
                                    {{order.name}}<br>
                                    <i>from {{order.company}}</i>
                                    <div class="form-group" ng-show="order.category">
                                        <div class="btn btn-xs btn-default">Order</div>
                                        <div class="btn btn-xs btn-default" ng-class="{ 'btn-warning': order.orderStatus === 'Pending', 'btn-success': order.orderStatus === 'Processed' }">{{order.orderStatus}}</div>
                                    </div>
                                </div>
                            </div>
                            <b class="btn pmd-btn-outline btn-rounded add-new" ng-class="{ 'btn-primary': !vm.managePage, 'btn-warning': vm.managePage }" ng-click="vm.startOrder('MS')" ng-if="!vm.addNewMS && !vm.viewAsBuyer"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="vm.policy.medicalSummaryUploaded">
                        <h3 class="highlight-success">
                            <i class="fa fa-info-circle"></i> Please see the Case Files tab at the bottom of this page for Medical Summary
                        </h3>
                    </div>
                    <div class="col-md-12" ng-if="vm.viewAsBuyer && !vm.policy.medicalSummaryUploaded">
                        <h3 class="important-note">
                            <i class="fa fa-info-circle"></i> You have not provided a Medical Summary to the Buyer at this time. Switch to the Edit View if you wish to add any.
                        </h3>
                    </div>
                    <div class="col-md-12" ng-if="vm.managePage || vm.isBuyer">
                        <b class="btn pmd-btn-outline btn-rounded add-new" ng-class="{ 'btn-primary': !vm.managePage, 'btn-warning': vm.managePage }" ng-click="vm.startOrder('MS')" ng-if="!vm.addNewMS && !vm.viewAsBuyer && (!vm.msOrders || vm.msOrders.length === 0)"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                        <div class="row" ng-if="vm.addNewMS && !vm.newOrder">
                            <div class="col-md-4 option-card-container" ng-repeat="company in vm.medicalSummaryCompanies">
                                <div class="form-card">
                                    <div class="form-group">
                                        <img src="{{company.logo}}" class="option-img" alt="{{company.name}}">
                                    </div>
                                    <div class="hover-order" ng-click="vm.setOrderObject(company)">
                                        <div class="hover-text">
                                            {{company.active ? 'Start Order' : 'Coming Soon!'}} <i class="fa fa-angle-right" ng-if="company.active"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.newOrder && vm.addNewMS">
                            <div class="col-md-12 selected-option-card-container">
                                <h2>Ordering from: </h2> <img src="{{vm.newOrder.logo}}" alt="{{vm.newOrder.name}}" class="small-option-img">
                                <div class="form-card container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div ng-repeat="option in vm.newOrder.orderOptions">
                                                <div class="form-group iCheck" ng-show="!option.hasDependency || (option.hasDependency && vm.newOrder.selectedOptions[option.dependencyField] && vm.newOrder.selectedOptions[option.dependencyField][0] === option.dependencyValue)">
                                                    <span class="dropdown-label">{{option.title}}</span> <i class="fa fa-question info-question" ng-if="option.showHelpBtn" ng-click="vm.showMessage('Custom', option.helpBtnTitle, option.helpBtnText)"></i><br>
                                                    <label ng-repeat="item in option.options">
                                                        <input type="radio" name="orderOption-{{option.name}}" data-isRequired="{{option.isRequired}}" data-requiredValue="{{option.requiredValue}}" ng-checked="item === vm.newOrder.selectedOptions[option.name][0]" checklist-model="vm.newOrder.selectedOptions[option.name]" checklist-value="item" icheck> {{item}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="dropdown-label" ng-class="{ 'missing-req': vm.newOrder.selectedFileCategories.length !== vm.newOrder.fileRequirements.length }">Files to send with this Order:</span><br>
                                            <div ng-if="vm.newOrder.fileRequirements.length === 0">(No files required)</div>
                                            <div ng-if="vm.newOrder.fileRequirements.length > 0">(Required: <button class="btn btn-xs" ng-class="{ 'btn-default': vm.newOrder.selectedFileCategories.indexOf(req) < 0, 'btn-success': vm.newOrder.selectedFileCategories.indexOf(req) > -1 }" style="margin-left:7px"
                                                    ng-repeat="req in vm.newOrder.fileRequirements">{{req}}</button>)</div>
                                            <label ng-repeat="file in vm.privateCaseFiles" ng-if="vm.newOrder.fileRequirements.indexOf(file.category) > -1">
                                                <input type="checkbox" name="orderFileReq-fileRequirements" data-category="{{file.category}}" checklist-model="vm.newOrder.selectedFiles" checklist-value="file" icheck> {{file.name}} <i>({{file.category}})</i>
                                            </label>
                                            <label ng-repeat="file in vm.sharedCaseFiles" ng-if="vm.newOrder.fileRequirements.indexOf(file.category) > -1">
                                                <input type="checkbox" name="orderFileReq-fileRequirements" data-category="{{file.category}}" checklist-model="vm.newOrder.selectedFiles" checklist-value="file" icheck> {{file.name}} <i>({{file.category}})</i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="vm.addNewMS">
                        <button class="btn btn-default" ng-click="vm.cancelOrder('MS')">Cancel</button>
                        <button class="btn btn-primary pmd-btn-outline pull-right" ng-if="vm.newOrder" ng-disabled="vm.newOrder.validOrderOptions.length !== vm.newOrder.orderOptions.length || vm.newOrder.selectedFileCategories.length !== vm.newOrder.fileRequirements.length"
                            ng-click="vm.submitOrder('Medical Summary')">Submit Order</button>
                    </div>
                </div>
                <div class="row" style="margin-top:20px" ng-if="vm.managePage">
                    <div class="col-md-12">
                        <div class="form-group iCheck" style="display:inline">
                            <label>
                                <input type="checkbox" class="custom-check" name="medicalSummaryUploaded" ng-model="vm.policy.medicalSummaryUploaded" icheck>
                                Medical Summary is included in Case Files
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="page-panel" id="pricingReports">
                <div class="row">
                    <span class="panel-title">Pricing Reports</span>
                    <div class="col-md-12" ng-if="vm.prOrders.length > 0">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="order in vm.prOrders">
                                <div class="existing-file-icon">
                                    <a href="{{order.link}}" class="file-links" target="_blank">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="existing-file-name">
                                    {{order.name}}<br>
                                    <i>from {{order.company}}</i>
                                    <div class="form-group" ng-show="order.category">
                                        <div class="btn btn-xs btn-default">Order</div>
                                        <div class="btn btn-xs btn-default" ng-class="{ 'btn-warning': order.orderStatus === 'Pending', 'btn-success': order.orderStatus === 'Processed' }">{{order.orderStatus}}</div>
                                    </div>
                                </div>
                            </div>
                            <b class="btn pmd-btn-outline btn-rounded add-new" ng-class="{ 'btn-primary': !vm.managePage, 'btn-warning': vm.managePage }" ng-click="vm.startOrder('PR')" ng-if="!vm.addNewPR && !vm.viewAsBuyer"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="vm.policy.pricingReportUploaded">
                        <h3 class="highlight-success">
                            <i class="fa fa-info-circle"></i> Please see the Case Files tab at the bottom of this page for Pricing Report
                        </h3>
                    </div>
                    <div class="col-md-12" ng-if="vm.viewAsBuyer && !vm.policy.pricingReportUploaded">
                        <h3 class="important-note">
                            <i class="fa fa-info-circle"></i> You have not provided a Pricing Report to the Buyer at this time. Switch to the Edit View if you wish to add any.
                        </h3>
                    </div>
                    <div class="col-md-12">
                        <b class="btn pmd-btn-outline btn-rounded add-new" ng-class="{ 'btn-primary': !vm.managePage, 'btn-warning': vm.managePage }" ng-click="vm.startOrder('PR')" ng-if="!vm.addNewPR && !vm.viewAsBuyer && (!vm.prOrders || vm.prOrders.length === 0)"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                        <div class="row" ng-if="vm.addNewPR && !vm.newOrder">
                            <div class="col-md-4 option-card-container" ng-repeat="company in vm.pricingCompanies">
                                <div class="form-card">
                                    <div class="form-group">
                                        <img src="{{company.logo}}" class="option-img" alt="{{company.name}}">
                                    </div>
                                    <div class="hover-order" ng-click="vm.setOrderObject(company)">
                                        <div class="hover-text">
                                            {{company.active ? 'Start Order' : 'Coming Soon!'}} <i class="fa fa-angle-right" ng-if="company.active"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.newOrder && vm.addNewPR">
                            <div class="col-md-12 selected-option-card-container">
                                <h2>Ordering from: </h2> <img src="{{vm.newOrder.logo}}" alt="{{vm.newOrder.name}}" class="small-option-img">
                                <div class="form-card container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div ng-repeat="option in vm.newOrder.orderOptions">
                                                <div class="form-group iCheck" ng-show="!option.hasDependency || (option.hasDependency && vm.newOrder.selectedOptions[option.dependencyField] && vm.newOrder.selectedOptions[option.dependencyField][0] === option.dependencyValue)">
                                                    <span class="dropdown-label">{{option.title}}</span> <i class="fa fa-question info-question" ng-if="option.showHelpBtn" ng-click="vm.showMessage('Custom', option.helpBtnTitle, option.helpBtnText)"></i><br>
                                                    <label ng-repeat="item in option.options">
                                                        <input type="radio" name="orderOption-{{option.name}}" data-isRequired="{{option.isRequired}}" data-requiredValue="{{option.requiredValue}}" ng-checked="item === vm.newOrder.selectedOptions[option.name][0]" checklist-model="vm.newOrder.selectedOptions[option.name]" checklist-value="item" icheck> {{item}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="dropdown-label" ng-class="{ 'missing-req': vm.newOrder.selectedFileCategories.length !== vm.newOrder.fileRequirements.length }">Files to send with this Order:</span><br>
                                            <div ng-if="vm.newOrder.fileRequirements.length === 0">(No files required)</div>
                                            <div ng-if="vm.newOrder.fileRequirements.length > 0">(Required: <button class="btn btn-xs" ng-class="{ 'btn-default': vm.newOrder.selectedFileCategories.indexOf(req) < 0, 'btn-success': vm.newOrder.selectedFileCategories.indexOf(req) > -1 }" style="margin-left:7px"
                                                    ng-repeat="req in vm.newOrder.fileRequirements">{{req}}</button>)</div>
                                            <label ng-repeat="file in vm.privateCaseFiles" ng-if="vm.newOrder.fileRequirements.indexOf(file.category) > -1">
                                                <input type="checkbox" name="orderFileReq-fileRequirements" data-category="{{file.category}}" checklist-model="vm.newOrder.selectedFiles" checklist-value="file" icheck> {{file.name}} <i>({{file.category}})</i>
                                            </label>
                                            <label ng-repeat="file in vm.sharedCaseFiles" ng-if="vm.newOrder.fileRequirements.indexOf(file.category) > -1">
                                                <input type="checkbox" name="orderFileReq-fileRequirements" data-category="{{file.category}}" checklist-model="vm.newOrder.selectedFiles" checklist-value="file" icheck> {{file.name}} <i>({{file.category}})</i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="vm.addNewPR">
                        <button class="btn btn-default" ng-click="vm.cancelOrder('PR')">Cancel</button>
                        <button class="btn btn-primary pmd-btn-outline pull-right" ng-if="vm.newOrder" ng-disabled="vm.newOrder.validOrderOptions.length !== vm.newOrder.orderOptions.length || vm.newOrder.selectedFileCategories.length !== vm.newOrder.fileRequirements.length"
                            ng-click="vm.submitOrder('Pricing Report')">Submit Order</button>
                    </div>
                </div>
                <div class="row" style="margin-top:20px" ng-if="vm.managePage">
                    <div class="col-md-12">
                        <div class="form-group iCheck" style="display:inline">
                            <label>
                                <input type="checkbox" class="custom-check" name="pricingReportUploaded" ng-model="vm.policy.pricingReportUploaded" icheck>
                                Pricing Report is included in Case Files
                            </label>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="page-panel" id="lifeExpectancies">
                <div class="row">
                    <span class="panel-title">Life Expectancies</span>
                    <div class="col-md-12" ng-if="vm.leOrders.length > 0">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="order in vm.leOrders">
                                <div class="existing-file-icon">
                                    <a href="{{order.link}}" class="file-links" target="_blank">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="existing-file-name">
                                    {{order.name}}<br>
                                    <i>from {{order.company}}</i>
                                    <div class="form-group" ng-show="order.category">
                                        <div class="btn btn-xs btn-default">Order</div>
                                        <div class="btn btn-xs btn-default" ng-class="{ 'btn-warning': order.orderStatus === 'Pending', 'btn-success': order.orderStatus === 'Processed' }">{{order.orderStatus}}</div>
                                    </div>
                                </div>
                            </div>
                            <b class="btn pmd-btn-outline btn-rounded add-new" ng-class="{ 'btn-primary': !vm.managePage, 'btn-warning': vm.managePage }" ng-click="vm.startOrder('LE')" ng-if="!vm.addNewLE && !vm.viewAsBuyer"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="vm.policy.lifeExpectancyUploaded">
                        <h3 class="highlight-success">
                            <i class="fa fa-info-circle"></i> Please see the Case Files tab at the bottom of this page for Life Expectancy
                        </h3>
                    </div>
                    <div class="col-md-12" ng-if="vm.viewAsBuyer && !vm.policy.lifeExpectancyUploaded">
                        <h3 class="important-note">
                            <i class="fa fa-info-circle"></i> You have not provided any LE reports to the Buyer at this time. Switch to the Edit View if you wish to add any.
                        </h3>
                    </div>
                    <div class="col-md-12">
                        <b class="btn pmd-btn-outline btn-rounded add-new" ng-class="{ 'btn-primary': !vm.managePage, 'btn-warning': vm.managePage }" ng-click="vm.startOrder('LE')" ng-if="!vm.addNewLE && !vm.viewAsBuyer && (!vm.leOrders || vm.leOrders.length === 0)"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                        <div class="row" ng-if="vm.addNewLE && !vm.newOrder">
                            <div class="col-md-6 col-lg-4 option-card-container" ng-repeat="company in vm.leCompanies">
                                <div class="form-card">
                                    <div class="form-group">
                                        <img src="{{company.logo}}" class="option-img" alt="{{company.name}}">
                                    </div>
                                    <div class="hover-order" ng-click="vm.setOrderObject(company)">
                                        <div class="hover-text">
                                            {{company.active ? 'Start Order' : 'Coming Soon!'}} <i class="fa fa-angle-right" ng-if="company.active"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.newOrder && vm.addNewLE">
                            <div class="col-md-12 selected-option-card-container">
                                <h2>Ordering from: </h2> <img src="{{vm.newOrder.logo}}" alt="{{vm.newOrder.name}}" class="small-option-img">
                                <div class="form-card container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div ng-repeat="option in vm.newOrder.orderOptions">
                                                <div class="form-group iCheck" ng-show="!option.hasDependency || (option.hasDependency && vm.newOrder.selectedOptions[option.dependencyField] && vm.newOrder.selectedOptions[option.dependencyField][0] === option.dependencyValue)">
                                                    <span class="dropdown-label">{{option.title}}</span> <i class="fa fa-question info-question" ng-if="option.showHelpBtn" ng-click="vm.showMessage('Custom', option.helpBtnTitle, option.helpBtnText)"></i><br>
                                                    <label ng-repeat="item in option.options">
                                                        <input type="radio" name="orderOption-{{option.name}}" data-isRequired="{{option.isRequired}}" data-requiredValue="{{option.requiredValue}}" ng-checked="item === vm.newOrder.selectedOptions[option.name][0]" checklist-model="vm.newOrder.selectedOptions[option.name]" checklist-value="item" icheck> {{item}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group iCheck">
                                                <span class="dropdown-label" ng-class="{ 'missing-req': vm.newOrder.selectedFileCategories.length !== vm.newOrder.fileRequirements.length }">Files to send with this Order:</span><br>
                                                <div ng-if="vm.newOrder.fileRequirements.length === 0">(No files required)</div>
                                                <div ng-if="vm.newOrder.fileRequirements.length > 0">(Required: <button class="btn btn-xs" ng-class="{ 'btn-default': vm.newOrder.selectedFileCategories.indexOf(req) < 0, 'btn-success': vm.newOrder.selectedFileCategories.indexOf(req) > -1 }" style="margin-left:7px"
                                                        ng-repeat="req in vm.newOrder.fileRequirements">{{req}}</button>)</div>
                                                <label ng-repeat="file in vm.privateCaseFiles" ng-if="vm.newOrder.fileRequirements.indexOf(file.category) > -1">
                                                    <input type="checkbox" name="orderFileReq-fileRequirements" data-category="{{file.category}}" checklist-model="vm.newOrder.selectedFiles" checklist-value="file" icheck> {{file.name}} <i>({{file.category}})</i>
                                                </label>
                                                <label ng-repeat="file in vm.sharedCaseFiles" ng-if="vm.newOrder.fileRequirements.indexOf(file.category) > -1">
                                                    <input type="checkbox" name="orderFileReq-fileRequirements" data-category="{{file.category}}" checklist-model="vm.newOrder.selectedFiles" checklist-value="file" icheck> {{file.name}} <i>({{file.category}})</i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="vm.addNewLE">
                        <button class="btn btn-default pull-left" ng-click="vm.cancelOrder('LE')">Cancel</button>
                        <button class="btn btn-primary pmd-btn-outline pull-right" ng-if="vm.newOrder" ng-disabled="vm.newOrder.validOrderOptions.length !== vm.newOrder.orderOptions.length || vm.newOrder.selectedFileCategories.length !== vm.newOrder.fileRequirements.length"
                            ng-click="vm.submitOrder('Life Expectancy')">Submit Order</button>
                    </div>
                </div>
                <div class="row" style="margin-top:20px" ng-if="vm.managePage">
                    <div class="col-md-12">
                        <div class="form-group iCheck" style="display:inline">
                            <label>
                                <input type="checkbox" class="custom-check" name="lifeExpectancyUploaded" ng-model="vm.policy.lifeExpectancyUploaded" icheck>
                                Life Expectancy is included in Case Files
                            </label>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="page-panel panel-success" ng-if="!vm.viewAsBuyer && !vm.managePage" id="manageBuyers">
                <span class="panel-title">Manage Buyers:</span>
                <div class="container-fluid form-dark">
                    <div class="row" ng-if="vm.policy.buyers && vm.policy.buyers.length > 0">
                        <div class="col-md-12 form-content pmd-table-card">
                            <h3>You have sent this Policy to the following Buyers:</h3>
                            <table class="table form-card table-hover pmd-table">
                                <thead>
                                    <tr>
                                        <th ng-click="vm.sortCol = 'buyer.buyerName'; vm.sortReverse = !vm.sortReverse">
                                            Name
                                            <span ng-show="vm.sortCol == 'buyer.buyerName' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'buyer.buyerName' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'buyer.buyerPhone'; vm.sortReverse = !vm.sortReverse">
                                            Phone
                                            <span ng-show="vm.sortCol == 'buyer.buyerPhone' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'buyer.buyerPhone' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'buyer.buyerEmail'; vm.sortReverse = !vm.sortReverse">
                                            Email
                                            <span ng-show="vm.sortCol == 'buyer.buyerEmail' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'buyer.buyerEmail' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'buyer.addedAt'; vm.sortReverse = !vm.sortReverse">
                                            Added
                                            <span ng-show="vm.sortCol == 'buyer.addedAt' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'buyer.addedAt' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'buyer.buyerInterested'; vm.sortReverse = !vm.sortReverse">
                                            Interested?
                                            <span ng-show="vm.sortCol == 'buyer.buyerInterested' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'buyer.buyerInterested' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th style="text-align: right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="vm.policy.buyers && vm.policy.buyers.length > 0" class="buyer-row" ng-class="{ 'buyer-detail-top': vm.showDetail === buyer.buyerName }" ng-repeat-start="buyer in vm.policy.buyers">
                                        <td data-title="Name:">{{buyer.buyerName ? buyer.buyerName : '&nbsp;'}}</td>
                                        <td data-title="Phone:">{{buyer.buyerPhone ? buyer.buyerPhone : '&nbsp;'}}</td>
                                        <td data-title="Email:">{{buyer.buyerEmail ? buyer.buyerEmail : '&nbsp;'}}</td>
                                        <td data-title="Added:">{{buyer.addedAt | date}}</td>
                                        <td data-title="Interested?">
                                            <div class="form-group iCheck" style="margin-bottom: 0px">
                                                <label>
                                                    <input type="checkbox" notificationText="Has this Buyer expressed interest in this case?" name="buyerInterested" ng-disabled="true" ng-model="buyer.buyerInterested" icheck>
                                                </label>
                                            </div>
                                        </td>
                                        <td data-title="">
                                            <a ui-sref="buyerPolicy({ pid: buyer.publicGuid, bid: buyer.orgGuid, pk: vm.managePage ? vm.policyKey : vm.policyGuid, lvl: vm.managePage ? '' : '2' })" class="pull-right"><button class="btn btn-sm btn-success pmd-btn-outline">Manage <i class="fa fa-angle-right"></i></button></a>
                                            <button class="btn btn-sm btn-success pmd-btn-outline pull-right" ng-click="vm.clickBuyer($event, buyer)" style="margin-right:10px">Details <i class="fa fa-angle-down"></i></button>
                                            <br style="clear:both">
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end class="buyer-detail" ng-cloak ng-show="vm.showDetail === buyer.buyerName">
                                        <td colspan="6" style="text-align: left">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <span class="dropdown-label">Address</span><br>
                                                        <span>{{buyer.buyerAddress.oneLiner ? buyer.buyerAddress.oneLiner : 'n/a'}}</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <span class="dropdown-label">Notes</span><br>
                                                        <span>{{buyer.buyerNotes ? buyer.buyerNotes : 'n/a'}}</span>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:20px">
                                                    <div class="col-md-12">
                                                        <div class="form-group iCheck mb0">
                                                            <span class="dropdown-label">Document Category access for this Policy:</span><br>
                                                            <label ng-repeat="item in vm.fileCategories">
                                                                <input type="checkbox" name="buyerFileCategory" data-buyerName="{{buyer.buyerName}}" checklist-model="buyer.fileCategoryAccess" checklist-value="item" icheck> {{item}}
                                                            </label>
                                                        </div>
                                                        <button style="margin-right:20px;" ng-if="vm.showSave === buyer.buyerName" class="btn btn-sm btn-success pmd-btn-outline" ng-click="vm.updateBuyer(buyer, $index)">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-if="!vm.pickMoreBuyers">
                        <div class="col-md-12">
                            <h3 class="important-note" ng-if="!vm.policy.buyers">
                                <i class="fa fa-warning"></i> You have not sent this Policy to any Buyers yet...
                            </h3>
                            <b class="btn btn-success pmd-btn-outline btn-rounded add-new" ng-click="vm.pickMoreBuyers = true" ng-if="!vm.policy.buyers"><i class="fa fa-paper-plane-o" style="margin-right: 10px;"></i><span>Send to<br>Buyers</span></b>
                            <button class="btn btn-success pmd-btn-outline btn-md" style="margin-top:20px" ng-click="vm.pickMoreBuyers = true" ng-if="vm.policy.buyers && vm.policy.buyers.length > 0"><i class="fa fa-paper-plane-o"></i> Send to More Buyers</button>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.pickMoreBuyers === true">
                        <div class="col-md-12">
                            <div class="form-group form-card iCheck offer-admin-group" style="position:relative">
                                <span class="dropdown-label">Select the Buyers you want to submit this Policy to:</span>
                                <label ng-if="vm.buyers.length > 0">
                                    <input type="checkbox" class="buyer-check" name="sendToAllBuyers" ng-model="vm.sendToAllBuyers" icheck>
                                    Select All
                                </label>
                                <ui-select ng-if="vm.buyers.length > 0" multiple id="buyers-select" close-on-select="false" class="hasLabel" ng-model="vm.selectedBuyers" theme="bootstrap" on-remove="vm.sendToAllBuyers = false" on-select="vm.onSelectCallback('buyers')" title="Buyers">
                                    <ui-select-match placeholder="Select an Option">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="buyer in vm.buyers | filter: $select.search">
                                        <span ng-bind-html="buyer.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if="!vm.buyers || vm.buyers.length === 0">
                                    <h3 class="important-note">No buyers set up</h3>
                                </div>
                                <br>
                                <button class="btn btn-default pmd-btn-outline pull-left" ng-click="vm.selectedBuyers = []; vm.sendToAllBuyers = false; vm.pickMoreBuyers = false">Cancel</button>
                                <button ng-if="!vm.buyers || vm.buyers.length === 0" class="btn btn-success pmd-btn-outline btn-md pull-right" ng-click="vm.goTo('buyers')">Set Up Buyers <i class="fa fa-angle-right"></i></button>
                                <button ng-if="vm.buyers.length > 0" class="btn btn-success pmd-btn-outline btn-md pull-right" style="opacity: 1" ng-disabled="vm.selectedBuyers.length === 0" ng-click="vm.submitToBuyers()">Next <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-panel" ng-class="{ 'inactive-panel': vm.managePage }" id="messages">
                <span class="panel-title">Messages</span>
                <div class="container-fluid form-dark" ng-if="vm.managePage">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="important-note">This section will be active for logged-in Buyers, and will display messages between you and that specific Buyer.</h3>
                        </div>
                    </div>
                </div>
                <div class="container-fluid form-dark" ng-if="!vm.managePage">
                    <div class="row">
                        <div class="col-md-12 policy-notes" ng-repeat="publicNote in vm.policy.publicNotes" ng-if="!publicNote.isDeleted">
                            <div class="note-text" ng-class="{ 'strikethrough': publicNote.isDeleted }">{{publicNote.note}}</div>
                            <span class="created-by">From <span class="created-by-name">{{publicNote.createdBy}}</span> ({{publicNote.createdByRole}}) on {{publicNote.createdAt | date:'M/d/yy @ h:mm a'}}
                            <span class="pull-right" ng-if="publicNote.createdById === vm.currentUser.auth.uid && !publicNote.isDeleted" ng-click="vm.removePublicNote($index)"><i class="fa fa-close"></i></span>
                            </span>
                        </div>
                        <div class="col-md-12 policy-new-notes">
                            <textarea name="funder-note" class="policy-new-note" cols="30" rows="10" ng-model="vm.newPublicNote" placeholder="Add a note to the {{vm.isBuyer && !vm.managePage && !vm.viewAsBuyer ? 'Supplier' : 'Buyer'}} here..."></textarea>
                            <button class="btn btn-primary pmd-btn-outline pull-right btn-rounded" ng-click="vm.saveNewPublicNote()" ng-show="vm.newPublicNote && vm.newPublicNote !==''">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="page-panel">
                <div class="row">
                    <div class="col-md-12">
                        <pre>{{vm.dataToSend | json}}</pre>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-md-4">
            <div class="page-panel" ng-class="{ 'admin-panel': !vm.policy.policyConfirmed, 'success-panel': vm.policy.policyConfirmed }" ng-if="vm.managePage">
                <div class="row">
                    <span class="panel-title">{{vm.policy.policyConfirmed ? 'Buyer View Confirmed' : 'Confirm Buyer View' }}</span>
                    <div class="col-md-12">
                        <h3 class="mt0">IMPORTANT!!! Buyers cannot receive access to this Policy until you click "Confirm" below. Please review/edit the contents of this page. <i class="fa fa-question info-question" ng-click="vm.showMessage('Confirm Buyer View')"></i></h3>
                        <a ui-sref="policy({ pid: vm.policyKey })" class="pull-left"><button class="btn btn-default"><i class="fa fa-angle-left"></i> Back to Policy</button></a>
                        <button class="btn pmd-btn-outline pull-right" ng-class="{ 'btn-success': vm.policy.policyConfirmed, 'btn-warning': !vm.policy.policyConfirmed }" ng-click="vm.confirmPolicy()"><i class="fa fa-check" ng-if="vm.policy.policyConfirmed"></i> Confirm{{vm.policy.policyConfirmed ? 'ed' : ''}}</button>
                    </div>
                </div>
            </div>
            <div class="page-panel admin-panel" ng-if="vm.isBuyer && !vm.viewAsBuyer && !vm.managePage">
                <div class="row">
                    <span class="panel-title">Supplier Details</span>
                    <div class="col-md-12">
                        <h3 class="mt0">This Policy was sent to you from the following Supplier:</h3>
                        <div class="form-card" style="padding-left:20px;padding-right:20px">
                            <b>Name:</b> {{vm.supplier.orgName}}<br>
                            <b>Phone:</b> {{vm.supplier.phone ? vm.supplier.phone : 'n/a'}}<br> <b>Fax:</b> {{vm.supplier.fax ? vm.supplier.fax : 'n/a'}}<br> <b>Email:</b> <a href="mailto:{{vm.supplier.email}}">{{vm.supplier.email}}</a>
                        </div>
                        <p>You can manage direct communication with this Supplier using the Messages panel below, review any Case Files at the bottom of this page, or make an Offer.</p>
                        <p>If you want to order your own documents (Medical Summary, Pricing Reports or Life Expectancies) for case pricing, you can do so in each respective panel.</p>
                    </div>
                </div>
            </div>
            <div class="page-panel admin-panel" ng-if="vm.viewAsBuyer && !vm.lvl">
                <div class="row">
                    <span class="panel-title">Buyer View</span>
                    <div class="col-md-12">
                        <h3 class="mt0">This page shows exactly what the following Buyer sees:</h3>
                        <div class="form-card" style="padding-left:20px;padding-right:20px">
                            <b>Name:</b> {{vm.currentBuyer.buyerName}}<br>
                            <b>Phone:</b> {{vm.currentBuyer.buyerPhone ? vm.currentBuyer.buyerPhone : 'n/a'}}<br>
                            <b>Fax:</b> {{vm.currentBuyer.buyerFax ? vm.currentBuyer.buyerFax : 'n/a'}}<br>
                            <b>Email:</b> <a href="mailto:{{vm.currentBuyer.buyerEmail}}">{{vm.currentBuyer.buyerEmail}}</a><br>
                            <b>Viewed?</b> <span ng-if="vm.currentBuyer.hasViewedPolicy">Yes - {{vm.currentBuyer.viewedPolicyAt | date:'M/d/yy @ h:mm a'}}</span><span ng-if="!vm.currentBuyer.hasViewedPolicy">Not Yet</span><br>
                            <button class="btn btn-default pmd-btn-outline btn-xs" style="margin-top:13px" ng-click="vm.resendInvite()">Re-send Email Link</button>
                        </div>
                        <p>From here, you can manage direct communication with this Buyer using the Messaging panel below, and review offers in the Offers panel. The rest of the data is visible to all Buyers, and can be edited by switching to the Edit View.</p>
                        <br>
                        <a ui-sref="policy({ pid: vm.policyKey })" class="pull-left"><button class="btn btn-default"><i class="fa fa-angle-left"></i> Back to Policy</button></a>
                        <a ui-sref="buyerPolicy({ pid: '', bid: '', pk: vm.policyKey })" ui-sref-opts="{reload: true}" class="pull-right"><button class="btn btn-default"><i class="fa fa-retweet"></i> Edit View</button></a>
                    </div>
                </div>
            </div>
            <div class="page-panel admin-panel" ng-if="vm.viewAsBuyer && vm.lvl">
                <div class="row">
                    <span class="panel-title">Buyer View</span>
                    <div class="col-md-12">
                        <h3 class="mt0">This page shows exactly what the following Buyer sees:</h3>
                        <div class="form-card" style="padding-left:20px;padding-right:20px">
                            <b>Name:</b> {{vm.currentBuyer.buyerName}}<br>
                            <b>Phone:</b> {{vm.currentBuyer.buyerPhone ? vm.currentBuyer.buyerPhone : 'n/a'}}<br>
                            <b>Fax:</b> {{vm.currentBuyer.buyerFax ? vm.currentBuyer.buyerFax : 'n/a'}}<br>
                            <b>Email:</b> <a href="mailto:{{vm.currentBuyer.buyerEmail}}">{{vm.currentBuyer.buyerEmail}}</a><br>
                            <button class="btn btn-default pmd-btn-outline btn-xs" style="margin-top:13px" ng-click="vm.resendInvite()">Re-send Email Link</button>
                        </div>
                        <p>From here, you can manage direct communication with this Buyer using the Messaging panel below, and review offers in the Offers panel. The rest of the data is visible to all Buyers, and can be edited by switching to the Edit View.</p>
                        <br>
                        <a ui-sref="buyerPolicy({ pid: vm.policyKey, bid: vm.currentUser.org.orgGuid, pk: '', lvl: '' })" ui-sref-opts="{reload: true}" class="pull-left"><button class="btn btn-default"><i class="fa fa-angle-left"></i> Back to Policy</button></a>
                    </div>
                </div>
            </div>
            <div class="page-panel panel-success" id="insuredBMI">
                <div class="tabs" style="margin-top:-20px">
                    <ul style="display:inline">
                        <li class="active tab-button"><a href="#tab-1"><i class="fa fa-user"></i> Primary</a></li>
                        <li class="tab-button" ng-if="vm.policy.insured.secondaryInsured && vm.policy.insured.secondaryInsured[0] === 'Yes'"><a href="#tab-2"><i class="fa fa-user"></i> Secondary</a></li>
                    </ul>
                    <div id='tab-1' style="border-bottom:none">
                        <div class="human-info container-fluid" style="text-align: center">
                            <h1 class="highlight-success">{{(vm.policy.insured.gender) ? vm.policy.insured.gender[0].name : '&nbsp;'}}{{(vm.insuredAge) ? ', ' + vm.insuredAge + ' years old' : '&nbsp;'}}
                                <br><span class="sub-dob">DOB: {{vm.policy.insured.dateOfBirth}}</span></h1>
                            <span class="sil-container">
                                <!-- <img src="../../images/sils/male.jpeg"> -->
                                <img style="width:100%" src="../../images/bmi-chart.gif">
                            </span>
                            <h3 class="important-note" ng-if="(!vm.policy.insured.bmiHistory || vm.policy.insured.bmiHistory.length === 0) && !vm.editHumanInfo">
                                <i class="fa fa-warning"></i> No BMI data has been provided for the Insured
                            </h3>
                            <table class="table form-card table-hover pmd-table" ng-if="vm.policy.insured.bmiHistory && vm.policy.insured.bmiHistory.length > 0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Height</th>
                                        <th>Weight</th>
                                        <th>BMI</th>
                                        <th ng-if="vm.managePage" style="text-align: right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="b in vm.policy.insured.bmiHistory | orderBy:'dateTaken':true">
                                        <td data-title="Date Taken:">{{b.dateTaken | date}}</td>
                                        <td data-title="Height:">{{b.height}}</td>
                                        <td data-title="Weight:">{{b.weight}}</td>
                                        <td data-title="BMI:">{{b.bmi}} <i>{{b.bmiClass ? '(' + b.bmiClass + ')' : ''}}</i></td>
                                        <td style="text-align: right" ng-if="vm.managePage" data-title="Action:"><button class="btn btn-xs pmd-btn-outline btn-success" ng-click="vm.editBMI(b,'insured')">Edit</button> <button class="btn btn-xs pmd-btn-outline btn-danger" style="margin-left:15px" ng-click="vm.removeBMI(b,'insured')"><i class="fa fa-close"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" style="margin-top:20px; text-align: left;" ng-if="!vm.editHumanInfo">
                                <div class="col-md-12" ng-if="vm.managePage">
                                    <b class="btn btn-warning pmd-btn-outline btn-rounded add-new" ng-click="vm.editHumanInfo = true"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                                </div>
                            </div>
                        </div>
                        <div class="row form-dark" style="margin-top:30px" ng-show="vm.editHumanInfo">
                            <div class="col-md-10 col-md-offset-1 form-content form-card">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" ng-model="vm.bmiUpdatedAt" placeholder="Date Taken">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.heightFt" placeholder="Height (ft)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.heightIn" placeholder="Height (in)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.weight" placeholder="Weight (in pounds)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group off-card-btn-row">
                                    <button class="btn btn-default pull-left" ng-click="vm.editHumanInfo = false">Cancel</button>
                                    <button class="btn btn-warning pull-right pmd-btn-outline" ng-click="vm.saveBMIUpdate('insured')">Save <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='tab-2' style="border-bottom:none">
                        <div class="human-info table-responsive container-fluid" style="text-align: center">
                            <h1 class="highlight-danger" ng-if="vm.policy.secondaryInsured.isDeceased === 'Yes'">Deceased</h1>
                            <h1 class="highlight-success" ng-if="!vm.policy.secondaryInsured.isDeceased || vm.policy.secondaryInsured.isDeceased === 'No'">{{(vm.policy.secondaryInsured.gender) ? vm.policy.secondaryInsured.gender[0].name : '&nbsp;'}}{{(vm.secondaryInsuredAge) ? ', ' + vm.secondaryInsuredAge + ' years old' : '&nbsp;'}}
                                <br><span class="sub-dob">DOB: {{vm.policy.secondaryInsured.dateOfBirth}}</span>
                            </h1>
                            <span class="sil-container">
                                <!-- <img src="../../images/sils/male.jpeg"> -->
                                <img style="width:100%" src="../../images/bmi-chart.gif">
                            </span>
                            <h3 class="important-note" ng-if="(!vm.policy.secondaryInsured.bmiHistory || vm.policy.secondaryInsured.bmiHistory.length === 0) && !vm.editHumanInfo">
                                <i class="fa fa-warning"></i> No BMI data has been provided for the Secondary
                            </h3>
                            <table class="table form-card table-bordered pmd-table" ng-if="vm.policy.secondaryInsured.bmiHistory && vm.policy.secondaryInsured.bmiHistory.length > 0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Height</th>
                                        <th>Weight</th>
                                        <th>BMI</th>
                                        <th ng-if="vm.managePage" style="text-align: right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="b in vm.policy.secondaryInsured.bmiHistory | orderBy:'dateTaken':true">
                                        <td>{{b.dateTaken | date}}</td>
                                        <td>{{b.height}}</td>
                                        <td>{{b.weight}}</td>
                                        <td>{{b.bmi}} <i>{{b.bmiClass ? '(' + b.bmiClass + ')' : ''}}</i></td>
                                        <td style="text-align: right" ng-if="vm.managePage"><button class="btn btn-xs pmd-btn-outline btn-success" ng-click="vm.editBMI(b,'secondaryInsured')">Edit</button> <button class="btn btn-xs pmd-btn-outline btn-danger" style="margin-left:15px" ng-click="vm.removeBMI(b,'secondaryInsured')"><i class="fa fa-close"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" style="margin-top:20px; text-align: left;" ng-if="!vm.editHumanInfo">
                                <div class="col-md-12" ng-if="vm.managePage">
                                    <b class="btn btn-warning pmd-btn-outline btn-rounded add-new" ng-click="vm.editHumanInfo = true"><i class="fa fa-plus"></i><span>Add<br>New</span></b>
                                </div>
                            </div>
                        </div>
                        <div class="row form-dark" style="margin-top:30px" ng-show="vm.editHumanInfo">
                            <div class="col-md-10 col-md-offset-1 form-content form-card">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" ng-model="vm.bmiUpdatedAt" placeholder="Date Taken">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.heightFt" placeholder="Height (ft)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.heightIn" placeholder="Height (in)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.weight" placeholder="Weight (in pounds)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group off-card-btn-row">
                                    <button class="btn btn-default pull-left" ng-click="vm.editHumanInfo = false">Cancel</button>
                                    <button class="btn btn-warning pull-right pmd-btn-outline" ng-click="vm.saveBMIUpdate('secondaryInsured')">Save <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-panel" ng-class="{ 'inactive-panel': vm.managePage, 'success-panel': vm.isBuyer && !vm.viewAsBuyer && !vm.managePage }" id="offers">
                <span class="panel-title">Offers</span>
                <div class="container-fluid form-dark" ng-if="vm.managePage">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="important-note">This section will be active for logged-in Buyers, and will hold any submitted Offers they have made.</h3>
                        </div>
                    </div>
                </div>
                <div class="container-fluid form-dark" ng-if="!vm.managePage">
                    <div class="row" ng-if="!vm.addOffer && !vm.editingOffer && (!vm.offers || vm.offers.length === 0)">
                        <div class="col-md-12">
                            <h3 class="important-note">{{(vm.isBuyer && !vm.viewAsBuyer) ? 'You have' : 'The Buyer has'}} not placed any Offers yet</h3>
                        </div>
                    </div>
                    <div class="row" ng-if="!vm.addOffer && !vm.editingOffer && !vm.pickBuyers && vm.offers && vm.offers.length > 0">
                        <div class="col-md-12">
                            <h2>Current Offers:</h2>
                            <br>
                            <div class="col-md-10 col-md-offset-1 form-content form-card" style="margin-bottom: 40px; position:relative" ng-repeat="offer in vm.offers">
                                <div class="form-group mb0">
                                    <h2 ng-class="{ 'highlight-success': !offer.isTrackingOffer, 'important-note': offer.isTrackingOffer }">{{offer.offerAmount | currency:'$':0.0}}<i class="pull-right fa fa-compass" title="Tracking Offer" ng-if="offer.isTrackingOffer"></i></h2>
                                    <p><i class="fa fa-clock-o tracking-offer-indicator"></i> <i>{{offer.isTrackingOffer ? 'Tracking Offer entered' : 'Offer sent'}} on {{offer.offerSentAt | date:'M/d/yy @ h:mm a'}}</i></p>
                                    <p><i class="fa fa-user-o"></i> <i>by {{offer.offerSentBy}}</i></p>
                                    <p><b>Retained Death Benefit?</b> {{offer.rdb ? offer.rdb[0] : 'No'}}</p>
                                    <p ng-if="offer.rdb[0] === 'Yes'"><b>RDB Amount:</b> {{offer.rdbAmount | currency:'$':0.0}}</p>
                                    <p ng-if="offer.note && vm.isBuyer && !vm.viewAsBuyer"><i>Note from {{offer.isTrackingOffer ? 'Supplier' : 'Buyer'}}:</i></p>
                                    <p ng-if="offer.note && vm.isBuyer && !vm.viewAsBuyer">{{offer.note}}</p>
                                </div>
                                <div class="form-group off-card-btn-row">
                                    <button class="btn btn-danger pmd-btn-outline pull-left" ng-click="vm.retractOffer(offer)" ng-if="(vm.isBuyer && !vm.viewAsBuyer) || offer.offerSentById === vm.currentUser.auth.uid">Retract <i class="fa fa-close"></i></button>
                                    <!-- <button class="btn btn-warning pull-left pmd-btn-outline" ng-click="vm.editOffer(offer)" ng-if="!vm.isBuyer && offer.offerSentById !== vm.currentUser.auth.uid">Counter <i class="fa fa-arrow-circle-o-left"></i></button> -->
                                    <button class="btn btn-success pull-right pmd-btn-outline" ng-click="vm.editOffer(offer)" ng-if="(vm.isBuyer && !vm.viewAsBuyer) || offer.offerSentById === vm.currentUser.auth.uid">Revise{{offer.isTrackingOffer && vm.isBuyer && !vm.lvl && !vm.viewAsBuyer ? '/Approve' : ''}} <i class="fa fa-angle-right"></i></button>
                                    <!-- <button class="btn btn-success pull-right pmd-btn-outline" ng-click="vm.editOffer(offer)" ng-if="!vm.isBuyer && offer.offerSentById !== vm.currentUser.auth.uid">Accept <i class="fa fa-check"></i></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:50px" ng-if="vm.pickBuyers === true">
                        <div class="col-md-12">
                            <div class="form-group form-card iCheck offer-admin-group" style="position:relative">
                                <span class="dropdown-label">Select the Buyers you want to submit this Policy to:</span>
                                <label ng-if="vm.buyers.length > 0">
                                    <input type="checkbox" class="buyer-check" name="sendToAllBuyers" ng-model="vm.sendToAllBuyers" icheck>
                                    Select All
                                </label>
                                <ui-select ng-if="vm.buyers.length > 0" multiple id="buyers-select" close-on-select="false" class="hasLabel" ng-model="vm.selectedBuyers" theme="bootstrap" on-remove="vm.sendToAllBuyers = false" on-select="vm.onSelectCallback('buyers')" title="Buyers">
                                    <ui-select-match placeholder="Select an Option">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="buyer in vm.buyers | filter: $select.search">
                                        <span ng-bind-html="buyer.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if="!vm.buyers || vm.buyers.length === 0">
                                    <h3 class="important-note">No buyers set up</h3>
                                </div>
                                <br>
                                <button class="btn btn-default pmd-btn-outline pull-left" ng-click="vm.selectedBuyers = []; vm.sendToAllBuyers = false; vm.pickBuyers = false">Cancel</button>
                                <button ng-if="!vm.buyers || vm.buyers.length === 0" class="btn btn-success pmd-btn-outline btn-md pull-right" ng-click="vm.goTo('buyers')">Set Up Buyers <i class="fa fa-angle-right"></i></button>
                                <button ng-if="vm.buyers.length > 0" class="btn btn-success pmd-btn-outline btn-md pull-right" style="opacity: 1" ng-disabled="vm.selectedBuyers.length === 0" ng-click="vm.submitToBuyers()">Next <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-12" ng-if="!vm.addOffer && !vm.editingOffer && !vm.pickBuyers && vm.isBuyer && !vm.lvl && !vm.viewAsBuyer">
                            <b class="btn btn-success pmd-btn-outline btn-rounded add-new" ng-click="vm.addNewOffer()"><i class="fa fa-plus" style="margin-right: 5px;"></i><span>Add New<br>Offer</span></b>
                        </div>
                        <div class="col-md-12" ng-if="!vm.addOffer && !vm.editingOffer && !vm.pickBuyers && (vm.viewAsBuyer || (vm.isBuyer && vm.lvl)) ">
                            <b class="btn btn-success pmd-btn-outline btn-rounded add-new" ng-click="vm.addOfferOnBehalfOfBuyer()"><i class="fa fa-plus" style="margin-right: 5px;"></i><span>Add New<br>Offer</span></b>
                        </div>
                        <div class="col-md-10 col-md-offset-1 form-content form-card" id="newOffer" ng-show="vm.addOffer || vm.editingOffer">
                            <div class="form-group">
                                <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newOffer.offerAmount" placeholder="Offer Amount">
                            </div>

                            <div class="form-group iCheck" style="margin-bottom:20px">
                                <span class="dropdown-label">Retained Death Benefit? (RDB)</span><br>
                                <label ng-repeat="item in vm.yesNo">
                                    <input type="radio" name="rdb" ng-checked="item === vm.newOffer.rdb[0]" checklist-model="vm.newOffer.rdb" checklist-value="item" icheck> {{item}}
                                </label>
                            </div>

                            <div class="form-group" ng-show="vm.newOffer.rdb[0] === 'Yes'">
                                <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newOffer.rdbAmount" placeholder="RDB Amount">
                            </div>

                            <div class="form-group">
                                <textarea type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newOffer.note" placeholder="Note"></textarea>
                            </div>

                            <div class="form-group off-card-btn-row">
                                <button class="btn btn-default pull-left" ng-click="vm.cancelOffer()">Cancel</button>
                                <button class="btn btn-success pull-right pmd-btn-outline" ng-click="vm.submitOffer()" ng-if="vm.addOffer">Submit <i class="fa fa-angle-right"></i></button>
                                <button class="btn btn-success pull-right pmd-btn-outline" ng-click="vm.updateOffer()" ng-if="vm.editingOffer">{{(vm.newOffer.isTrackingOffer && vm.newOffer.offerSentById !== vm.currentUser.auth.uid) ? 'Approve' : 'Update'}} <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-panel" ng-if="vm.isBuyer && vm.policy.buyers && vm.policy.buyers.length > 0" ng-class="{ 'inactive-panel': vm.managePage, 'success-panel': vm.isBuyer && !vm.viewAsBuyer && !vm.managePage }" id="downlineOffers">
                <span class="panel-title">Offers from My Buyers</span>
                <div class="container-fluid form-dark" ng-if="vm.managePage">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="important-note">This section will be active for logged-in Buyers, and will hold any Offers submitted by their private network of Buyers.</h3>
                        </div>
                    </div>
                </div>
                <div class="container-fluid form-dark" ng-if="!vm.managePage">
                    <div class="row" ng-if="(!vm.downlineOffers || vm.downlineOffers.length === 0)">
                        <div class="col-md-12">
                            <h3 class="important-note">None of your Buyers have submitted Offers yet</h3>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.downlineOffers && vm.downlineOffers.length > 0">
                        <div class="col-md-12">
                            <h2>Current Offers:</h2>
                            <div class="col-md-10 col-md-offset-1 form-content form-card" style="margin-bottom: 40px" ng-repeat="offer in vm.downlineOffers">
                                <div class="form-group mb0">
                                    <h2 ng-class="{ 'highlight-success': !offer.isTrackingOffer, 'important-note': offer.isTrackingOffer }">{{offer.offerAmount | currency:'$':0.0}}<i class="pull-right fa fa-compass" title="Tracking Offer" ng-if="offer.isTrackingOffer"></i></h2>
                                    <p><b>From:</b> {{offer.offerSentBy}} <span ng-if="offer.isTrackingOffer">on behalf of {{offer.offerSentOnBehalfOf}} <i>(Tracking Offer)</i></span></p>
                                    <p><b>Received:</b> {{offer.offerSentAt | date:'M/d/yy @ h:mm a'}}</p>
                                    <p><b>Retained Death Benefit?</b> {{offer.rdb ? offer.rdb[0] : 'No'}}</p>
                                    <p ng-if="offer.rdb && offer.rdb[0] === 'Yes'"><b>RDB Amount:</b> {{offer.rdbAmount | currency:'$':0.0}}</p>
                                </div>
                                <div class="form-group off-card-btn-row">
                                    <a ui-sref="buyerPolicy({ pid: offer.publicGuid, bid: offer.orgGuid, pk: vm.managePage ? vm.policyKey : vm.policyGuid, lvl: vm.managePage ? '' : '2' })" class="pull-right"><button class="btn btn-success pmd-btn-outline">View <i class="fa fa-angle-right"></i></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FILES PANEL -->
    <div class="row">
        <div class="tabs">
            <ul style="display:inline">
                <li class="tab-button active" ng-class="{ 'inactive-panel': vm.managePage }"><a href="#tab-1"><i class="fa fa-files-o"></i> Case Files</a></li>
            </ul>
            <span>
                <input type="file" name="case-file" id="case-file" class="inputfile" ng-model="vm.newCaseFiles" ng-upload-change="vm.fileChanged('case',$event)" multiple />
                <label for="case-file" ng-if="!vm.managePage && !vm.viewAsBuyer"><b class="btn btn-primary pmd-btn-outline btn-rounded add-new"><i class="fa fa-upload"></i> Add<br>New</b></label>
            </span>
            <span ng-if="(!vm.managePage && !vm.viewAsBuyer && vm.privateCaseFiles) || (!vm.viewAsBuyer && vm.sharedCaseFiles)">
                <button class="btn btn-success pmd-btn-outline btn-rounded add-new" style="margin-left:10px" ng-click="vm.downloadAll('case')"><i class="fa fa-download"></i> Download<br>All Files</button>
            </span>
            <div id='tab-1' style="border-top:1px solid #ccc">
                <div class="container-fluid form-dark" ng-if="vm.managePage">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="important-note">This section will be active for logged-in Buyers, and will display any Case Files they have access to.<br>Case Files are added from the main Policy View, and access is granted on a per-Buyer basis from the "Manage Buyers" section
                                on that page as well.</h3>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" ng-if="(vm.isBuyer || vm.viewAsBuyer) && !vm.managePage">
                    <div class="row">
                        <div class="col-md-12" ng-if="(!vm.sharedCaseFiles || vm.sharedCaseFiles.length === 0) && (!vm.privateCaseFiles || vm.privateCaseFiles.length === 0)">
                            <h3 class="important-note"><i class="fa fa-warning"></i> There are no files currently available for this Case</h3>
                        </div>
                        <div class="col-md-6" ng-repeat="file in vm.sharedCaseFiles | filter:myFiles as filtered" ng-if="file.type !== 'order' && ((file.fromSupplier && file.uploadedByOrgKey !== vm.currentUser.org.$id) || vm.viewAsBuyer)">
                            <!-- These are files from the Supplier. Both the Buyer and Supplier have access to view these. Any Ordered files that were passed down to the Buyer will be shown in the appropriate section above -->
                            <div class="existing-file-icon">
                                <a href="{{file.link}}" class="file-links" target="_blank">
                                    <i class="fa" ng-class="{ 
                                        'fa-shopping-cart': file.type === 'order' && file.orderStatus === 'Pending', 
                                        'fa-file-o': file.type === 'order' && file.orderStatus === 'Processed', 
                                        'fa-file-o': file.type.indexOf('octet-stream') > -1 || !file.type,
                                        'fa-file-image-o': file.type.indexOf( 'image')> -1, 
                                        'fa-file-word-o': file.type.indexOf('word') > -1, 
                                        'fa-file-excel-o': file.type.indexOf('spreadsheet') > -1 || file.type.indexOf('excel') > -1, 
                                        'fa-file-archive-o': file.type.indexOf('zip') > -1, 
                                        'fa-file-archive-o': file.type.indexOf('zip') > -1, 
                                        'fa-file-text-o': file.type.indexOf('text') > -1, 
                                        'fa-file-pdf-o': file.type.indexOf('pdf') > -1 
                                    }"></i>
                                </a>
                                <div class="form-blockchain">
                                    <img class="blockchain blockchain-case" title="Blockchain verification status: {{(file.blockchain) ? ((file.blockchain.btc.status === 'valid' || file.blockchain.eth.status === 'valid') ? 'valid' : ((file.blockchain.btc.status === 'pending' || file.blockchain.eth.status === 'pending') ? 'pending' : 'invalid')) : 'n/a'}}"
                                        src="../../images/icons/btc-{{(file.blockchain && (file.blockchain.btc.status === 'valid' || file.blockchain.eth.status === 'valid')) ? '' : 'in'}}valid.png" alt="Blockchain" class="blockchain-icon">
                                </div>
                            </div>
                            <div class="existing-file-name form-content">
                                <a href="{{file.link}}" class="file-links" target="_blank">{{file.name}}</a><br>File Category:
                                <div class="form-group mb0" ng-show="file.category">
                                    <div class="btn btn-xs btn-default">{{file.category}} {{(file.fromSupplier && file.uploadedByOrgKey !== vm.currentUser.org.$id) ? '(from Supplier)' : (file.uploadedByOrgKey === vm.currentUser.org.$id) ? '(from My Org)' : (file.fromBuyer) ? '(from Supplier)'
                                        : '(from Buyer)'}}</div>
                                </div>
                                <!-- <div class="form-group iCheck" ng-if="vm.buyers && vm.buyers.length > 0 && !vm.viewAsBuyer">
                                    <label>
                                        <input type="checkbox" class="custom-check" data-idx="{{$index}}" name="hiddenFromBuyers" ng-model="file.hiddenFromBuyers" icheck>
                                        Block all Buyers from viewing this file
                                    </label>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6" ng-repeat="file in vm.privateCaseFiles" ng-if="file.type !== 'order'">
                            <!-- These are files the Buyer has uploaded. Only the Buyer has access to view these. If the Buyer has sub-Buyers, he can choose to distribute these Private Files as needed. Any Ordered files for the Buyer will be shown in the appropriate section above -->
                            <div class="existing-file-icon">
                                <a href="{{file.link}}" class="file-links" target="_blank">
                                    <i class="fa" ng-class="{ 
                                        'fa-shopping-cart': file.type === 'order' && file.orderStatus === 'Pending', 
                                        'fa-file-o': file.type === 'order' && file.orderStatus === 'Processed', 
                                        'fa-file-o': file.type.indexOf('octet-stream') > -1 || !file.type,
                                        'fa-file-image-o': file.type.indexOf( 'image')> -1, 
                                        'fa-file-word-o': file.type.indexOf('word') > -1, 
                                        'fa-file-excel-o': file.type.indexOf('spreadsheet') > -1 || file.type.indexOf('excel') > -1, 
                                        'fa-file-archive-o': file.type.indexOf('zip') > -1, 
                                        'fa-file-archive-o': file.type.indexOf('zip') > -1, 
                                        'fa-file-text-o': file.type.indexOf('text') > -1, 
                                        'fa-file-pdf-o': file.type.indexOf('pdf') > -1 
                                    }"></i>
                                </a>
                                <i class="fa fa-trash-o delete-file" ng-click="vm.removeFile('case', file, $index)"></i>
                                <div class="form-blockchain">
                                    <img class="blockchain blockchain-case" title="Blockchain verification status: {{(file.blockchain) ? ((file.blockchain.btc.status === 'valid' || file.blockchain.eth.status === 'valid') ? 'valid' : ((file.blockchain.btc.status === 'pending' || file.blockchain.eth.status === 'pending') ? 'pending' : 'invalid')) : 'n/a'}}"
                                        src="../../images/icons/btc-{{(file.blockchain && (file.blockchain.btc.status === 'valid' || file.blockchain.eth.status === 'valid')) ? '' : 'in'}}valid.png" alt="Blockchain" class="blockchain-icon">
                                </div>
                            </div>
                            <div class="existing-file-name form-content">
                                <a href="{{file.link}}" class="file-links" target="_blank">{{file.name}}</a><br>File Category:
                                <div class="form-group mb0">
                                    <ui-select id="category-select" class="file-category-select" ng-model="file.category" theme="bootstrap" style="width: 250px" on-select="vm.updateFileMetadata('case', file, $index)" title="File Category">
                                        <ui-select-match placeholder="Select a File Category">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.fileCategories | filter: $select.search">
                                            <span ng-bind-html="item | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group iCheck">
                                    <label style="margin-bottom:0px">
                                        <input type="checkbox" class="custom-check" data-idx="{{$index}}" name="hiddenFromSupplier" ng-model="file.hiddenFromSupplier" icheck>
                                        Block Supplier from viewing this file
                                    </label><br>
                                    <label ng-if="vm.buyers && vm.buyers.length > 0">
                                        <input type="checkbox" class="custom-check" data-idx="{{$index}}" name="hiddenFromBuyers" ng-model="file.hiddenFromBuyers" icheck>
                                        Block all Buyers from viewing this file
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-repeat="file in vm.newCaseFiles">
                            <div class="new-file-icon">
                                <i class="fa" ng-class="{
                                        'fa-shopping-cart': file.type === 'order',
                                        'fa-file-o': file.type.indexOf('octet-stream') > -1 || !file.type,
                                        'fa-file-image-o': file.type.indexOf('image') > -1,
                                        'fa-file-word-o': file.type.indexOf('word') > -1,
                                        'fa-file-excel-o': file.type.indexOf('spreadsheet') > -1 || file.type.indexOf('excel') > -1,
                                        'fa-file-archive-o': file.type.indexOf('zip') > -1,
                                        'fa-file-archive-o': file.type.indexOf('zip') > -1,
                                        'fa-file-text-o': file.type.indexOf('text') > -1,
                                        'fa-file-pdf-o': file.type.indexOf('pdf') > -1
                                        }">
                                    </i>
                                <i class="fa fa-spinner fa-pulse pending-upload"></i>
                                <div class="progress" style="width:100px;height:10px;margin:3px auto 0px auto;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{file.percentUploaded}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': file.percentUploaded + '%' }"></div>
                                </div>
                            </div>
                            <div class="new-file-name">{{file.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>