<div class="calculator">
    <a href="javascript:void(0)" ng-click="vm.goTo('inventory')" class="show-on-mobile pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory">Go to Inventory</a>
    <h2 class="pmd-display1">Offer Calculator</h2>
    <div style="clear:both"></div>

    <div class="page-panel" ng-show="vm.showPage === 1">
        <span class="panel-title">Step 1</span>
        <div class="container-fluid form-dark">
            <h2 class="mt0">Quickly estimate the potential value of a Life Settlement transaction using our iCalculate tool!</h2>
            <br>
            <div class="row">
                <div class="col-md-4 form-card" style="padding-bottom:40px; margin-left:20px; margin-right:20px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 form-content">
                                <div class="form-group">
                                    <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.form.faceValue" placeholder="Policy Face Value" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-content">
                                <div class="form-group">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.form.yearBorn" placeholder="Insured Year Born" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-content">
                                <span class="dropdown-label">Insured Health Status</span>
                                <ui-select id="healthStatus-select" class="hasLabel" ng-model="vm.form.healthStatus" theme="bootstrap" on-select="vm.onSelectCallback('healthStatus')" title="Insured Health Status">
                                    <ui-select-match placeholder="Select an Option">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.healthStatusOptions | filter: $select.search">
                                        <span ng-bind-html="item | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <a ui-sref="inventory"><button class="btn btn-default pull-left">Cancel</button></a>
                    <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.calculateEstimate()" ladda="vm.calculatingEstimate">Get Estimate <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-panel" ng-show="vm.showPage === 2">
        <span class="panel-title">Step 2</span>
        <div class="container-fluid form-dark">
            <h2 class="pmd-display1 highlight-success mt0" style="color:#111;font-weight:bold">{{vm.estimateLow | currency:undefined:0}} - {{vm.estimateHigh | currency:undefined:0}}</h2>
            <div ng-if="vm.estimateLow > 0">
                <h2 ng-if="vm.estimateLow > 0">Good News!</h2>
                <p>It looks like a Life Settlement may be a good option for this Policy.</p>
                <p>Based on the information provided, we estimate that a Life Settlement of between {{vm.estimateLow | currency:undefined:0}} and {{vm.estimateHigh | currency:undefined:0}} is likely.</p>
                <p><b>Want to get started today?</b> Click "Apply" below to begin the application process. Once the application is signed and submitted, a Life Settlement Broker will begin working on your case!</p>
                <br>
                <p class="small">Disclaimer: This estimate is not a binding offer. Your actual offer may vary significantly according to your circumstances.</p>
            </div>
            <div ng-if="vm.estimateLow === 0">
                <h2>Sorry...</h2>
                <p>It doesn't look like a Life Settlement is going to be a good option for this Policy</p>
                <p>If you want to apply for one anyway, click the "Apply" button below to begin the process. Once the application is signed and submitted, a Life Settlement Broker will begin working on your case!</p>
                <br>
                <p class="small">Disclaimer: This estimate is not a binding offer. Your actual offer may vary significantly according to your circumstances.</p>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default pull-left" ng-click="vm.showPage = 1"><i class="fa fa-angle-left"></i> Back</button></a>
                    <a ui-sref="caseIntake"><button class="btn pull-right btn-lg pmd-btn-outline btn-success">Apply <i class="fa fa-angle-right"></i></button></a>
                </div>
            </div>
        </div>
    </div>
</div>