<div class="policy-page page-content" ng-if="!vm.hidePage">
    <a href="javascript:void(0)" ng-click="vm.goTo('inventory')" class="pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory show-on-mobile">Back to Inventory</a>
    <h2 class="pmd-display1">Pack View</h2>
    <br style="clear:both">

    <div class="row">
        <div class="col-md-6">
            <div class="page-panel">
                <span class="panel-title">Pack Details</span>
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h3 style="margin-top:0px">Summary</h3> -->
                        <div class="summary-label-200">Total Face Value:</div>
                        <div class="summary-data">$23,500,000</div>
                        <div class="summary-label-200">Premium Requirement:</div>
                        <div class="summary-data">Annual Capital Call</div>
                        <div class="summary-label-200">Number of Policies:</div>
                        <div class="summary-data">8</div>
                        <div class="summary-label-200">Pack Type</div>
                        <div class="summary-data">Private Placement Memorandum (PPM)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-panel">
                <span class="panel-title">Pack Demographics</span>
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h3 style="margin-top:0px">Summary</h3> -->
                        Graphs Go Here...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-12"> -->
    <div class="page-panel">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mt0">Current Senior Life Settlement Portfolio Offered As Of: March 3, 2019</h2>
            </div>
        </div>
    </div>
    <!-- </div>
    </div> -->

</div>