<div class="login-page">
    <div class="row">
        <div class="col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
            <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" />
            <div class="invited btn-warning" ng-if="vm.invitedBy">
                You were invited by <b>{{vm.invitedBy}}</b><br>
                <span style="font-size:0.8em">Login below to accept this invitation</span>
            </div>
            <form role="form" ng-submit="vm.login(vm.user)" id="login-form" class="form-light" ng-class="{ 'invited-form': vm.invitedBy }">
                <div class="form-content" style="padding-top:0px">
                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg float-me" ng-model="vm.user.email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg float-me" ng-model="vm.user.password" placeholder="Password">
                    </div>
                    <h5 class="pull-right small" style="margin-top: -20px;"><a ui-sref="reset({ 'ref': vm.refKey })">Forgot Your Password?</a></h5>
                </div>

                <button type="submit" class="btn btn-lg btn-primary pmd-btn-outline" ladda="vm.loggingIn"><i class="fa fa-sign-in"></i> Login</button>

                <h5>Need to Register? <a class="white-link" ui-sref="register({ 'ref': vm.refKey ? vm.refKey : null, 'bok': vm.buyerOrgKey ? vm.buyerOrgKey : null, 'ic': vm.invitationCode ? vm.invitationCode : null, 'spk': vm.sellerPolicyKey ? vm.sellerPolicyKey : null })">Click Here</a></h5>

            </form>
            <div class="login-version">{{vm.version}}</div>

        </div>
    </div>

</div>