<div class="login-page">
    <div class="row">
        <div class="col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
            <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" />
            <div class="thank-you">
                <p>Thanks for being a valued member!</p>
                <hr>
                <p style="font-size:18px">We look forward to making the LS process better together.</p>
                <button class="btn btn-primary pmd-btn-outline" ng-click="vm.login()" style="margin-top:30px"><i class="fa fa-sign-in"></i> Log In</button>
            </div>
        </div>
    </div>
</div>