<div class="login-page">
    <div class="row">
        <div class="col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
            <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" />
            <div class="thank-you">
                <p>Sorry, you don't have access to this domain!</p>
                <hr>
                <p style="font-size:18px">Please check the URL to make sure you are logging into the right site. For security purposes, you have been logged out.</p>
                <p style="font-size:14px">Are you trying to get to the <a ng-href="http://{{vm.otherDomain}}.{{vm.domain}}.{{vm.tld}}">{{vm.otherDomainDisp}} Platform</a>?</p>
                <button class="btn btn-primary pmd-btn-outline" ng-click="vm.login()" style="margin-top:30px"><i class="fa fa-sign-in"></i> Log In</button>
            </div>
        </div>
    </div>
</div>