<div class="login-page">
    <div class="row">
        <div class="col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
            <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" />
            <div class="thank-you">
                <p>Sorry, you are not authorized to use this system!</p>
                <hr>
                <p style="font-size:18px">Please contact support if you believe you have received this message in error.</p>
            </div>
        </div>
    </div>
</div>