<div class="login-page">
    <div class="row">
        <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
            <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" />
            <div class="thank-you">
                Your account is being verified
                <br>
                <hr>
                <p style="font-size:18px">Please click the verification link in the email we sent you to access your account.</p>
                <p style="font-size:18px">We look forward to working with you!</p>
                <button class="btn btn-danger pmd-btn-outline" ng-click="vm.goTo('logout')" style="margin-top:30px"><i class="fa fa-sign-out"></i> Log Out</button>
                <a ui-sref="login({ 'ref': 'pending' })"><button class="btn btn-success pmd-btn-outline" style="margin-top:30px; margin-left:20px;"><i class="fa fa-refresh"></i> Check Again</button></a>
                <button class="btn btn-primary pmd-btn-outline" ng-click="vm.verifyEmail()" ladda="vm.verifying" style="margin-top:30px; margin-left:20px;"><i class="fa fa-envelope"></i> Resend Email</button>
            </div>
        </div>
    </div>
</div>