<div class="register-page">
    <div class="row">
        <div class="col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
            <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" />
            <div class="invited btn-warning" ng-if="vm.invitedBy">
                You were invited by <b>{{vm.invitedBy}}</b><br>
                <span style="font-size:0.8em">Register below to accept this invitation</span>
            </div>
            <div class="invited btn-warning" ng-if="vm.buyerOrgName">
                Hello {{vm.buyerOrgName}}! Welcome to iManager!<br>
                <span style="font-size:0.8em">Please complete the registration details below.<br>Make sure you enter the same email address below that you received your invitation at.<br>
                <a ui-sref="register({bid:'', ic:'', ref:''})" ui-sref-opts="{reload: true, notify: true}">Click here</a> if you did not get here from a Welcome Email link...</span>
            </div>
            <form role="form" ng-submit="vm.register(vm.newUser)" class="form-light" ng-class="{ 'invited-form': vm.invitedBy }">
                <div class="form-content" style="padding-top:0px; padding-bottom:0px">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control input-underline input-lg float-me" ng-model="vm.newUser.firstName" placeholder="* First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control input-underline input-lg float-me" ng-model="vm.newUser.lastName" placeholder="* Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control input-underline input-lg float-me" ng-model="vm.newUser.phone" placeholder="* Phone" mask="(999) 999-9999">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control input-underline input-lg float-me" ng-model="vm.newUser.email" placeholder="* Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="jvFloat">
                                    <label class="placeHolder active" linkid="role-select">I am a...</label>
                                </div>
                                <ui-select id="role-select" class="hasLabel" ng-model="vm.newUser.role" theme="bootstrap" on-select="vm.onSelectCallback('role')" title="Role">
                                    <ui-select-match placeholder="* Role">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="role in vm.roles | filter: $select.search">
                                        <span ng-bind-html="role | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control input-underline input-lg float-me" ng-model="vm.newUser.company" placeholder="Company Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control input-underline input-lg float-me" ng-model="vm.newUser.password" placeholder="* Password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control input-underline input-lg float-me" ng-model="vm.newUser.confirmPassword" placeholder="* Confirm Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" ng-model="vm.newUser.tosAgreement" name="terms" id="terms"> I have read and agree to the <a href="http://lshub.net/terms-of-service/" target="_blank">Terms of Service</a></label>
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-primary btn-outline" ladda="vm.registeringUser">Register</button>

                <h5>Already have an account? <a class="white-link" ui-sref="login({ 'ref': vm.refKey ? vm.refKey : null, 'bok': vm.buyerOrgKey ? vm.buyerOrgKey : null, 'ic': vm.invitationCode ? vm.invitationCode : null, 'spk': vm.sellerPolicyKey ? vm.sellerPolicyKey : null })">Click Here</a></h5>

            </form>
            <div class="login-version">{{vm.version}}</div>

        </div>
    </div>

</div>