<div class="login-page reset-page">
    <div class="row">
        <div class="col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
            <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" />
            <form role="form" ng-submit="vm.resetPassword(vm.user)" id="login-form" class="form-light">
                <div class="form-content" style="padding-top:0px">
                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg float-me" ng-model="vm.user.email" placeholder="Email">
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-primary pmd-btn-outline" ladda="vm.resetting"><i class="fa fa-email"></i> Reset Password</button>

                <h5><a class="white-link" ui-sref="login({ 'ref': vm.refKey })">Back to Login</a></h5>

            </form>
            <div class="login-version">{{vm.version}}</div>

        </div>
    </div>

</div>