<div class="login-page">
    <div class="row">
        <div class="col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
            <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" />
            <div class="thank-you" ng-show="!vm.authError">
                <p>Welcome to {{vm.subdomain.indexOf('imanager') > -1 ? 'iManager' : 'iSubmit'}}!</p>
                <h1><i class="fa fa-refresh fa-spin"></i> Confirming your identity.</h1>
                <h4>This might take a second</h4>
            </div>
            <div class="thank-you" ng-show="vm.authError">
                <p>Uh Oh!</p>
                <h1><i class="fa fa-warning"></i> Something isn't right.</h1>
                <h4>We weren't able to log you in. Please go back and try again.</h4>
            </div>
        </div>
    </div>
</div>