<style type="text/css">
    #scrollContainer {
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        overflow: hidden;
    }
    #education-loading {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
        color: #888;
    }
</style>
<div id="education-loading">
    <div>
         <i class="fa fa-refresh fa-spin"></i> &nbsp; Loading Education Portal
    </div>
</div>
<iframe src="https://lifesettlement101.appspot.com/ls_mastermind_course/course" frameborder="0" id="education-embed" style="width:100%; height:100%;" onload="document.getElementById('education-loading').style.display='none';"></iframe>