.form-light {
	.jvFloat {
		display: inherit;

		.placeHolder {
			color: #ccc;
		}
	}
	.input-underline {
		background: none;
		outline: none;
		border: none;
		box-shadow: none;
		border-bottom: 2px solid #ccc;
		color: #444;
		border-radius: 0;
		margin: 0 auto;

		&::-moz-placeholder {
			color: #ccc;
		}
		&::-ms-input-placeholder {
			color: #ccc;
		}
		&::-webkit-input-placeholder {
			color: #ccc;
		}

		&:focus {
			border-bottom: 2px solid #444;
			box-shadow: none;
		}
	}
}

.form-dark {
	.form-group {
		margin-bottom: 40px;
	}
	.jvFloat {
		display: inherit;
		margin-top: 0;

		.placeHolder {
			color: @dark-gray;
			background: @gray-lighter !important;
			height: auto;
			padding: 1px 5px;
			position: relative;

			&.active {
				display: inline;
			}
		}
	}
	.input-underline-dark {
		max-width: 80%;
		background: none;
		border: none;
		outline: none;
		box-shadow: none;
		border-radius: 0;
		height: 2em;
		border-bottom: 2px solid rgba(0,0,0, 0.15);
		color: #444;
		&::-moz-placeholder {
			color: rgba(0,0,0, 0.7);
		}
		&::-ms-input-placeholder {
			color: rgba(0,0,0, 0.7);
		}
		&::-webkit-input-placeholder {
			color: rgba(0,0,0, 0.7);
		}
	
		&:focus {
			border-bottom: 2px solid rgba(0,0,0, 0.5);
			box-shadow: none;
		}
	}
}

.embedded-form {
	.form-group {
		margin-bottom: 40px;
	}
	.jvFloat {
		display: inherit;
		margin-top: 0;

		.placeHolder {
			color: @dark-gray;
			background: @gray-lighter !important;
			height: auto;
			padding: 1px 5px;
			position: relative;

			&.active {
				display: inline;
			}
		}
	}
	.input-underline-dark {
		max-width: 80%;
		background: none;
		border: none;
		outline: none;
		box-shadow: none;
		border-radius: 0;
		height: 2em;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: rgba(0,0,0, 0.15);
	
		&::-moz-placeholder {
			color: rgba(0,0,0, 0.7);
		}
		&::-ms-input-placeholder {
			color: rgba(0,0,0, 0.7);
		}
		&::-webkit-input-placeholder {
			color: rgba(0,0,0, 0.7);
		}

		&:focus {
			border-bottom: 2px solid rgba(0,0,0, 0.5);
			box-shadow: none;
		}
	}

	&.embedded-dark {
		.dropdown-label {
			color: rgba(255,255,255, 0.7);
		}
		.input-underline-dark {
			border-bottom-color: rgba(255,255,255, 0.15);
			&::-moz-placeholder {
				color: rgba(255,255,255, 0.7);
			}
			&::-ms-input-placeholder {
				color: rgba(255,255,255, 0.7);
			}
			&::-webkit-input-placeholder {
				color: rgba(255,255,255, 0.7);
			}
			&:focus {
				border-bottom: 2px solid rgba(255,255,255, 0.5);
				box-shadow: none;
			}
		}
	}
}

.form-control[readonly] {
	background-color:#fff !important;
}

textarea.input-underline-dark {
	max-width: 100%;
}

@media (max-width: 991px) {
	.input-underline,
	.input-underline-dark {
		max-width: 100% !important;
	}
}