/**
 * TABS
 *
 * -------------------------------------------------------------------------------------------------
 */
 .tabs {
     margin-top: 40px;
 }

.tabs > DIV {
	margin-top: 10px;
	background: white !important;
    min-height: 150px;
    border-bottom: none;
    padding: 20px 0px;
	border-radius: 5px;
	padding-top: 10px;
}

// .tabs > DIV SPAN {
// 	border-bottom: 4px solid #E5E5E5 !important;
// 	color: #ccc !important;
// 	font-weight: 300;
// 	/*line-height: 186px;*/
// 	display: block;
// 	text-align: center;
// 	font-size: 24px;
// }

.tabs UL.horizontal {
	list-style: none outside none;
	margin: 0;
}

.tabs > ul {
	padding-left:0px !important;
}

.tabs LI.tab-button {
	background: white;
	border-bottom: 4px solid #E5E5E5;
	margin: 0 10px 0 0;
	display: inline-block;
}

.tabs .tab-button > A {
	color: #ccc;
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
	padding: 14px 24px;
	text-decoration: none;
}

.tabs A.file-links {
	padding: 0px 24px;
}

.tabs li.tab-button:hover {
	border-bottom: 4px solid @brand-primary;

	&.admin-tab {
		border-bottom: 4px solid @brand-warning !important;
	}
}

.tabs LI.tab-button.active {
	background: #a7a7a7 !important;
}

.tabs LI.tab-button.active {
	border-bottom: 4px solid @brand-primary;
	
	&.admin-tab {
		border-bottom: 4px solid @brand-warning;
	}
}

.active > A {
	color: white !important;
}

.link {
	color: white;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 48px;
	margin-top: 20px;
	margin-left: 6px;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
	color: inherit;
}

.anchorLink {
	border-bottom: 1px dashed white;
	color: white;
	text-decoration: none;
}

.anchorLink:hover {
	text-decoration: none;
	border-bottom: none;
	color: inherit;
}

.screenshot {
	position: absolute;
	clip: rect(0 0 0 0);
}

.prev,
.next {
	background: white !important;
	color: #a7a7a7 !important;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.prev:hover,
.next:hover {
	background: #a7a7a7 !important;
	color: white !important;
}

.logo {
	margin-top: -6px;
	margin-right: 10px;
	vertical-align: middle;
}

.button {
	background-color: #a7a7a7;
	border: none;
	border-bottom: 4px solid @brand-primary;
	color: #FFFFFF;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
	height: 48px;
	line-height: 48px;
}

.button:hover {
	background: #93b7ae;
	color: #FFF;
	border-bottom-color: @brand-primary;
}

@media (max-width: 499px) {
	.tabs {
		A {
			padding: 14px 10px !important;
		}
		ul {
			padding:0px !important;
		}
	}
}