<div class="admin-page" ng-if="vm.isSAdmin">
    <a ui-sref="inventory" class="show-on-mobile pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory"><i class="fa fa-angle-left"></i> Go to Inventory</a>
    <h2 class="pmd-display1">Admin</h2>
    <br style="clear:both" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>User Management <span class="show-hide-panel" ng-click="vm.showUserManagementPanel = !vm.showUserManagementPanel; vm.showOrgManagementPanel = false; vm.showBuyerManagementPanel = false; vm.showArchivedPoliciesPanel = false;">{{(vm.showUserManagementPanel) ? 'Hide' : 'Show'}} ({{vm.users.length}})</span></h2>
                <div class="page-panel pmd-table-card" ng-if="vm.showUserManagementPanel">
                    <table class="table table-hover pmd-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortCol = 'user.fullName'; vm.sortReverse = !vm.sortReverse">
                                    Name
                                    <span ng-show="vm.sortCol == 'user.fullName' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'user.fullName' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'user.company'; vm.sortReverse = !vm.sortReverse">
                                    Company
                                    <span ng-show="vm.sortCol == 'user.company' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'user.company' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'user.email'; vm.sortReverse = !vm.sortReverse">
                                    Email
                                    <span ng-show="vm.sortCol == 'user.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'user.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'user.phone'; vm.sortReverse = !vm.sortReverse">
                                    Phone
                                    <span ng-show="vm.sortCol == 'user.phone' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'user.phone' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'user.role'; vm.sortReverse = !vm.sortReverse">
                                    Role
                                    <span ng-show="vm.sortCol == 'user.role' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'user.role' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'user.isAuthorized'; vm.sortReverse = !vm.sortReverse">
                                    Authorized?
                                    <span ng-show="vm.sortCol == 'user.isAuthorized' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'user.isAuthorized' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th>
                                    Access Domain
                                </th>
                                <th>
                                    Flagged Policies
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="user in vm.users | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter" ng-class="{ 'inactive': !user.isAuthorized, 'is-admin': user.isSAdmin }">
                                <td data-title="Name"><i class="fa fa-key" title="User is a Super Admin" ng-if="user.isSAdmin"></i> {{user.fullName}} <i class="fa fa-user-secret" ng-if="user.uid !== vm.currentUser.profile.uid && user.isAuthorized" style="cursor:pointer" ng-click="vm.impersonateUser(user.uid)" title="Impersonate User"></i></td>
                                <td data-title="Company">{{(user.company === undefined) ? '&nbsp;' : user.company}}</td>
                                <td data-title="Email">{{user.email}}</td>
                                <td data-title="Phone #">{{user.phone}}</td>
                                <td data-title="Role">
                                    <ui-select id="role-select" class="table-select-box" ng-model="user.role" theme="bootstrap" on-select="vm.updateUserRole(user)" title="Role">
                                        <ui-select-match placeholder="Role">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="role in vm.roles | filter: $select.search">
                                            <span ng-bind-html="role | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td data-title="Authorized?"><input type="checkbox" class="user-auth-check" ng-model="user.isAuthorized" ng-change="vm.updateUser(user)" ng-checked="user.isAuthorized" /></td>
                                <td data-title="Access Domain"><span ng-bind="vm.bindAccessDomain(user.accessDomain)"></span> <button class="btn btn-primary btn-sm pmd-btn-outline pull-right" ng-click="vm.setAccessDomain(user)"><i class="fa fa-refresh"></i></button></td>
                                <td><button class="btn pull-right btn-primary btn-sm pmd-btn-outline" ng-if="user.flaggedPolicies" ng-click="user.showFlaggedPolicies = !user.showFlaggedPolicies">View</button></td>
                            </tr>
                            <tr ng-repeat-end ng-if="user.flaggedPolicies && user.showFlaggedPolicies">
                                <td colspan="7">
                                    <button class="btn pull-right btn-primary btn-sm pmd-btn-outline" style="margin: 10px;" ng-click="vm.viewPolicy(policy.key)" ng-repeat="policy in user.flaggedPolicies">{{policy.lastName}} ({{policy.policyNumber}})</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2>Organization Management <span class="show-hide-panel" ng-click="vm.showOrgManagementPanel = !vm.showOrgManagementPanel; vm.showUserManagementPanel = false; vm.showBuyerManagementPanel = false; vm.showArchivedPoliciesPanel = false;">{{(vm.showOrgManagementPanel) ? 'Hide' : 'Show'}} ({{vm.buyerOrgs.length}})</span></h2>
                <span ng-if="vm.showOrgManagementPanel">
                    <h3 class="ml50">Buyers <span class="show-hide-panel" ng-click="vm.showBuyers = !vm.showBuyers">{{(vm.showBuyers) ? 'Hide' : 'Show'}} ({{vm.buyerOrgs.length}})</span></h3>
                    <div class="page-panel pmd-table-card ml50" ng-if="vm.showBuyers">
                        <table class="table table-hover pmd-table">
                            <thead>
                                <tr>
                                    <th ng-click="vm.sortCol = 'org.name'; vm.sortReverse = !vm.sortReverse">
                                        Name
                                        <span ng-show="vm.sortCol == 'org.name' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.name' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.primaryContact'; vm.sortReverse = !vm.sortReverse">
                                        Contact
                                        <span ng-show="vm.sortCol == 'org.primaryContact' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.primaryContact' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.email'; vm.sortReverse = !vm.sortReverse">
                                        Email
                                        <span ng-show="vm.sortCol == 'org.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.phone'; vm.sortReverse = !vm.sortReverse">
                                        Phone
                                        <span ng-show="vm.sortCol == 'org.phone' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.phone' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.marketingAccess'; vm.sortReverse = !vm.sortReverse">
                                        Marketing Access?
                                        <span ng-show="vm.sortCol == 'org.marketingAccess' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.marketingAccess' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.isApproved'; vm.sortReverse = !vm.sortReverse">
                                        Approved?
                                        <span ng-show="vm.sortCol == 'org.isApproved' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.isApproved' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in vm.buyerOrgs | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter" ng-class="{ 'inactive': !org.isApproved }">
                                    <td data-title="Name">{{org.name}}</td>
                                    <td data-title="Contact">{{(org.primaryContact === undefined) ? '&nbsp;' : org.primaryContact}}</td>
                                    <td data-title="Email">{{org.email}}</td>
                                    <td data-title="Phone #">{{org.phone}}</td>
                                    <td data-title="Marketing Access?"><input type="checkbox" class="org-auth-check" ng-model="org.marketingAccess" ng-change="vm.updateOrg(org,'buyer')" ng-checked="org.marketingAccess" /></td>
                                    <td data-title="Approved?"><input type="checkbox" class="org-auth-check" ng-model="org.isApproved" ng-change="vm.updateOrg(org,'buyer')" ng-checked="org.isApproved" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 class="ml50">Suppliers <span class="show-hide-panel" ng-click="vm.showSuppliers = !vm.showSuppliers">{{(vm.showSuppliers) ? 'Hide' : 'Show'}} ({{vm.supplierOrgs.length}})</span></h3>
                    <div class="page-panel pmd-table-card ml50" ng-if="vm.showSuppliers">
                        <table class="table table-hover pmd-table">
                            <thead>
                                <tr>
                                    <th ng-click="vm.sortCol = 'org.name'; vm.sortReverse = !vm.sortReverse">
                                        Name
                                        <span ng-show="vm.sortCol == 'org.name' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.name' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.primaryContact'; vm.sortReverse = !vm.sortReverse">
                                        Contact
                                        <span ng-show="vm.sortCol == 'org.primaryContact' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.primaryContact' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.email'; vm.sortReverse = !vm.sortReverse">
                                        Email
                                        <span ng-show="vm.sortCol == 'org.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.phone'; vm.sortReverse = !vm.sortReverse">
                                        Phone
                                        <span ng-show="vm.sortCol == 'org.phone' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.phone' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.marketingAccess'; vm.sortReverse = !vm.sortReverse">
                                        Marketing Access?
                                        <span ng-show="vm.sortCol == 'org.marketingAccess' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.marketingAccess' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'org.isApproved'; vm.sortReverse = !vm.sortReverse">
                                        Approved?
                                        <span ng-show="vm.sortCol == 'org.isApproved' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'org.isApproved' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in vm.supplierOrgs | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter" ng-class="{ 'inactive': !org.isApproved }">
                                    <td data-title="Name">{{org.name}}</td>
                                    <td data-title="Contact">{{(org.primaryContact === undefined) ? '&nbsp;' : org.primaryContact}}</td>
                                    <td data-title="Email">{{org.email}}</td>
                                    <td data-title="Phone #">{{org.phone}}</td>
                                    <td data-title="Marketing Access?"><input type="checkbox" class="org-auth-check" ng-model="org.marketingAccess" ng-change="vm.updateOrg(org,'supplier')" ng-checked="org.marketingAccess" /></td>
                                    <td data-title="Approved?"><input type="checkbox" class="org-auth-check" ng-model="org.isApproved" ng-change="vm.updateOrg(org,'supplier')" ng-checked="org.isApproved" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </span>
                <h2>Buyer Management <span class="show-hide-panel" ng-click="vm.showBuyerManagementPanel = !vm.showBuyerManagementPanel; vm.showCarrierManagementPanel = false; vm.showOrgManagementPanel = false; vm.showUserManagementPanel = false; vm.showArchivedPoliciesPanel = false;">{{(vm.showBuyerManagementPanel) ? 'Hide' : 'Show'}} ({{vm.buyers.length}})</span></h2>
                <div class="page-panel pmd-table-card" ng-if="vm.showBuyerManagementPanel">
                    <table class="table table-hover pmd-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortCol = 'buyer.name'; vm.sortReverse = !vm.sortReverse">
                                    Name
                                    <span ng-show="vm.sortCol == 'buyer.name' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'buyer.name' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'buyer.phone'; vm.sortReverse = !vm.sortReverse">
                                    Phone
                                    <span ng-show="vm.sortCol == 'buyer.phone' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'buyer.phone' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'buyer.fax'; vm.sortReverse = !vm.sortReverse">
                                    Fax
                                    <span ng-show="vm.sortCol == 'buyer.fax' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'buyer.fax' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'buyer.email'; vm.sortReverse = !vm.sortReverse">
                                    Email
                                    <span ng-show="vm.sortCol == 'buyer.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'buyer.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'buyer.isAccredited'; vm.sortReverse = !vm.sortReverse">
                                    Accredited?
                                    <span ng-show="vm.sortCol == 'buyer.isAccredited' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'buyer.isAccredited' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="vm.buyers.length == 0">
                                <td colspan="2"><i class="fa fa-warning"></i> No Buyers Found</tr>
                            </td>
                            <tr ng-if="vm.buyers.length > 0" class="buyer-row" ng-class="{ 'buyer-detail-top': vm.showDetail === buyer.name }" ng-click="vm.clickBuyer($event, buyer)" ng-repeat-start="buyer in vm.buyers | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter track by $index">
                                <td data-title="Name"><span ng-show="!buyer.editInfo">{{buyer.name}}</span><input type="text" class="input-underline-dark" ng-model="buyer.name" ng-show="buyer.editInfo" placeholder="Buyer Name"></td>
                                <td data-title="Phone"><span ng-show="!buyer.editInfo">{{buyer.phone}}</span><input type="text" class="input-underline-dark" ng-model="buyer.phone" ng-show="buyer.editInfo" placeholder="Buyer Phone #"></td>
                                <td data-title="Fax"><span ng-show="!buyer.editInfo">{{buyer.fax}}</span><input type="text" class="input-underline-dark" ng-model="buyer.fax" ng-show="buyer.editInfo" placeholder="Buyer Fax #"></td>
                                <td data-title="Email"><span ng-show="!buyer.editInfo">{{buyer.email}}</span><input type="text" class="input-underline-dark" ng-model="buyer.email" ng-show="buyer.editInfo" placeholder="Buyer Email"></td>
                                <td data-title="Accredited?">
                                    <div class="form-group iCheck">
                                        <label>
                                                <input ng-disabled="!buyer.editInfo" type="checkbox" checklist-value="item" icheck checklist-model="buyer.isAccredited" />
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger pmd-btn-outline pull-right" ng-click="vm.deleteBuyer(buyer, $index);"><i class="fa fa-trash-o"></i> Delete</button>
                                    <button style="margin-right:20px;" ng-show="!buyer.editInfo" class="btn btn-sm btn-primary pmd-btn-outline pull-right" ng-click="buyer.editInfo = true; vm.showDetail = buyer.name; vm.editInfo = true;">Edit</button>
                                    <button style="margin-right:20px;" ng-show="buyer.editInfo" class="btn btn-sm btn-success pmd-btn-outline pull-right" ng-click="vm.updateBuyer(buyer)">Save</button>
                                </td>
                            </tr>
                            <tr class="buyer-detail-mid" ng-if="vm.showDetail === buyer.name">
                                <td data-title="Address" colspan="2">
                                    <span class="dropdown-label">Address</span><br>
                                    <span ng-show="!buyer.editInfo">{{buyer.address.oneLiner}}</span><input type="text" googleplace class="form-control input-underline-dark buyer-address" buyer-idx="{{$index}}" ng-show="buyer.editInfo" ng-model="buyer.address.oneLiner"
                                        placeholder="Address" autocomplete="off">
                                </td>
                                <td data-title="Notes" colspan="4">
                                    <span class="dropdown-label">Notes</span><br>
                                    <span ng-show="!buyer.editInfo">{{buyer.notes}}</span><textarea type="text" class="form-control input-underline-dark" ng-model="buyer.notes" placeholder="Buyer Notes" ng-show="buyer.editInfo"></textarea>
                                </td>
                            </tr>
                            <tr ng-repeat-end class="buyer-detail" ng-if="vm.showDetail === buyer.name">
                                <td data-title="Address" colspan="6">
                                    <!-- <span class="dropdown-label">Address</span><br>
                                    <span ng-show="!buyer.editInfo">{{buyer.address.oneLiner}}</span><input type="text" googleplace class="form-control input-underline-dark buyer-address" buyer-idx="{{$index}}" ng-show="buyer.editInfo" ng-model="buyer.address.oneLiner"
                                        placeholder="Address" autocomplete="off"> -->
                                    <div class="form-group iCheck">
                                        <span class="dropdown-label">Default document access:</span><br>
                                        <label ng-repeat="item in vm.fileCategories">
                                            <input type="checkbox" ng-disabled="!buyer.editInfo" checklist-model="buyer.fileCategoryAccess" checklist-value="item" icheck> {{item}}
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-sm btn-primary pmd-btn-outline" ng-click="vm.addBuyer()" style="margin-top:20px"><i class="fa fa-plus"></i> Add Buyer</button>
                </div>
                <h2>Carrier Management <span class="show-hide-panel" ng-click="vm.showCarrierManagementPanel = !vm.showCarrierManagementPanel">{{(vm.showCarrierManagementPanel) ? 'Hide' : 'Show'}} ({{vm.carriers.length}})</span></h2>
                <div class="page-panel pmd-table-card" ng-if="vm.showCarrierManagementPanel">
                    <table class="table table-hover pmd-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortCol = 'carrier.name'; vm.sortReverse = !vm.sortReverse">
                                    Name
                                    <span ng-show="vm.sortCol == 'carrier.name' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'carrier.name' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="vm.carriers.length == 0">
                                <td colspan="2"><i class="fa fa-warning"></i> No Carriers Found</tr>
                            </td>
                            <tr ng-if="vm.carriers.length > 0" ng-repeat="carrier in vm.carriers | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter track by $index">
                                <td data-title="Name">{{carrier.name}}</td>
                                <td><button class="btn btn-sm btn-danger pmd-btn-outline pull-right" ng-click="vm.deleteCarrier(carrier, $index);"><i class="fa fa-trash-o"></i> Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-sm btn-primary pmd-btn-outline" ng-click="vm.addCarrier()" style="margin-top:20px"><i class="fa fa-plus"></i> Add Carrier</button>
                </div>
                <h2>Supplier Management <span class="show-hide-panel" ng-click="vm.showSupplierManagementPanel = !vm.showSupplierManagementPanel">{{(vm.showSupplierManagementPanel) ? 'Hide' : 'Show'}} ({{vm.suppliers.length}})</span></h2>
                <div class="page-panel pmd-table-card" ng-if="vm.showSupplierManagementPanel">
                    <table class="table table-hover pmd-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortCol = 'supplier.name'; vm.sortReverse = !vm.sortReverse">
                                    Name
                                    <span ng-show="vm.sortCol == 'supplier.name' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'supplier.name' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="vm.suppliers.length == 0">
                                <td colspan="2"><i class="fa fa-warning"></i> No Suppliers Found</tr>
                            </td>
                            <tr ng-if="vm.suppliers.length > 0" ng-repeat="supplier in vm.suppliers | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter track by $index">
                                <td data-title="Name">{{supplier.name}}</td>
                                <td><button class="btn btn-sm btn-danger pmd-btn-outline pull-right" ng-click="vm.deleteSupplier(supplier, $index);"><i class="fa fa-trash-o"></i> Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-sm btn-primary pmd-btn-outline" ng-click="vm.addSupplier()" style="margin-top:20px"><i class="fa fa-plus"></i> Add Supplier</button>
                </div>
                <h2>Archived Policies <span class="show-hide-panel" ng-click="vm.showArchivedPoliciesPanel = !vm.showArchivedPoliciesPanel; vm.showOrgManagementPanel = false; vm.showBuyerManagementPanel = false; vm.showUserManagementPanel = false;">{{(vm.showArchivedPoliciesPanel) ? 'Hide' : 'Show'}} ({{vm.archivedPolicies.length}})</span></h2>
                <div class="page-panel pmd-table-card" ng-if="vm.showArchivedPoliciesPanel">
                    <table class="table table-hover pmd-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortColPolicy = 'policy.policyNumber'; vm.sortReversePolicy = !vm.sortReversePolicy">
                                    Policy Number
                                    <span ng-show="vm.sortColPolicy == 'policy.policyNumber' && !vm.sortReversePolicy" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortColPolicy == 'policy.policyNumber' && vm.sortReversePolicy" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortColPolicy = 'policy.insured.lastName'; vm.sortReversePolicy = !vm.sortReversePolicy">
                                    Insured Last Name
                                    <span ng-show="vm.sortColPolicy == 'policy.insured.lastName' && !vm.sortReversePolicy" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortColPolicy == 'policy.insured.lastName' && vm.sortReversePolicy" class="fa fa-angle-down"></span>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="policy in vm.archivedPolicies | orderBy:vm.sortColPolicy:vm.sortReversePolicy | filter:vm.searchFilter track by $index">
                                <td data-title="Policy Number">{{policy.policyNumber}}</td>
                                <td data-title="Insured Last Name">{{policy.insured.lastName}}</td>
                                <td><button class="btn btn-sm btn-primary pmd-btn-outline pull-right" ng-click="vm.restorePolicy(policy.policyKey, $index);" style="margin-left:20px"><i class="fa fa-undo"></i> Restore</button>
                                    <button class="btn btn-sm btn-danger pmd-btn-outline pull-right" ng-click="vm.deletePolicy(policy.policyKey, $index);"><i class="fa fa-trash-o"></i> Delete</button>
                                    <br style="clear:both" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>