<div class="sadmin-page" ng-if="vm.isSAdmin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- LIST EXISTING FUNDER GROUPS HERE, WITH ABILITY TO EDIT DETAILS AND VIEW STATS -->
                <h2>Funder Groups <span class="show-hide-panel" ng-click="vm.showFunderGroupPanel = !vm.showFunderGroupPanel">{{(vm.showFunderGroupPanel) ? 'Hide' : 'Show'}} ({{vm.funderGroups.length}})</span></h2>
                <div class="page-panel pmd-table-card" ng-if="vm.showFunderGroupPanel">
                    <table class="table ttable-hover pmd-table">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortCol = 'funderGroup.funderGroupName'; vm.sortReverse = !vm.sortReverse">
                                    Name
                                    <span ng-show="vm.sortCol == 'funderGroup.funderGroupName' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'funderGroup.funderGroupName' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'funderGroup.funderGroupContact'; vm.sortReverse = !vm.sortReverse">
                                    Contact
                                    <span ng-show="vm.sortCol == 'funderGroup.funderGroupContact' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'funderGroup.funderGroupContact' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                                <th ng-click="vm.sortCol = 'funderGroup.invitationCode'; vm.sortReverse = !vm.sortReverse">
                                    Invitation Code
                                    <span ng-show="vm.sortCol == 'funderGroup.invitationCode' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                    <span ng-show="vm.sortCol == 'funderGroup.invitationCode' && vm.sortReverse" class="fa fa-angle-down"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="funderGroup in vm.funderGroups | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter">
                                <td data-title="Name">{{(funderGroup.funderGroupName === undefined) ? '&nbsp;' : funderGroup.funderGroupName}}</td>
                                <td data-title="Contact">{{(funderGroup.funderGroupContact === undefined) ? '&nbsp;' : funderGroup.funderGroupContact}}</td>
                                <td data-title="Invitation Code">{{(funderGroup.invitationCode === undefined) ? '&nbsp;' : funderGroup.invitationCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-sm btn-primary pmd-btn-outline" ng-click="vm.addNewFunderGroup()" style="margin-top:20px"><i class="fa fa-plus"></i> Add New Funder Group</button>
                </div>
            </div>
        </div>
    </div>
</div>