.back-office-status-image {
  width:20px;
  height:20px;
  display: inline;
  float:right;
  margin-right: 10px;
}

.inventory-page {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #fff;
    color: #666;

    /*
     * Base structure
     */

    /*
     * Global add-ons
     */

    .ui-select-container {
      max-width: 80%;

      &.yes-no-option {
        max-width:200px;
      }
    }

    .search-icon {
      text-align: right;
      font-size: 20px;
    }

    .btn-add-new-policy {
      margin-bottom:20px; 
      width:140px;
    }

    div.summary-label {
      width: 150px;
      font-weight: bold;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
      float: left;
    }

    div.summary-data {
      margin-left: 160px;
    }

    span.dropdown-label,
    label.placeHolder {
      background: @gray-lighter !important;
      color: @dark-gray;
      font-size: 1.2em;
      font-weight: bold;
      padding: 1px 5px;
    }
    input[type="radio"] {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
      transform: scale(1.5);
      margin-right: 5px;
    }

    .app-form-divider {
      position: absolute;
      left: 0;
      margin-top: -10px;
      border-top: 1px dashed @gray-light;
      width: 100%;
    }

    .policy-info-divider {
      position: absolute;
      left: 0;
      border-top: 1px dashed @gray-light;
      width: 100%;
    }

    .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid @dark-gray;
    }

    /*
     * Top navigation
     * Hide default border to remove 1px line.
     */
    .navbar-fixed-top {
      border: 0;
    }

    /*
     * Sidebar
     */

    /* Hide for mobile, show later */
    .sidebar {
      height: 50px; 
      background-color: @gray-lighter;

      .user-avatar.hide-on-mobile {
        //height: 75px;
      }
      .user-avatar.show-on-mobile {
        height: 35px;
        margin-top: 8px;
      }

      .brand {
          padding-top: 15px;
      }

      /*display: none;*/

      color: @dark-gray;

      .text-center {
        text-align: left;
      }

      h2.brand {
          font-weight: 300;
        font-size: 30px;
        padding-top:10px;
        position:absolute;
        top:0px;
        margin: 0;
        margin-left:20px;

          small {
              color: rgba(255, 255, 255, 0.7);
          margin-left:5px;
          }
      }

      h5 {
        position: absolute;
        top: 18px;
        right: 27px;
      }

      .user-dropdown, h4 {
        display: inline;
        float: right;
        font-size: 14px;
        margin-top: 3px;
        
        .dropdown-menu {
          right: 0;
          left: auto;
        }
      }

      a.logout-btn,
      a.profile-btn {
        position:absolute;
        right:15px;
        bottom:0px;
      }

      .version {
        position: absolute;
        bottom: 0px;
        font-size: 10px;
      }
    }

    @media (min-width: 768px) {
      h2.brand {
        position: relative !important;
        margin: 20px !important;
      }

      .btn-add-new-policy {
        width: auto;
      }

      a.logout-btn,
      a.profile-btn {
        position:relative !important;
        right: 0px !important;
        display: inline !important;
      }

      .user-dropdown, h4 {
        display: inherit !important;
        float: none !important;
        font-size: 18px !important;
        margin-top: 10px !important;

        .dropdown-menu {
          right: auto !important;
          left: 25% !important;
        }
      }

      .text-center {
        text-align: center !important;
      }

      .user-avatar {
        margin: 50px auto 60px auto !important;
      }

      h5 {
        position: inherit !important;
      }

      .sidebar {
        position: fixed;
        height: auto;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px 20px 20px;
        border-right: 1px solid @dark-gray;
        width: 300px;
      }
      .main {
        margin-left: 0px;
        padding-left: 340px !important;
        width: 100%;
      }
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background: darken(@brand-primary, 5%);
    }

    /* Sidebar navigation */
    .nav-sidebar {
      margin-right: -21px; /* 20px padding + 1px border */
      margin-bottom: 20px;
      margin-left: -20px;
      margin-top: 20px;
    }
    .nav-sidebar > li > a {
      color: #fff;
      padding-right: 20px;
      padding-left: 20px;
    }
    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
      color: #fff;
      background-color: darken(@brand-primary, 5%);
    }


    /*
     * Main content
     */

    .main {
      padding: 20px;
      padding-top:0px;
      position: absolute;
      top: 50px;
      bottom: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      .jumbotron {
        background: #FFF;
        margin-top: 20px;
      }
    }
    @media (min-width: 768px) {
      .main {
        padding-right: 40px;
        padding-left: 40px;
        top: 0px !important;
        padding-top:20px !important;
      }
    }
    .main {
      .page-header {
        margin-top: 0;
      }
      form {
        
      }
    }


    /*
     * Placeholder dashboard ideas
     */

    .placeholders {
      margin-bottom: 30px;
      text-align: center;
    }
    .placeholders h4 {
      margin-bottom: 0;
    }
    .placeholder {
      margin-bottom: 20px;
    }
    .placeholder img {
      display: inline-block;
      border-radius: 50%;
    }

    .bg-fade {
      font-size: 500px;
      color: rgba(0,0,0,0.05);
      position: absolute;
      right: -100px;
      top: 200px;
    }
}
.view-map-btn {
    margin-top: 5px;
}
@media (min-width: 992px) {
    .view-map-btn {
    right: 20% !important;
    position: absolute;
  }
}

.inventory-check {
  cursor: default !important;
  width: 20px;
  height: 20px;
}

.user-auth-check,
.org-auth-check {
  cursor: pointer !important;
  width: 20px;
  height: 20px;
}

span.notification {
  position: absolute;
  right: -11px;
  top: -5px;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  width: 20px;
  background-color: green;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}

.sortby-filters {
  min-height: 100px;
  border: 1px solid @brand-primary;
  padding: 20px 20px 0px 20px !important;
  margin-top: -1px;
  border-radius: 3px 0px 3px 3px;
  margin-bottom: 20px;

  .btn {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

/* Range Sliders */
.inventory-filters {
  min-height: 100px;
  border: 1px solid @brand-primary;
  padding: 20px 40px !important;
  margin-top: -1px;
  border-radius: 3px 0px 3px 3px;
  margin-bottom: 20px;

  .max-input {
    display: inline !important;
  }

  .max-input-plus {
    position: absolute;
    top:0;
  }

  .text-right {
    .age-input,
    .premium-input,
    .face-amount-input {
      text-align: right;
    }
  }

  .pmd-textfield input.form-control.premium-input,
  .pmd-textfield-focused.premium-input,
  .pmd-textfield input.form-control.face-amount-input,
  .pmd-textfield-focused.face-amount-input {
    width: 95px;
  }

  .pmd-textfield input.form-control.age-input,
  .pmd-textfield-focused.age-input {
    width: 50px;
  }

  .pmd-range-slider.noUi-target {
    height: 3px;
    margin: 10px 0 6px;
  }

  .pmd-range-slider .noUi-tooltip {
    background-color: @brand-primary;
  }

  .pmd-range-slider .noUi-base {
    background: #e0e0e0;
  }
}