.login-page, .register-page {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;

    background: @gray-lighter;

	text-align: center;
	color: #fff;

	padding: 3em;
	padding-top: 5em;

	.invited {
		color: #444;
		margin: 15px;
		padding: 15px;	
	}

	h1 {
		font-weight: 300;
		small {
			color: rgba(255,255,255,0.7);
		}
	}

	h5 {
		margin-top: 50px;
	}

	.white-link {
		text-decoration: underline;
		cursor: pointer;
	}

	.form-light {
		background-color: #fff;
		border-radius: 5px;
		border: 1px solid @gray-light;		
		padding: 20px;
		max-width: 350px;
		margin: 30px auto;
		color: #444;

		&.invited-form {
			margin-top: 0;
		}

		.form-group {
			padding: 8px 0;
		}

		.form-content {
			padding: 40px 0;
		}

		.jvFloat .placeHolder {
			color: #fff !important;
			padding: 0px 10px !important;
		}
	}

}

.register-page {
	padding-top: 3em;
	.form-light {
		max-width: 100%;
	}
}

.reset-page {
	.form-light .form-content {
		padding-bottom: 20px;
	}
}