.view-action {
    cursor: pointer;
    font-size: 20px;
    position: relative;
}
.flag-action {
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
    position: relative;

    &.fa-flag {
        color: @brand-danger;
    }

    @media (max-width: 559px) {
        margin-left: 50px;
    }
}
.inventory-search {
    float: right;
    width: 200px;
    margin-top: 20px;
    position: absolute;
    right: 190px;
    top: 90px;

    @media (min-width: 768px) {
        right:210px;
    }
}
.inventory-search-clear {
    position: absolute;
    right: 210px;
    top: 120px;
    cursor: pointer;
    color: @brand-danger;

    @media (max-width: 767px) {
        top:115px !important;
        right:190px !important;
    }    
}

thead th {
    cursor: pointer;
}

tr.inactive {
    color: #ccc;
}