.my-upline-row {

    .entity {
        border-left: 5px solid #009ADA;
        padding-left: 10px;
        line-height: 1em;

        &.left-align {
            div.summary-label {
                font-weight: bold;
                display: inline-block;
                margin-right: 10px;
            }
            
            div.summary-data {
                margin-left: 160px;
            }
        }
    }    

    .btn-delete-upline {
        display: none;
        width: 50px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 5px;
    }

    .show-hover-btn {
        .entity {
            border-left: 7px solid #009ADA;
            margin-left: -2px;
        }

        .btn-delete-upline {
            display: inline;
        }
    }
}

h3.seat-name {
    margin-top: 10px;
}

.inline-role-select {
    width: 50%;
    display: inline-block;
    margin-bottom: 15px;
}

.entity {
    .form-control {
        color: #444;
    }
}

.active-member-block {
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px #eee;
    padding: 0px 15px;
    margin-bottom: 30px;
    min-height:150px;
}

.pending-approval {
    background: #fff;
    color: #444;
    border-radius: 5px;
    font-size: 28px;
}

div.summary-label,
div.summary-label-200 {
    width: 150px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    float: left;
}

div.summary-label-200 {
    width:200px;
}

div.summary-data {
    margin-left: 160px;
}

/* PRICING TABLE */ 

#pricing-table {
    .plan {
        background: #fff;      
        border: 1px solid #ddd;
        color: #333;
        padding: 20px;
        position: relative;
        text-align: center;
    }
    img {
        height: 19px;
    }
    #most-popular {
        z-index: 2;
        top: -13px;
        border-width: 1px;
        padding: 30px 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
        box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
        h3 {
            background-image: -moz-linear-gradient(#fff,#eee);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
            background-image: -webkit-linear-gradient(#fff, #eee);
            background-image: -o-linear-gradient(#fff, #eee);
            background-image: -ms-linear-gradient(#fff, #eee);
            background-image: linear-gradient(#fff, #eee);
            margin-top: -30px;
            padding-top: 30px;
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0; 	
            height: 123px;	
        }
    }
    .plan:nth-child(1) {
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;   
        h3 {
            -moz-border-radius: 5px 0 0 0;
            -webkit-border-radius: 5px 0 0 0;
            border-radius: 5px 0 0 0;       
        }     
    }
    .plan:nth-child(3) {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;     
        h3 {
            -moz-border-radius: 0 5px 0 0;
            -webkit-border-radius: 0 5px 0 0;
            border-radius: 0 5px 0 0;       
        }	   
    }
    h3 {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        margin: -20px -20px 50px -20px;
        border-bottom: 1px solid #ccc;
        height: 110px;

        span {
            display: block;
            font: bold 25px/100px Georgia, Serif;
            color: #777;
            background: #fff;
            border: 5px solid #fff;
            height: 100px;
            width: 100px;
            margin: 10px auto -65px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            border-radius: 100px;
            -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
            -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
            box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
            text-align: center;
            line-height: 90px;
        }
    }
    ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        li {
            border-top: 1px solid #ddd;
            padding: 10px 0;
        }
    }
    .plan-options {
        h3 { 
            height:123px;
            border-bottom: none;
        }
    }
}

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

.important-note {
    padding: 20px;
    border: 1px dashed #ccc;
    border-left: 5px solid #ff9800 !important;
    background-color: #fff;

    button.btn-outline {
        background-color: #fff !important;
    }
}

.info-note {
    padding: 20px;
    border: 1px dashed #ccc;
    border-left: 5px solid #009ADA !important;
    background-color: #fff;

    button.btn-outline {
        background-color: #fff !important;
    }
}

@media (max-width: 768px) {
    #pricing-table {
        #most-popular {
            top: 0px;
        }
    }    
}