<div class="feature-grids row" ng-if="vm.reviewEmailCampaigns && !vm.pickEmailTemplate && !vm.editEmailTemplate">
    <div class="col-lg-12" style="margin-top:30px" ng-if="!vm.emailCampaigns || vm.emailCampaigns.length === 0">
        <h3><i class="fa fa-warning"></i> You don't have any Email Campaigns yet.</h3>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-top:30px" ng-repeat="campaign in vm.emailCampaigns">
        <div class="template-preview" ng-click="vm.editEmailCampaign(campaign)">
            <div ng-style="{ 'background-position': campaign.imgPreview ? 'top' : 'center', 'background-image': campaign.imgPreview ? 'URL(' + campaign.imgPreview + ')' : 'URL(\'/images/marketing/no-preview.png\')' }" class="preview"></div>
            {{campaign.description}}
            <button class="pull-right btn btn-md btn-success btn-pmd-outline customize-template">Details <i class="fa fa-angle-right"></i></button>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.pickEmailTemplate && !vm.editEmailTemplate">
    <div class="col-md-12">
        <div class="page-panel">
            <span class="panel-title">Pick a Template</span>
            <div class="container-fluid form-dark">
                <div class="row feature-grids">
                    <div class="col-lg-3 col-sm-6" ng-if="vm.currentUser.profile.role === 'iBroker'">
                        <div class="f1 icon1 p-4" ng-click="vm.newEmailTemplate()">
                            <div class="icon">
                                <span class="fa fa-plus"></span>
                            </div>
                            <h3 class="my-3">New Template (admin)</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" ng-repeat="template in vm.emailTemplates">
                        <div class="template-preview" ng-click="vm.selectEmailTemplate(template)">
                            <div ng-style="{ 'background-position': template.imgPreview ? 'top' : 'center', 'background-image': template.imgPreview ? 'URL(' + template.imgPreview + ')' : 'URL(\'/images/marketing/no-preview.png\')' }" class="preview"></div>
                            {{template.description}}
                            <button class="pull-right btn btn-md btn-success btn-pmd-outline customize-template">Preview <i class="fa fa-angle-right"></i></button>
                            <button style="position:absolute; top:0; right: 15px;" class="btn btn-md btn-info btn-pmd-outline customize-template" ng-if="vm.currentUser.profile.role === 'iBroker'" ng-click="vm.selectEmailTemplate(template,true); $event.stopPropagation();" window.event.cancelBubble="true">Edit <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.editEmailTemplate">
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">{{vm.doEditEmailTemplate ? 'Edit' : 'Customize'}} {{vm.previewingEmailTemplate ? 'Preview': 'Template'}}</span>
            <div class="container-fluid form-dark">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-decoration: underline">{{vm.doEditEmailTemplate ? 'Description' : 'Email Name'}}:</h3>
                        <input type="text" ng-model="vm.emailTemplate.description" style="width:100%; line-height:2em; padding:0px 10px;" />
                    </div>                    
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Template Tokens: 
                            <button ng-if="vm.doEditEmailTemplate" class="btn btn-xs pmd-btn-outline btn-success" style="margin-left:20px" ng-click="vm.refreshEmailTokens()"><i class="fa fa-refresh"></i> Refresh Tokens</button>
                        </h3>
                        <h5 ng-if="!vm.doEditEmailTemplate" class="important-note"><b>What do I do?</b> Fill out the form below to update the placeholders within the template. You will see your updates reflected in the preview as you type! {{vm.previewingEmailTemplate ? 'If you want to use this Template, click "Use This Template" below to save it to your organization.' : 'When you are satisfied, copy the "Template HTML" code into your email marketing system!'}}</h5>
                        <h5 ng-if="vm.doEditEmailTemplate" class="important-note"><b>Admin Note:</b> Placeholder tokens enclosed in <span ng-non-bindable>{{{triple curly braces}}}</span> in the template HTML are automatically extracted and displayed here. The token will show up on the left, with an input box to the right where you can set what the display value should be for that token on the form the user will be asked to fill out when utilizing this template.</h5>
                        <div ng-repeat="token in vm.emailTemplate.tokens" ng-if="vm.doEditEmailTemplate">
                            <b>{{token.tokenValue}}</b>: <input type="text" ng-model="token.displayValue" style="width:45%; line-height:2em; padding:0px 10px; margin-bottom:10px" placeholder="Display Value"> <span ng-if="token.isStandard"><i class="fa fa-check"></i> Standard Field</span><button class="btn btn-xs btn-success pmd-btn-outline" ng-if="!token.isStandard" ng-click="vm.addToStandardFields(token,'emailTemplates')">Add to Standard Fields</button>
                        </div>
                        <div ng-repeat="token in vm.emailTemplate.tokens" ng-if="!vm.doEditEmailTemplate">
                            <b>{{token.displayValue}}</b>: <input type="text" ng-change="vm.refreshEmailPreview()" ng-model="vm.newEmailCampaign.tokens[token.tokenValue]" ng-if="token.tokenValue !== 'ReferralLink'" style="width:45%; line-height:2em; padding:0px 10px; margin-bottom:10px">
                            <input type="text" ng-model="vm.newEmailCampaign.tokens[token.tokenValue]" ng-if="token.tokenValue === 'ReferralLink'" style="width:45%; line-height:2em; padding:0px 10px; margin-bottom:10px" readonly> <i class="fa fa-question info-question" ng-if="token.tokenValue === 'ReferralLink'" ng-click="vm.showMessage('Referral Link')" style="
                                display: inline-block;
                                font-size: 24px;
                                height: 24px;
                                width: 24px;
                                border-radius: 50px;
                                line-height: 24px;
                                margin-top: 8px;
                            "></i>
                        </div>
                        <div ng-if="vm.newEmailCampaign.tokens.logoImg && !vm.doEditEmailTemplate">
                            <b>Logo:</b> <br>
                            <img ng-src="{{vm.newEmailCampaign.tokens.logoImg}}" class="templatePreviewImg" alt="Email Logo">
                            <input type="file" name="preview-front" id="preview-front" class="inputfile" ng-model="vm.newLogoImgUpload" ng-upload-change="vm.formUpload('companyLogo','emailCompanyLogo','preview',$event)" />
                            <label for="preview-front"><b class="form-status btn btn-primary" style="margin-top:10px"><i class="fa fa-upload"></i> Upload Logo</b></label>
                        </div>
                    </div>                    
                </div>
                <hr style="margin-top:30px" ng-if="vm.doEditEmailTemplate">
                <div class="row" ng-if="vm.doEditEmailTemplate">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Preview Images:</h3>
                        <img ng-src="{{vm.emailTemplate.imgPreview}}" class="templatePreviewImg" ng-if="vm.emailTemplate.imgPreview" alt="Email Template Preview">
                        <input type="file" name="preview-front" id="preview-front" class="inputfile" ng-model="vm.emailTemplate.imgPreviewUpload" ng-upload-change="vm.formUpload('templatePreview','root','preview',$event)" />
                        <label for="preview-front"><b class="form-status btn btn-primary" style="margin-top:10px"><i class="fa" ng-class="{ 'fa-upload': !vm.emailTemplate.imgPreview, 'fa-refresh': vm.emailTemplate.imgPreview }"></i> {{vm.emailTemplate.imgPreview ? 'Change' : 'Upload'}} Preview</b></label>
                    </div>                    
                </div>
                <hr style="margin-top:30px" ng-if="vm.doEditEmailTemplate || !vm.previewingEmailTemplate">
                <div class="row" ng-if="vm.doEditEmailTemplate || !vm.previewingEmailTemplate">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Template HTML:</h3>
                        <textarea ng-model="vm.emailTemplate.html" ng-if="vm.doEditEmailTemplate" ng-blur="vm.updateEmailPreview()" placeholder="Paste Email HTML Here..." name="html" style="width:100%;height:300px;"></textarea>
                        <textarea ng-model="vm.newEmailCampaign.html" ng-if="!vm.doEditEmailTemplate" disabled name="html" style="width:100%;height:300px;"></textarea>
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default pull-left" ng-click="vm.emailTemplate = {}; vm.emailTemplateSaved = false; vm.previewingEmailTemplate = false; vm.editEmailTemplate = false; vm.editEmail = false;">Cancel</button>
                        <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveEmailCampaign()" ng-if="!vm.doEditEmailTemplate && vm.previewingEmailTemplate"><i class="fa fa-floppy-o"></i> Use This Template</button>
                        <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveEmailCampaign()" ng-if="!vm.doEditEmailTemplate && !vm.previewingEmailTemplate"><i class="fa fa-floppy-o"></i> Save Email</button>
                        <button class="btn btn-danger pmd-btn-outline pull-right" style="margin-right:25px" ng-click="vm.deleteEmailCampaign()" ng-if="!vm.doEditEmailTemplate && !vm.previewingEmailTemplate"><i class="fa fa-close"></i> Delete Email</button>
                        <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveEmailTemplate()" ng-if="vm.doEditEmailTemplate"><i class="fa fa-floppy-o"></i> Save Template</button>
                        <button class="btn btn-danger pull-right pmd-btn-outline" style="margin-right:25px" ng-click="vm.deleteEmailTemplate()" ng-if="vm.doEditEmailTemplate"><i class="fa fa-close"></i> Delete Template</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">Preview</span>
            <div class="container-fluid form-dark">
                <iframe style="width:100%; height:750px;" id="emailPreview" frameborder="0">Your browser doesn't support iFrames...No Preview for you!</iframe>
            </div>
        </div>
    </div>
</div>