<div class="feature-grids row" ng-if="vm.reviewForms && !vm.createForm">
    <div class="col-lg-12" style="margin-top:30px" ng-if="!vm.forms || vm.forms.length === 0">
        <h3><i class="fa fa-warning"></i> You don't have any Embedded Forms yet.</h3>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-top:30px" ng-repeat="form in vm.forms">
        <div class="f1 icon1 p-4" ng-click="vm.editForm(form)">
            <div class="icon">
                <span class="fa fa-edit"></span>
            </div>
            <h3 class="my-3">{{form.formName}}</h3>
        </div>
    </div>
</div>

<div class="row" ng-if="vm.createForm">
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">Customize Lead Form</span>
            <div class="container-fluid form-dark">
                <div class="row">
                    <div class="col-md-12">
                        <h3><u>Form Name</u> (to find this form later)</h3>
                        <input type="text" ng-model="vm.form.formName" style="width:100%; line-height:2em; padding:0px 10px;" />
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px"><u>Form Title</u> (displayed on the form)</h3>
                        <input type="text" ng-model="vm.form.formTitle" style="width:100%; line-height:2em; padding:0px 10px;" ng-change="vm.updateForm()" />
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">How do you want to track Leads from this form?</h3>
                        <label>
                            <input type="radio" ng-model="vm.form.trackingType" value="system">
                            Track Leads on iSubmit.<span style="font-weight: normal;"> Leads will show up on the iSubmit Policy Inventory page under "My Cases". Lead contacts will be able to fill out the full application form after submission. Eligible lead entries with all required fields provided via the full application will have the option to submit the policy for e-signature.</span>
                        </label><br/>
                        <span style="display: block;text-align: center;margin-bottom: 5px;">- or -</span>
                        <label>
                        <input type="radio" ng-model="vm.form.trackingType" value="custom">
                            Track Leads on my own.<span style="font-weight: normal;"> All Leads will be submitted to a webhook endpoint you provide, i.e. Zapier or custom server. It will be up to you to save/notify yourself about new Leads.</span>
                        </label>
                        <span style="display: block;text-align: center;margin-bottom: 5px;">- or -</span>
                        <label>
                        <input type="radio" ng-model="vm.form.trackingType" value="both">
                            Both.<span style="font-weight: normal;"> Have your cake and eat it too.</span>
                        </label>
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row" ng-if="vm.form.trackingType === 'custom' || vm.form.trackingType === 'both'">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Webhooks Info</h3>
                        <div>Where should we post Lead data for submissions from this form? <i class="fa fa-question info-question" ng-click="vm.showMessage('Webhooks')" style="
                            display: inline-block;
                            font-size: 20px;
                            height: 24px;
                            width: 24px;
                            border-radius: 50px;
                            line-height: 24px;
                            margin-top: 8px;
                            "></i> <input type="text" style="display:inline-block;width:100%;line-height:2em; padding:0px 10px;" ng-model="vm.form.webhooksURL">
                        </div>
                    </div>
                </div>
                <hr style="margin-top:30px" ng-if="vm.form.trackingType === 'custom' || vm.form.trackingType === 'both'">
                <div class="row" ng-if="vm.form.trackingType === 'system' || vm.form.trackingType === 'both'">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Custom Tracking Data</h3>
                        <div ng-repeat="custom in vm.form.trackingData">
                            <b>{{custom.key}}</b>: {{custom.value}} <i class="fa fa-trash-o text-danger" ng-click="vm.removeCustomData($index)" style="margin-left:15px;cursor:pointer;"></i>
                        </div>
                        <div style="margin-top:10px">
                            <input type="text" ng-model="vm.form.newTrackingKey" style="width:45%; line-height:2em; padding:0px 10px; margin-bottom:10px" placeholder="Label">
                            <input type="text" ng-model="vm.form.newTrackingValue" style="width:45%; line-height:2em; padding:0px 10px; margin-bottom:10px" placeholder="Value">
                            <br>
                            <button class="btn btn-default btn-md" ng-click="vm.addNewTracking()" ng-if="vm.form.newTrackingKey && vm.form.newTrackingValue">Save Key/Value</button>
                        </div>
                    </div>
                </div>
                <hr style="margin-top:30px" ng-if="vm.form.trackingType === 'system' || vm.form.trackingType === 'both'">
                <div class="row" ng-if="vm.form.trackingType === 'system' || vm.form.trackingType === 'both'">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Who Should Manage These Leads?</h3>
                        <label>
                            <input type="radio" ng-model="vm.form.managedBy" value="self">
                            Self Managed.<span style="font-weight: normal;"> I will be responsible to contact Leads.</span>
                        </label><br/>
                        <span style="display: block;text-align: left;margin-bottom: 5px;">- or -</span>
                        <label>
                        <input type="radio" ng-model="vm.form.managedBy" value="broker">
                            Broker Managed.<span style="font-weight: normal;"> Broker will be responsible to contact Leads.</span>
                        </label>
                    </div>
                </div>
                <hr style="margin-top:30px" ng-if="vm.form.trackingType === 'system' || vm.form.trackingType === 'both'">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Send confirmation emails?</h3>
                        <label>
                            <input type="radio" ng-model="vm.form.sendEmailRadio" value="true">
                            Yes.<span style="font-weight: normal;"> Leads will be sent an email from LS Hub after completing the form.</span>
                        </label><br/>
                        <span style="display: block;text-align: left;margin-bottom: 5px;">- or -</span>
                        <label>
                        <input type="radio" ng-model="vm.form.sendEmailRadio" value="false">
                            No.<span style="font-weight: normal;"> Leads will not be sent any emails from LS Hub, and will not be linked to the application automatically.</span>
                        </label>
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row" ng-if="vm.form.trackingType === 'system' || vm.form.trackingType === 'both'">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Lead Assignment</h3>
                        <div>Assign Leads to User: {{vm.form.leadsAssignedTo.name}}
                            <a ng-if="!vm.gettingDownlineList && !vm.settingCreatedOnBehalfOf" ng-click="vm.setOnBehalfOf()" href="javascript:void(0)" style="font-size:10px; margin-left:10px;"><i class="fa fa-refresh"></i> change</a><span ng-if="vm.gettingDownlineList"
                                style="font-size:10px; margin-left:10px;"><i class="fa fa-refresh fa-spin"></i> Getting downline...</span>

                            <div ng-if="vm.settingCreatedOnBehalfOf && !vm.gettingDownlineList">
                                <ui-select id="seatMember-select" ng-model="vm.onBehalfOfPick" theme="bootstrap" on-select="vm.onSelectCallback('seatMember')" title="Pick downline user">
                                    <ui-select-match placeholder="Select a User">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="member in vm.seatMembers | filter: $select.search">
                                        <span ng-bind-html="member.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <button class="btn btn-success pull-right btn-outline" style="margin-right:20%" ng-click="vm.continueSetOnBehalfOf()">Set</button>
                                <button class="btn btn-default pull-right btn-outline" ng-click="vm.onBehalfOfPick = null; vm.settingCreatedOnBehalfOf = false">Cancel</button>
                                <br style="clear:both">
                            </div>
                        </div>
                        <div>Who should sign e-applications? <i class="fa fa-question info-question" ng-click="vm.showMessage('Who Should Sign')" style="
                            display: inline-block;
                            font-size: 20px;
                            height: 24px;
                            width: 24px;
                            border-radius: 50px;
                            line-height: 24px;
                            margin-top: 8px;
                        "></i>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-4">
                                <div class="form-group" style="margin-bottom:10px">
                                    <label>First Name</label>
                                    <input type="text" class="form-control input-lg" style="color:#444" ng-change="vm.pageIsDirty = true" ng-model="vm.form.signingAgent.firstName">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" style="margin-bottom:10px">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control input-lg" style="color:#444" ng-change="vm.pageIsDirty = true" ng-model="vm.form.signingAgent.lastName">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" style="margin-bottom:10px">
                                    <label>Email</label>
                                    <input type="text" class="form-control input-lg" style="color:#444" ng-change="vm.pageIsDirty = true" ng-model="vm.form.signingAgent.email">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <hr style="margin-top:30px" ng-if="vm.form.trackingType === 'system' || vm.form.trackingType === 'both'">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Contact Information</h3>
                        <div>Support Phone Number: <i class="fa fa-question info-question" ng-click="vm.showMessage('Contact Number')" style="
                            display: inline-block;
                            font-size: 20px;
                            height: 24px;
                            width: 24px;
                            border-radius: 50px;
                            line-height: 24px;
                            margin-top: 8px;
                            "></i> <input type="text" style="display:inline-block;width:auto;line-height:2em; padding:0px 10px;" ng-model="vm.form.contactNumber" />
                        </div>
                        <div style="margin-top:10px">Follow-up Scheduling Link: <i class="fa fa-question info-question" ng-click="vm.showMessage('Followup Link')" style="
                            display: inline-block;
                            font-size: 20px;
                            height: 24px;
                            width: 24px;
                            border-radius: 50px;
                            line-height: 24px;
                            margin-top: 8px;
                            "></i> <input type="text" style="display:inline-block;width:100%;line-height:2em; padding:0px 10px;" ng-model="vm.form.followUpLink"></div>
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Customize Form Design</h3>
                        <div>Accent color: <input colorpicker="hex" type="text" ng-change="vm.updateForm()" ng-model="vm.form.accentColor" class="hex-input" /> <span class="color-block" colorpicker="hex" ng-change="vm.updateForm()" ng-model="vm.form.accentColor"
                                id="accentColor" ng-style="{ 'background-color': vm.form.accentColor }"></span>
                        </div>
                        <div style="margin-top:10px">Form width: <input class="hex-input" type="text" ng-model="vm.form.frameWidth" ng-change="vm.updateForm()"> ( "___<b>%</b>" or "___<b>px</b>" )</div>
                        <div style="margin-top:10px">Show form shadow: <input type="checkbox" ng-model="vm.form.formShadow" ng-change="vm.updateForm()" style="height: 20px;width: 20px;margin-left: 15px;margin-top: 0px;vertical-align: middle;cursor:pointer;"></div>
                        <div style="margin-top:10px">Show form border: <input type="checkbox" ng-model="vm.form.formBorder" ng-change="vm.updateForm()" style="height: 20px;width: 20px;margin-left: 15px;margin-top: 0px;vertical-align: middle;cursor:pointer;"></div>
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Embed Code</h3>
                        <div ng-if="vm.formSaved">
                            <p>Copy and paste the following onto your website where you want to embed this form:</p>
                            <pre style="white-space: pre-wrap">
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.0.4/iframeResizer.min.js"&gt;&lt;/script&gt;
&lt;iframe id="LeadFrame" src="{{vm.frameSrc}}" name="form" frameborder="0" width="100%"&gt;&lt;/iframe&gt;
&lt;script&gt;iFrameResize({}, '#LeadFrame')&lt;/script&gt;
                            </pre>
                        </div>
                        <div ng-if="!vm.formSaved">
                            <p>Save the form first to access the Embed Code...</p>
                        </div>
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default pull-left" ng-click="vm.createForm = false">Cancel</button>
                        <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveForm()"><i class="fa fa-floppy-o"></i> Save Form</button>
                        <button class="btn btn-danger pull-right pmd-btn-outline" style="margin-right:25px" ng-click="vm.deleteForm()"><i class="fa fa-close"></i> Delete Form</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="page-panel" style="background-color: #ccc;">
            <span class="panel-title">Preview</span>
            <div class="container-fluid form-dark">
                <iframe id="LeadFrame" ng-src="{{trustSrc(vm.frameSrcPreview)}}" name="form" frameborder="0" width="100%" style="height:750px"></iframe>
                <script>
                    iFrameResize({
                        checkOrigin: false
                    }, '#LeadFrame')
                </script>
            </div>
        </div>
    </div>
</div>