<div class="feature-grids row" ng-if="vm.reviewLandingPages && !vm.pickLandingPageTemplate && !vm.editLandingPageTemplate">
    <div class="col-lg-12" style="margin-top:30px" ng-if="!vm.landingPages || vm.landingPages.length === 0">
        <h3><i class="fa fa-warning"></i> You don't have any Landing Pages yet.</h3>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-top:30px" ng-repeat="landingPage in vm.landingPages">
        <div class="template-preview" ng-click="vm.editLandingPageCampaign(landingPage)">
            <div ng-style="{ 'background-position': landingPage.imgPreview ? 'top' : 'center', 'background-image': landingPage.imgPreview ? 'URL(' + landingPage.imgPreview + ')' : 'URL(\'/images/marketing/no-preview.png\')' }" class="preview"></div>
            {{landingPage.description}}
            <button class="pull-right btn btn-md btn-success btn-pmd-outline customize-template">Details <i class="fa fa-angle-right"></i></button>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.pickLandingPageTemplate && !vm.editLandingPageTemplate">
    <div class="col-md-12">
        <div class="page-panel">
            <span class="panel-title">Pick a Template</span>
            <div class="container-fluid form-dark">
                <div class="row feature-grids">
                    <div class="col-lg-3 col-sm-6" ng-if="vm.currentUser.profile.role === 'iBroker'">
                        <div class="f1 icon1 p-4" ng-click="vm.newLandingPageTemplate()">
                            <div class="icon">
                                <span class="fa fa-plus"></span>
                            </div>
                            <h3 class="my-3">New Template (admin)</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" ng-repeat="template in vm.landingPageTemplates">
                        <div class="template-preview" ng-click="vm.selectLandingPageTemplate(template)">
                            <div ng-style="{ 'background-position': template.imgPreview ? 'top' : 'center', 'background-image': template.imgPreview ? 'URL(' + template.imgPreview + ')' : 'URL(\'/images/marketing/no-preview.png\')' }" class="preview"></div>
                            {{template.description}}
                            <button class="pull-right btn btn-md btn-success btn-pmd-outline customize-template">Preview <i class="fa fa-angle-right"></i></button>
                            <button style="position:absolute; top:0; right: 15px;" class="btn btn-md btn-info btn-pmd-outline customize-template" ng-if="vm.currentUser.profile.role === 'iBroker'" ng-click="vm.selectLandingPageTemplate(template,true); $event.stopPropagation();" window.event.cancelBubble="true">Edit <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.editLandingPageTemplate">
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">{{vm.doEditLandingPageTemplate ? 'Edit' : 'Customize'}} {{vm.previewingLandingPageTemplate ? 'Preview': 'Template'}}</span>
            <div class="container-fluid form-dark">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-decoration: underline">{{vm.doEditLandingPageTemplate ? 'Description' : 'Landing Page Name'}}:</h3>
                        <input type="text" ng-model="vm.landingPageTemplate.description" style="width:100%; line-height:2em; padding:0px 10px;" />
                    </div>                    
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Template Tokens: 
                            <button ng-if="vm.doEditLandingPageTemplate" class="btn btn-xs pmd-btn-outline btn-success" style="margin-left:20px" ng-click="vm.refreshLandingPageTokens()"><i class="fa fa-refresh"></i> Refresh Tokens</button>
                            <button ng-if="!vm.doEditLandingPageTemplate" class="btn btn-xs pmd-btn-outline btn-success" style="margin-left:20px" ng-click="vm.refreshLandingPagePreview()"><i class="fa fa-refresh"></i> Refresh Preview</button>
                        </h3>
                        <h5 ng-if="!vm.doEditLandingPageTemplate" class="important-note">Fill out the form below to update the placeholders within the template. Click "Refresh Preview" above to see your updates reflected in the preview! When you are satisfied, copy the "Template HTML" code into your CRM to render the Landing Page!</h5>
                        <h5 ng-if="vm.doEditLandingPageTemplate" class="important-note">Placeholder tokens enclosed in triple curly braces in the template HTML are automatically extracted and displayed here. The token will show up on the left, with an input box to the right where you can set what the display value should be for that token on the form the user will be asked to fill out when utilizing this template.</h5>
                        <div ng-repeat="token in vm.landingPageTemplate.tokens" ng-if="vm.doEditLandingPageTemplate">
                            <b>{{token.tokenValue}}</b>: <input type="text" ng-model="token.displayValue" style="width:45%; line-height:2em; padding:0px 10px; margin-bottom:10px" placeholder="Display Value"> <span ng-if="token.isStandard"><i class="fa fa-check"></i> Standard Field</span><button class="btn btn-xs btn-success pmd-btn-outline" ng-if="!token.isStandard" ng-click="vm.addToStandardFields(token,'landingPageTemplates')">Add to Standard Fields</button>
                        </div>
                        <div ng-repeat="token in vm.landingPageTemplate.tokens" ng-if="!vm.doEditLandingPageTemplate">
                            <b>{{token.displayValue}}</b>: <input type="text" ng-model="vm.newLandingPage.tokens[token.tokenValue]" ng-if="token.tokenValue !== 'ReferralLink'" style="width:45%; line-height:2em; padding:0px 10px; margin-bottom:10px">
                            <input type="text" ng-model="vm.newLandingPage.tokens[token.tokenValue]" ng-if="token.tokenValue === 'ReferralLink'" style="width:45%; line-height:2em; padding:0px 10px; margin-bottom:10px" readonly> <i class="fa fa-question info-question" ng-if="token.tokenValue === 'ReferralLink'" ng-click="vm.showMessage('Referral Link')" style="
                            display: inline-block;
                            font-size: 24px;
                            height: 24px;
                            width: 24px;
                            border-radius: 50px;
                            line-height: 24px;
                            margin-top: 8px;
                        "></i>
                        </div>
                        <div ng-if="vm.newLandingPage.tokens.logoImg && !vm.doEditLandingPageTemplate">
                            <b>Logo:</b> <br>
                            <img ng-src="{{vm.newLandingPage.tokens.logoImg}}" class="templatePreviewImg" alt="Landing Page Logo">
                            <input type="file" name="preview-front" id="preview-front" class="inputfile" ng-model="vm.newLogoImgUpload" ng-upload-change="vm.formUpload('companyLogo','landingPageLogo','preview',$event)" />
                            <label for="preview-front"><b class="form-status btn btn-primary" style="margin-top:10px"><i class="fa fa-upload"></i> Upload Logo</b></label>
                        </div>
                    </div>                    
                </div>
                <hr style="margin-top:30px" ng-if="vm.doEditLandingPageTemplate">
                <div class="row" ng-if="vm.doEditLandingPageTemplate">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Preview Images:</h3>
                        <img ng-src="{{vm.landingPageTemplate.imgPreview}}" class="templatePreviewImg" ng-if="vm.landingPageTemplate.imgPreview" alt="Landing Page Template Preview">
                        <input type="file" name="preview-front" id="preview-front" class="inputfile" ng-model="vm.landingPageTemplate.imgPreviewUpload" ng-upload-change="vm.formUpload('landingPageTemplatePreview','root','preview',$event)" />
                        <label for="preview-front"><b class="form-status btn btn-primary" style="margin-top:10px"><i class="fa" ng-class="{ 'fa-upload': !vm.landingPageTemplate.imgPreview, 'fa-refresh': vm.landingPageTemplate.imgPreview }"></i> {{vm.landingPageTemplate.imgPreview ? 'Change' : 'Upload'}} Preview</b></label>
                    </div>                    
                </div>
                <hr style="margin-top:30px" ng-if="vm.doEditLandingPageTemplate || !vm.previewingLandingPageTemplate">
                <div class="row" ng-if="vm.doEditLandingPageTemplate || !vm.previewingLandingPageTemplate">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Template HTML:</h3>
                        <textarea ng-model="vm.landingPageTemplate.html" ng-if="vm.doEditLandingPageTemplate" ng-change="vm.updateLandingPagePreview()" name="html" style="width:100%;height:300px;"></textarea>
                        <textarea ng-model="vm.newLandingPage.html" ng-if="!vm.doEditLandingPageTemplate" disabled name="html" style="width:100%;height:300px;"></textarea>
                    </div>
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default pull-left" ng-click="vm.landingPageTemplate = {}; vm.landingPageTemplatesaved = false; vm.previewingLandingPageTemplate = false; vm.editLandingPageTemplate = false; vm.editLandingPage = false; vm.editLandingPage">Cancel</button>
                        <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveLandingPage()" ng-if="!vm.doEditLandingPageTemplate && vm.previewingLandingPageTemplate"><i class="fa fa-floppy-o"></i> Use This Template</button>
                        <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveLandingPage()" ng-if="!vm.doEditLandingPageTemplate && !vm.previewingLandingPageTemplate"><i class="fa fa-floppy-o"></i> Save Landing Page</button>
                        <button class="btn btn-danger pmd-btn-outline pull-right" style="margin-right:25px" ng-click="vm.deleteLandingPage()" ng-if="!vm.doEditLandingPageTemplate && !vm.previewingLandingPageTemplate"><i class="fa fa-close"></i> Delete Landing Page</button>
                        <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveLandingPageTemplate()" ng-if="vm.doEditLandingPageTemplate"><i class="fa fa-floppy-o"></i> Save Template</button>
                        <button class="btn btn-danger pull-right pmd-btn-outline" style="margin-right:25px" ng-click="vm.deleteLandingPageTemplate()" ng-if="vm.doEditLandingPageTemplate"><i class="fa fa-close"></i> Delete Template</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">Preview</span>
            <div class="container-fluid form-dark">
                <iframe style="width:100%; height:750px;" id="landingPagePreview" frameborder="0">Your browser doesn't support iFrames...No Preview for you!</iframe>
            </div>
        </div>
    </div>
</div>