<div ng-if="!vm.currentUser.org">
    <h2 class="pmd-display1">Marketing</h2>
    <h3 class="important-note">To access our full suite of marketing tools, you must first have an Organization on the iSubmit platform.<br><br>
    Please <a ui-sref="profile">head to your Profile</a> to create an Organization!</h3>
</div>
<div ng-if="vm.currentUser.org && !vm.currentUser.org.marketingAccess">
    <h2 class="pmd-display1">Marketing</h2>
    <h3 class="important-note">You do not currently have access to our full suite of Marketing Tools.</h3>
    <button class="btn btn-success btn-lg pmd-btn-outline" ng-if="!vm.currentUser.org.marketingAccessRequested" ng-click="vm.requestAccess()" ladda="vm.requestingAccess" style="margin-top:40px;"><i class="fa fa-unlock-alt"></i>&nbsp; Request Access</button>
    <h3 ng-if="vm.currentUser.org.marketingAccessRequested">Access Requested on {{vm.currentUser.org.marketingAccessRequestedAt | date:'M/dd/yy @ h:mm a'}}</h3>
    <p ng-if="vm.currentUser.org.marketingAccessRequested">Someone will be in touch with you within 48 hours to discuss the Marketing Platform and approve your access.</p>
    <p ng-if="vm.currentUser.org.marketingAccessRequested">Thank you!</p>
</div>
<div ng-if="vm.currentUser.org && vm.currentUser.org.marketingAccess">
    <!-- Lead Form Back Buttons -->
    <a href="javascript:void(0);" ng-if="vm.reviewForms && !vm.createForm" ng-click="vm.reviewForms = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <a href="javascript:void(0);" ng-if="vm.createForm" ng-click="vm.createForm = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <!-- Marketing Piece Back Buttons -->
    <a href="javascript:void(0);" ng-if="vm.reviewMarketingPieces && !vm.reviewLandingPages && !vm.pickLandingPageTemplate && !vm.editLandingPageTemplate && !vm.pickMarketingTemplate && !vm.createMarketingPiece && !vm.editMarketingTemplate" ng-click="vm.reviewMarketingPieces = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <a href="javascript:void(0);" ng-if="vm.pickMarketingTemplate && !vm.createMarketingPiece && !vm.editMarketingTemplate" ng-click="vm.pickMarketingTemplate = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <a href="javascript:void(0);" ng-if="vm.pickMarketingTemplate && vm.createMarketingPiece" ng-click="vm.createMarketingPiece = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <a href="javascript:void(0);" ng-if="vm.pickMarketingTemplate && vm.editMarketingTemplate" ng-click="vm.editMarketingTemplate = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <!-- Email Template Back Buttons -->
    <a href="javascript:void(0);" ng-if="vm.reviewEmailCampaigns && !vm.reviewLandingPages && !vm.pickLandingPageTemplate && !vm.editLandingPageTemplate && !vm.pickEmailTemplate && !vm.editEmailTemplate" ng-click="vm.reviewEmailCampaigns = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>    
    <a href="javascript:void(0);" ng-if="vm.pickEmailTemplate && !vm.editEmailTemplate" ng-click="vm.pickEmailTemplate = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <a href="javascript:void(0);" ng-if="vm.editEmail" ng-click="vm.editEmail = false; vm.pickEmailTemplate = false; vm.editEmailTemplate = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <a href="javascript:void(0);" ng-if="vm.pickEmailTemplate && vm.editEmailTemplate" ng-click="vm.editEmailTemplate = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <!-- Landing Page Back Buttons -->
    <a href="javascript:void(0);" ng-if="vm.reviewLandingPages && !vm.reviewEmailCampaigns && !vm.pickLandingPageTemplate && !vm.editLandingPageTemplate && !vm.pickEmailTemplate && !vm.editEmailTemplate" ng-click="vm.reviewLandingPages = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>    
    <a href="javascript:void(0);" ng-if="vm.pickLandingPageTemplate && !vm.editLandingPageTemplate" ng-click="vm.pickLandingPageTemplate = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <a href="javascript:void(0);" ng-if="vm.editLandingPage" ng-click="vm.editLandingPage = false; vm.pickLandingPageTemplate = false; vm.editLandingPageTemplate = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <a href="javascript:void(0);" ng-if="vm.pickLandingPageTemplate && vm.editLandingPageTemplate" ng-click="vm.editLandingPageTemplate = false;" style="cursor: pointer; display: block;"><i class="fa fa-arrow-left"></i> Back</a>
    <!-- Marketing Breadcrumbs -->
    <h2 class="pmd-display1">Marketing 
        <!-- Lead Forms -->
        <span ng-if="vm.reviewForms || vm.createForm"><i class="fa fa-angle-right"></i> <span>Embedded Forms</span> <b class="btn btn-primary pmd-btn-outline btn-rounded add-new" ng-if="!vm.createForm" style="margin-left:25px" ng-click="vm.newForm()"><i class="fa fa-plus"></i> Add<br>New</b></span>
        <!-- Marketing Pieces -->
        <span ng-if="vm.reviewMarketingPieces && !vm.pickMarketingTemplate"><i class="fa fa-angle-right"></i> <span>Marketing Pieces</span></span>
        <span ng-if="vm.reviewMarketingPieces && vm.pickMarketingTemplate"><i class="fa fa-angle-right"></i> <span>Marketing Pieces</span> <i class="fa fa-angle-right"></i> <span>Marketing Templates</span></span>
        <!-- Email Templates -->
        <span ng-if="vm.reviewEmailCampaigns && !vm.pickEmailTemplate && !vm.editEmail"><i class="fa fa-angle-right"></i> <span>Email Templates</span> <b class="btn btn-primary pmd-btn-outline btn-rounded add-new" style="margin-left:25px" ng-click="vm.createNewEmailCampaign()"><i class="fa fa-plus"></i> Add<br>New</b></span>
        <span ng-if="vm.editEmail"><i class="fa fa-angle-right"></i> <span>Email Templates</span> <i class="fa fa-angle-right"></i> <span>Email</span></span>
        <span ng-if="vm.pickEmailTemplate"><i class="fa fa-angle-right"></i> <span>Email Templates</span> <i class="fa fa-angle-right"></i> <span>New Email</span></span>
        <!-- Landing Pages -->
        <span ng-if="vm.reviewLandingPages && !vm.pickLandingPageTemplate && !vm.editLandingPage"><i class="fa fa-angle-right"></i> <span>Landing Page Templates</span> <b class="btn btn-primary pmd-btn-outline btn-rounded add-new" style="margin-left:25px" ng-click="vm.createNewLandingPage()"><i class="fa fa-plus"></i> Add<br>New</b></span>
        <span ng-if="vm.editLandingPage"><i class="fa fa-angle-right"></i> <span>Landing Page Templates</span> <i class="fa fa-angle-right"></i> <span>Landing Page</span></span>
        <span ng-if="vm.pickLandingPageTemplate"><i class="fa fa-angle-right"></i> <span>Landing Page Templates</span> <i class="fa fa-angle-right"></i> <span>New Landing Page</span></span>
    </h2>
    <br style="clear:both">

    <div class="feature-grids row" ng-if="!vm.createForm && !vm.reviewForms && !vm.reviewMarketingPieces && !vm.createMarketingPiece && !vm.reviewEmailCampaigns && !vm.reviewLandingPages">
        <div class="col-lg-3 col-sm-6" style="margin-top:30px">
            <div class="f1 icon1 p-4" ng-click="vm.getEmbedForms()">
                <div class="icon">
                    <span class="fa fa-file-text-o"></span>
                </div>
                <h3 class="my-3">Embedded Forms</h3>
                <p>Create custom branded lead forms to embed on your website. Track leads in your iSubmit account!</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4" style="margin-top:30px">
            <div class="f1 icon3 p-4" ng-click="vm.getEmailCampaigns()">
                <div class="icon">
                    <span class="fa fa-envelope"></span>
                </div>
                <h3 class="my-3">Email Templates</h3>
                <p>Customizable email templates you can use to effectively communicate the Life Settlement opportunity.</p>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4" style="margin-top:30px">
            <div class="f1 icon2 p-4" ng-click="vm.getMarketingPieces()">
                <div class="icon">
                    <span class="fa fa-paint-brush"></span>
                </div>
                <h3 class="my-3">Marketing Pieces</h3>
                <p>Download branded marketing brochures, tri-folds, and inserts regarding the Life Settlement opportunity.</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4" style="margin-top:30px">
            <div class="f1 icon3 p-4" ng-click="vm.getLandingPages()">
                <div class="icon">
                    <span class="fa fa-desktop"></span>
                </div>
                <h3 class="my-3">Landing Page Templates</h3>
                <p>Generate Landing Page content to embed on your own website, configured to match your brand.</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 hover-coming-soon-container" style="margin-top:30px">
            <div class="f1 icon3 p-4">
                <div class="icon">
                    <span class="fa fa-share-alt"></span>
                </div>
                <h3 class="my-3">Social Media Content</h3>
                <p>Pick from a selection of pre-built social media posts, overlayed with your company brand.</p>
            </div>
            <div class="hover-coming-soon-shadow">
                <div class="hover-coming-soon-text">Coming Soon!</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 hover-coming-soon-container" style="margin-top:30px">
            <div class="f1 icon3 p-4">
                <div class="icon">
                    <span class="fa fa-video-camera"></span>
                </div>
                <h3 class="my-3">Video Content</h3>
                <p>Easily generate branded video marketing using our cutting-edge technology! Perfect for social media.</p>
            </div>
            <div class="hover-coming-soon-shadow">
                <div class="hover-coming-soon-text">Coming Soon!</div>
            </div>
        </div> -->
    </div>

    <ng-include src="'views/marketing/embedded-forms.html'"></ng-include>
    <!-- <ng-include src="'views/marketing/marketing-material.html'"></ng-include> -->
    <ng-include src="'views/marketing/email-campaigns.html'"></ng-include>
    <!-- <ng-include src="'views/marketing/landing-pages.html'"></ng-include> -->
</div>