<!-- <div class="feature-grids row" ng-if="vm.reviewMarketingPieces && !vm.pickMarketingTemplate && !vm.createMarketingPiece && !vm.editMarketingTemplate"> -->
<div class="feature-grids row">
    <div class="col-lg-3 col-sm-6" style="margin-top:30px">
        <div class="f1 icon1 p-4" ng-click="vm.newMarketingPiece()">
            <div class="icon">
                <span class="fa fa-plus"></span>
            </div>
            <h3 class="my-3">New Marketing Piece</h3>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-top:30px" ng-repeat="piece in vm.marketingPieces">
        <div class="f1 icon1 p-4" ng-click="vm.editMarketingPiece(piece)">
            <div class="icon">
                <span class="fa fa-edit"></span>
            </div>
            <h3 class="my-3">{{piece.pieceName}}</h3>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.pickMarketingTemplate && !vm.createMarketingPiece && !vm.editMarketingTemplate">
    <div class="col-md-12">
        <div class="page-panel">
            <span class="panel-title">Pick a Template</span>
            <div class="container-fluid form-dark">
                <div class="row feature-grids">
                    <div class="col-lg-3 col-sm-6">
                        <div class="f1 icon1 p-4" ng-click="vm.changeMarketingTemplate('new')">
                            <div class="icon">
                                <span class="fa fa-plus"></span>
                            </div>
                            <h3 class="my-3">New Template (admin)</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" ng-repeat="template in vm.marketingPieceTemplates">
                        <div class="template-preview" ng-click="vm.selectMarketingTemplate(template)">
                            <img src="{{template.imgFront}}" class="preview-front">
                            <img src="{{template.imgBack}}" class="preview-back">
                            {{template.description}}
                            <button class="pull-right btn btn-md btn-success btn-pmd-outline customize-template">Customize <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.editMarketingTemplate">
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">Edit Template</span>
            <div class="container-fluid form-dark">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-decoration: underline">Description (dimensions and type):</h3>
                        <input type="text" ng-model="vm.marketingTemplate.description" placeholder="i.e. - 4' x 6' postcard" style="width:100%; line-height:2em; padding:0px 10px;" />
                    </div>                    
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Preview Images:</h3>
                        <input type="file" name="preview-front" id="preview-front" class="inputfile" ng-model="vm.marketingTemplate.imgFront" ng-upload-change="vm.formUpload('preview-front','preview-front',$event)" />
                        <label for="preview-front"><b class="form-status btn btn-primary" style="margin-top:10px"><i class="fa fa-upload"></i> Upload Front Preview</b></label>
                        <br><br>
                        <input type="file" name="preview-back" id="preview-back" class="inputfile" ng-model="vm.marketingTemplate.imgBack" ng-upload-change="vm.formUpload('preview-back','preview-back',$event)" />
                        <label for="preview-back"><b class="form-status btn btn-primary" style="margin-top:10px"><i class="fa fa-upload"></i> Upload Back Preview</b></label>
                    </div>                    
                </div>
                <hr style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-top:0px; text-decoration: underline">Template HTML:</h3>
                        <textarea ng-model="vm.marketingTemplate.html" name="html" style="width:100%;height:300px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">Preview</span>
            <div class="container-fluid form-dark">
                Preview here
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.createMarketingPiece">
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">Customize Material</span>
            <div class="container-fluid form-dark">
                Stuff here
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="page-panel">
            <span class="panel-title">Preview</span>
            <div class="container-fluid form-dark">
                Preview here
            </div>
        </div>
    </div>
</div>