<span class="panel-title">Step 1</span>
<div class="container-fluid form-dark">
    <div class="row">
        <div class="col-md-4 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-readonly="vm.showPage > 1" ng-model="vm.policy.policyNumber" placeholder="Policy #" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.firstName" placeholder="Insured First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.lastName" placeholder="Insured Last Name">
            </div>
            <div class="form-group">
                <span class="dropdown-label">Policy State</span>
                <ui-select id="state-select" class="hasLabel" ng-model="vm.policy.state" theme="bootstrap" required on-select="vm.onSelectCallback('state')" title="Policy State">
                    <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="state in vm.states | filter: $select.search">
                        <span ng-bind-html="state.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group" ng-show="vm.currentUser.profile.myUpline && vm.currentUser.profile.myUpline.length > 1">
                <span class="dropdown-label">Which Upline Organization should this Policy be submitted to?</span>
                <ui-select id="upline-select" class="hasLabel" ng-model="vm.uplineOrg" theme="bootstrap" on-select="vm.onSelectCallback('upline')" title="Upline Org">
                    <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="org in vm.currentUser.profile.myUpline | filter: $select.search">
                        <span ng-bind-html="org.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default pull-left" ng-click="vm.goTo('inventory')">Cancel</button>
            <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.beginApplication()" ladda="vm.beginningApp">Begin <i class="fa fa-angle-right"></i></button>
        </div>
    </div>
</div>