<span class="panel-title">Step 2</span>
<div class="container-fluid form-dark">
    <div class="row">
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-disabled="vm.showPage > 98" required ng-model="vm.policy.policyNumber" placeholder="Policy Number *">
            </div>
        </div>
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.firstName" placeholder="First Name *">
            </div>
        </div>
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.lastName" placeholder="Last Name *">
            </div>
        </div>
        <div class="col-md-3 form-content">
            <div class="form-group" id="state">
                <span class="dropdown-label">Policy State *</span>
                <!-- <input type="text" class="form-control float-me input-underline-dark input-lg" ng-model="vm.policy.state.name" placeholder="State *"> -->
                <ui-select id="state-select" class="hasLabel" required ng-model="vm.policy.state" theme="bootstrap" on-select="vm.onSelectCallback('state')" title="Policy State *">
                    <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="state in vm.states | filter: $select.search">
                        <span ng-bind-html="state.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <hr class="app-form-divider">
    <div class="row">
        <div class="col-md-6 form-content">
            <div class="form-group iCheck" id="insured_gender">
                <span class="dropdown-label">Gender<span ng-if="vm.platform === 'isubmit'"> *</span></span><br>
                <label ng-repeat="item in vm.genders">
                        <input type="radio" name="gender" required ng-checked="item.name == vm.policy.insured.gender[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.insured.gender" checklist-value="item" icheck> {{item.name}}
                    </label>
            </div>
            <div class="form-group" id="insured_dateOfBirth">
                <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" required ng-change="vm.pageIsDirty = true" id="insured.dateOfBirth" ng-model="vm.policy.insured.dateOfBirth" placeholder="Date of Birth{{vm.platform === 'isubmit' ? ' *' : ''}}">
            </div>
            <div class="form-group" id="insured_ssn">
                <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.ssn" placeholder="SSN{{vm.platform === 'isubmit' ? ' *' : ''}}" mask="999-99-9999">
            </div>
            <div class="form-group iCheck">
                <span class="dropdown-label">Marital Status</span><br>
                <label ng-repeat="item in vm.maritalStatus">
                        <input type="radio" name="maritalStatus" ng-checked="item.name == vm.policy.insured.maritalStatus[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.insured.maritalStatus" checklist-value="item" icheck> {{item.name}}
                    </label>
            </div>
            <div class="form-group" ng-show="vm.policy.insured.maritalStatus[0].name === 'Married'">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.nameOfSpouse" placeholder="If Married Name of Spouse">
            </div>
        </div>
        <div class="col-md-6 form-content">
            <div class="form-group" id="insured_address_address">
                <input id="primaryInsuredAddress" type="text" googleplace required class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.address.oneLiner" placeholder="Address{{vm.platform === 'isubmit' ? ' *' : ''}}"
                    autocomplete="off">
                <div class="text-danger" ng-if="vm.policy.insured.address.oneLiner && !vm.policy.insured.address.address">Please choose an address from the list above</div>
            </div>
            <div class="form-group" id="insured_phoneNumber">
                <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.phoneNumber" placeholder="Phone Number{{vm.platform === 'isubmit' ? ' *' : ''}}" mask="(999) 999-9999">
            </div>
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.emailAddress" placeholder="Email Address">
            </div>
            <div class="form-group iCheck">
                <span class="dropdown-label">Dependent Children?</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="dependentChildren" ng-checked="item === vm.policy.insured.dependentChildren[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.insured.dependentChildren" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group" id="insured_primaryPhysicianName">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.primaryPhysicianName" placeholder="Primary Physician Name{{vm.platform === 'isubmit' ? ' *' : ''}}">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group" id="insured_primaryPhysicianPhone">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.primaryPhysicianPhone" placeholder="Primary Physician Phone{{vm.platform === 'isubmit' ? ' *' : ''}}"
                                mask="(999) 999-9999">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.primaryPhysicianDateLastVisited" placeholder="Date of Last Visit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.specialistOneName" placeholder="Specialist 1 Name">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.specialistOnePhone" placeholder="Specialist 1 Phone" mask="(999) 999-9999">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.specialistOneDateLastVisited" placeholder="Date of Last Visit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.specialistTwoName" placeholder="Specialist 2 Name">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.specialistTwoPhone" placeholder="Specialist 2 Phone" mask="(999) 999-9999">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.specialistTwoDateLastVisited" placeholder="Date of Last Visit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-content">
            <div class="form-group">
                <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.additionalPhysicianInfo" placeholder="Additional Doctor Information (name/phone)" autocomplete="off"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-content">
            <div class="form-group iCheck mb0">
                <span class="dropdown-label">Is There a Secondary Insured?</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="secondaryInsured" ng-checked="item === vm.policy.insured.secondaryInsured[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.insured.secondaryInsured" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
        <div class="col-md-6 form-content" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
            <div class="form-group iCheck mb0">
                <label>
                        <input type="checkbox" name="secondaryInsuredDeceased" ng-model="vm.policy.secondaryInsured.isDeceased" icheck>
                        Secondary Insured is Deceased
                    </label>
            </div>
        </div>
    </div>
    <h2 ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">Secondary Insured Details:</h2>
    <div class="row" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.lastName" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Gender</span><br>
                            <label ng-repeat="item in vm.genders">
                                    <input type="radio" name="secondaryInsuredGender" ng-checked="item.name == vm.policy.secondaryInsured.gender[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.secondaryInsured.gender" checklist-value="item" icheck> {{item.name}}
                                </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="secondaryInsured.dateOfBirth" ng-model="vm.policy.secondaryInsured.dateOfBirth" placeholder="Date of Birth">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.ssn" placeholder="SSN" mask="999-99-9999">
                        </div>
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Marital Status</span><br>
                            <label ng-repeat="item in vm.maritalStatus">
                                    <input type="radio" name="secondaryInsuredMaritalStatus" ng-checked="item.name == vm.policy.secondaryInsured.maritalStatus[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.secondaryInsured.maritalStatus" checklist-value="item" icheck> {{item.name}}
                                </label>
                        </div>
                        <div class="form-group" ng-show="vm.policy.secondaryInsured.maritalStatus[0].name === 'Married'">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.nameOfSpouse" placeholder="If Married Name of Spouse">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input id="secondaryInsuredAddress" type="text" googleplace class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.address.oneLiner" placeholder="Address" autocomplete="off">
                            <div class="text-danger" ng-if="vm.policy.secondaryInsured.address.oneLiner && !vm.policy.secondaryInsured.address.address">Please choose an address from the list above</div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.phoneNumber" placeholder="Phone Number" mask="(999) 999-9999">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.emailAddress" placeholder="Email Address">
                        </div>
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Dependent Children?</span><br>
                            <label ng-repeat="item in vm.yesNo">
                                    <input type="radio" name="secondaryInsuredDependentChildren" ng-checked="item === vm.policy.secondaryInsured.dependentChildren[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.secondaryInsured.dependentChildren" checklist-value="item" icheck> {{item}}
                                </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-content">
                        <div class="form-group">
                            <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.medicalHistory" placeholder="Medical History" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group" id="secondaryInsured_primaryPhysicianName">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.primaryPhysicianName" placeholder="Primary Physician Name{{vm.platform === 'isubmit' ? ' *' : ''}}">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group" id="secondaryInsured_primaryPhysicianPhone">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.primaryPhysicianPhone" placeholder="Primary Physician Phone{{vm.platform === 'isubmit' ? ' *' : ''}}"
                                mask="(999) 999-9999">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.primaryPhysicianDateLastVisited" placeholder="Date of Last Visit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.specialistOneName" placeholder="Specialist 1 Name">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.specialistOnePhone" placeholder="Specialist 1 Phone" mask="(999) 999-9999">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.specialistOneDateLastVisited" placeholder="Date of Last Visit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.specialistTwoName" placeholder="Specialist 2 Name">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.specialistTwoPhone" placeholder="Specialist 2 Phone" mask="(999) 999-9999">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.specialistTwoDateLastVisited" placeholder="Date of Last Visit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
        <div class="col-md-12 form-content">
            <div class="form-group">
                <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.additionalPhysicianInfo" placeholder="Additional Doctor Information (name/phone)" autocomplete="off"></textarea>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('next')">{{(vm.pageIsDirty) ? 'Save & ' : ''}}Next <i class="fa fa-angle-right"></i></button>
    </div>
</div>