<span class="panel-title">Step 3</span>
<div class="container-fluid form-dark">
    <div class="row">
        <div class="col-md-8 form-content">
            <div class="form-group" id="carrier">
                <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.carrier" placeholder="Life Insurance Carrier{{vm.platform === 'isubmit' ? ' *' : ''}}">
            </div>
        </div>
        <div class="col-md-4 form-content">
            <div class="form-group" id="policyType">
                <span class="dropdown-label">Policy Type{{vm.platform === 'isubmit' ? ' *' : ''}}</span>
                <ui-select id="policyType-select" class="hasLabel" required ng-model="vm.policy.policyType" theme="bootstrap" on-select="vm.onSelectCallback('policyType')" title="Policy Type">
                    <ui-select-match placeholder="Select an Option">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="type in vm.types | filter: $select.search">
                        <span ng-bind-html="type | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.policy.policyType === 'Term'">
        <div class="col-md-4 col-md-offset-4 form-content">
            <div class="form-group" id="policyType">
                <span class="dropdown-label">Is Policy Convertible?</span>
                <ui-select id="isPolicyConvertible-select" class="hasLabel" ng-model="vm.policy.isPolicyConvertible" theme="bootstrap" on-select="vm.onSelectCallback('isPolicyConvertible')" title="Is Policy Convertible">
                    <ui-select-match placeholder="Select an Option">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="opt in vm.yesNoUnsure | filter: $select.search">
                        <span ng-bind-html="opt | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-4 form-content">
            <div class="form-group" id="conversionDeadline">
                <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-disabled="vm.policy.isPolicyConvertible !== 'Yes'" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.conversionDeadline" placeholder="Conversion Deadline">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-content">
            <div class="form-group" id="faceAmount">
                <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.faceAmount" placeholder="Face Amount{{vm.platform === 'isubmit' ? ' *' : ''}}">
            </div>
        </div>
        <div class="col-md-4 form-content">
            <div class="form-group">
                <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.annualPremiumAmount" placeholder="Annual Premium Amount">
            </div>
        </div>
        <div class="col-md-4 form-content">
            <div class="form-group">
                <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.lastPremiumPaidAmount" placeholder="Last Premium Paid Amount">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="dateOfIssue" ng-model="vm.policy.dateOfIssue" placeholder="Date of Issue">
            </div>
        </div>
        <div class="col-md-4 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="nextPremiumDue" ng-model="vm.policy.nextPremiumDue" placeholder="Next Premium Due Date">
            </div>
        </div>
        <div class="col-md-4 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="lastPremiumPaid" ng-model="vm.policy.lastPremiumPaid" placeholder="Last Premium Paid Date">
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('previous')"><i class="fa fa-angle-left"></i> Back</button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('next')">{{(vm.pageIsDirty) ? 'Save & ' : ''}}Next <i class="fa fa-angle-right"></i></button>
    </div>
</div>