<span class="panel-title">Step 4</span>
<div class="container-fluid form-dark">
    <h2 class="mt0">Beneficiary Details:</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentBene.fullName" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Beneficiary Type</span><br>
                            <label ng-repeat="item in vm.beneTypes">
                                    <input type="radio" name="currentBeneType" ng-checked="item === vm.policy.currentBene.beneType[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.currentBene.beneType" checklist-value="item" icheck> {{item}}
                                </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Gender</span><br>
                            <label ng-repeat="item in vm.genders">
                                    <input type="radio" name="currentBeneGender" ng-checked="item.name == vm.policy.currentBene.gender[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.currentBene.gender" checklist-value="item" icheck> {{item.name}}
                                </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="currentBene.dateOfBirth" ng-model="vm.policy.currentBene.dateOfBirth" placeholder="Date of Birth">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentBene.ssn" placeholder="SSN" mask="999-99-9999">
                        </div>
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Marital Status</span><br>
                            <label ng-repeat="item in vm.maritalStatus">
                                    <input type="radio" name="currentBeneMaritalStatus" ng-checked="item.name == vm.policy.currentBene.maritalStatus[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.currentBene.maritalStatus" checklist-value="item" icheck> {{item.name}}
                                </label>
                        </div>
                        <!-- ADD revocable question here -->
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentBene.relationshipToInsured" placeholder="Relationship to the Insured">
                        </div>
                        <div class="form-group">
                            <input id="currentBeneAddress" type="text" googleplace class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentBene.address.oneLiner" placeholder="Address" autocomplete="off">
                            <div class="text-danger" ng-if="vm.policy.currentBene.address.oneLiner && !vm.policy.currentBene.address.address">Please choose an address from the list above</div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentBene.phoneNumber" placeholder="Phone Number" mask="(999) 999-9999">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentBene.emailAddress" placeholder="Email Address">
                        </div>
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Is There a Second Beneficiary?</span><br>
                            <label ng-repeat="item in vm.yesNo">
                                <input type="radio" name="currentSecondaryBene" ng-checked="item === vm.policy.currentBene.currentSecondaryBene[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.currentBene.currentSecondaryBene" checklist-value="item" icheck> {{item}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 ng-show="vm.policy.currentBene.currentSecondaryBene[0] === 'Yes'">Second Beneficiary Details:</h2>
    <div class="row" ng-show="vm.policy.currentBene.currentSecondaryBene[0] === 'Yes'">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentSecondaryBene.fullName" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Beneficiary Type</span><br>
                            <label ng-repeat="item in vm.beneTypes">
                                    <input type="radio" name="currentSecondaryBeneType" ng-checked="item === vm.policy.currentSecondaryBene.beneType[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.currentSecondaryBene.beneType" checklist-value="item" icheck> {{item}}
                                </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Gender</span><br>
                            <label ng-repeat="item in vm.genders">
                                    <input type="radio" name="currentSecondaryBeneGender" ng-checked="item.name == vm.policy.currentSecondaryBene.gender[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.currentSecondaryBene.gender" checklist-value="item" icheck> {{item.name}}
                                </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="currentSecondaryBene.dateOfBirth" ng-model="vm.policy.currentSecondaryBene.dateOfBirth" placeholder="Date of Birth">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentSecondaryBene.ssn" placeholder="SSN">
                        </div>
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Marital Status</span><br>
                            <label ng-repeat="item in vm.maritalStatus">
                                    <input type="radio" name="currentSecondaryBeneMaritalStatus" ng-checked="item.name == vm.policy.currentSecondaryBene.maritalStatus[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.currentSecondaryBene.maritalStatus" checklist-value="item" icheck> {{item.name}}
                                </label>
                        </div>
                        <!-- ADD Revocable question here Yes/No dropdown -->
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input id="currentSecondaryBeneAddress" type="text" googleplace class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentSecondaryBene.address.oneLiner" placeholder="Address" autocomplete="off">
                            <div class="text-danger" ng-if="vm.policy.currentSecondaryBene.address.oneLiner && !vm.policy.currentSecondaryBene.address.address">Please choose an address from the list above</div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentSecondaryBene.phoneNumber" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentSecondaryBene.emailAddress" placeholder="Email Address">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentBene" placeholder="Current Beneficiary">
            </div>
        </div>
        <div class="col-md-6 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.currentBeneRelationship" placeholder="Relationship to Insured">
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-4 form-content">
            <div class="form-group iCheck" ng-class="{ 'mb0': vm.policy.isInsuredAlsoOwner[0] === 'No' }" id="isInsuredAlsoOwner">
                <span class="dropdown-label">Is the Insured also the Owner?{{vm.platform === 'isubmit' ? ' *' : ''}}</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="isInsuredAlsoOwner" required ng-checked="item === vm.policy.isInsuredAlsoOwner[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.isInsuredAlsoOwner" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
    </div>
    <h2 ng-show="vm.policy.isInsuredAlsoOwner[0] === 'No'">Owner Details:</h2>
    <div class="row" ng-show="vm.policy.isInsuredAlsoOwner[0] === 'No'">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.firstName" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.authorizedRep" placeholder="Authorized Representative (if business)">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.stateOfFormation" placeholder="State of Formation (if business)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.ownerRelationship" placeholder="Relationship to Insured">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input id="ownerAddress" type="text" googleplace class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.address.oneLiner" placeholder="Address" autocomplete="off">
                            <div class="text-danger" ng-if="vm.policy.owner.address.oneLiner && !vm.policy.owner.address.address">Please choose an address from the list above</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="owner.dateOfBirth" ng-model="vm.policy.owner.dateOfBirth" placeholder="Date of Birth">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.phoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.ssntin" placeholder="SSN/TIN">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.emailAddress" placeholder="Email Address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.dlNumber" placeholder="Drivers License Number">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <span class="dropdown-label">State of Issue</span>
                            <ui-select id="state-select" class="hasLabel" ng-model="vm.policy.owner.stateOfIssue" theme="bootstrap" on-select="vm.onSelectCallback('state')" title="State of Issue">
                                <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="state in vm.states | filter: $select.search">
                                    <span ng-bind-html="state.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Marital Status</span><br>
                            <label ng-repeat="item in vm.maritalStatus">
                                    <input type="radio" name="ownerMaritalStatus" ng-checked="item.name == vm.policy.owner.maritalStatus[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.owner.maritalStatus" checklist-value="item" icheck> {{item.name}}
                                </label>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="vm.policy.owner.maritalStatus[0].name === 'Married'">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.owner.nameOfSpouse" placeholder="If Married Name of Spouse">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-content">
            <div class="form-group iCheck">
                <span class="dropdown-label">Is the Owner a Defendant in Suits or Legal Actions?</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="isOwnerInLegalSuit" ng-checked="item === vm.policy.isOwnerInLegalSuit[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.isOwnerInLegalSuit" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
        <div class="col-md-4 form-content">
            <div class="form-group iCheck">
                <span class="dropdown-label">Has the Owner Ever Declared Bankruptcy?</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="hasOwnerDeclaredBankruptcy" ng-checked="item === vm.policy.hasOwnerDeclaredBankruptcy[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.hasOwnerDeclaredBankruptcy" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-content">
            <div class="form-group iCheck">
                <span class="dropdown-label">Has the Policy Owner Changed Since the Policy was Issued?</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="hasPolicyChangedOwner" ng-checked="item === vm.policy.hasPolicyChangedOwner[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.hasPolicyChangedOwner" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
        <div class="col-md-4 form-content" ng-show="vm.policy.hasPolicyChangedOwner[0] === 'Yes'">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.originalPolicyOwner" placeholder="Name of Initial Policy Owner">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-content">
            <div class="form-group iCheck">
                <span class="dropdown-label">Has the Policy Beneficiary Changed Since the Policy was Issued?</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="hasPolicyChangedBene" ng-checked="item === vm.policy.hasPolicyChangedBene[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.hasPolicyChangedBene" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
        <div class="col-md-4 form-content" ng-show="vm.policy.hasPolicyChangedBene[0] === 'Yes'">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.originalPolicyBene" placeholder="Name of Initial Beneficiary">
            </div>
        </div>
        <div class="col-md-4 form-content" ng-show="vm.policy.hasPolicyChangedBene[0] === 'Yes'">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.originalPolicyBeneRelationship" placeholder="Relationship to Insured and Owner">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group iCheck" ng-class="{ 'mb0': vm.policy.hasInterestedParties[0] === 'Yes'}">
                <span class="dropdown-label">Are there any persons or entities who have, or have had, any direct or indirect interest in the policy or its proceeds?</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="hasInterestedParties" ng-checked="item === vm.policy.hasInterestedParties[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.hasInterestedParties" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
    </div>

    <h2 ng-show="vm.policy.hasInterestedParties[0] === 'Yes'">Parties with Interest:</h2>
    <div class="row" ng-show="vm.policy.hasInterestedParties[0] === 'Yes'">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <!-- INTERESTED PARTY #1 -->
                    <div class="col-xs-1 form-content">&nbsp;</div>
                    <div class="col-xs-4 form-content" style="border-left: 5px solid #03A9F4; margin-left: -5px;">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyOne.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-xs-7 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyOne.relationship" placeholder="Relationship to Insured">
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <h2>1</h2>
                    </div>
                    <div class="col-xs-4" style="border-left: 5px solid #03A9F4; margin-left: -5px;">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="interestedPartyOne.dateObtained" ng-model="vm.policy.interestedPartyOne.dateObtained" placeholder="Date Obtained">
                        </div>
                    </div>
                    <div class="col-xs-7 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyOne.mannerObtained" placeholder="Manner Interest was Obtained">
                        </div>
                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-11" style="border-left: 5px solid #03A9F4; margin-left: -5px; margin-bottom: 20px;">
                        <div class="form-group">
                            <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyOne.natureOfInterest" placeholder="Nature of Interest" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-card container-fluid">
                <div class="row">
                    <!-- INTERESTED PARTY #2 -->
                    <div class="col-xs-1 form-content">&nbsp;</div>
                    <div class="col-xs-4 form-content" style="border-left: 5px solid #03A9F4; margin-left: -5px;">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyTwo.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-xs-7 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyTwo.relationship" placeholder="Relationship to Insured">
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <h2>2</h2>
                    </div>
                    <div class="col-xs-4" style="border-left: 5px solid #03A9F4; margin-left: -5px;">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="interestedPartyTwo.dateObtained" ng-model="vm.policy.interestedPartyTwo.dateObtained" placeholder="Date Obtained">
                        </div>
                    </div>
                    <div class="col-xs-7 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyTwo.mannerObtained" placeholder="Manner Interest was Obtained">
                        </div>
                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-11" style="border-left: 5px solid #03A9F4; margin-left: -5px; margin-bottom: 20px;">
                        <div class="form-group">
                            <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyTwo.natureOfInterest" placeholder="Nature of Interest" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-card container-fluid">
                <div class="row">
                    <!-- INTERESTED PARTY #3 -->
                    <div class="col-xs-1 form-content">&nbsp;</div>
                    <div class="col-xs-4 form-content" style="border-left: 5px solid #03A9F4; margin-left: -5px;">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyThree.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-xs-7 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyThree.relationship" placeholder="Relationship to Insured">
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <h2>3</h2>
                    </div>
                    <div class="col-xs-4" style="border-left: 5px solid #03A9F4; margin-left: -5px;">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="interestedPartyThree.dateObtained" ng-model="vm.policy.interestedPartyThree.dateObtained" placeholder="Date Obtained">
                        </div>
                    </div>
                    <div class="col-xs-7 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyThree.mannerObtained" placeholder="Manner Interest was Obtained">
                        </div>
                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-11" style="border-left: 5px solid #03A9F4; margin-left: -5px;">
                        <div class="form-group">
                            <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.interestedPartyThree.natureOfInterest" placeholder="Nature of Interest" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-content">
            <div class="form-group">
                <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.originalPurposeForInsurance" placeholder="Original purpose for buying the policy?" autocomplete="off"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group iCheck">
                <span class="dropdown-label">Has the Insured or Policy Owner ever collaterally assigned the policy or policy benefits to any person or entity?</span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="hasPolicyBeenAssigned" ng-checked="item === vm.policy.hasPolicyBeenAssigned[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.hasPolicyBeenAssigned" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
        <span ng-show="vm.policy.hasPolicyBeenAssigned[0] === 'Yes'">
            <div class="col-md-12 form-content">
                <div class="form-group">
                    <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.assignmentDetails" placeholder="Please describe the details of such assignment" autocomplete="off"></textarea>
                </div>
            </div>
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 form-content">
            <div class="form-group iCheck">
                <span class="dropdown-label">
                        Before or at the time the policy was issue, did the Insured, Policy Owner or any other party arrange to transfer, sell or assign, directly or indirectly the policy or any benefits to a third party?
                    </span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="wasThereIntentToSell" ng-checked="item === vm.policy.wasThereIntentToSell[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.wasThereIntentToSell" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.policy.wasThereIntentToSell[0] === 'Yes'">
        <div class="col-md-12 form-content">
            <div class="form-group">
                <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.intentToSellExplanation" placeholder="Please describe the arrangement in detail" autocomplete="off"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-content">
            <div class="form-group iCheck" ng-class="{ 'mb0': vm.policy.wasPolicyFinanced[0] === 'Yes' }">
                <span class="dropdown-label">
                        Has the policy or any of the policy premiums been financed by a third party, either through a loan, equity contribution or otherwise?
                    </span><br>
                <label ng-repeat="item in vm.yesNo">
                        <input type="radio" name="wasPolicyFinanced" ng-checked="item === vm.policy.wasPolicyFinanced[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.wasPolicyFinanced" checklist-value="item" icheck> {{item}}
                    </label>
            </div>
        </div>
    </div>
    <h2 ng-show="vm.policy.wasPolicyFinanced[0] === 'Yes'">Lender or Equity Contributor Details:</h2>
    <div class="row" ng-show="vm.policy.wasPolicyFinanced[0] === 'Yes'">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.policyFinanced.lender" placeholder="Name of Lender or Equity Contributor">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.policyFinanced.principalAmount" placeholder="Principal Loan or Equity Contribution Amount">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.policyFinanced.payoffAmount" placeholder="Loan Maturity Balance (payoff amount)">
                        </div>
                    </div>
                    <div class="col-md-6 form-content">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="policyFinanced.maturityDate" ng-model="vm.policy.policyFinanced.maturityDate" placeholder="Loan Maturity Date">
                        </div>
                    </div>
                    <div class="col-md-12 form-content">
                        <div class="form-group">
                            <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.policyFinanced.explanation" placeholder="Please describe the financing arrangement" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('previous')"><i class="fa fa-angle-left"></i> Back</button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('next')">{{(vm.pageIsDirty) ? 'Save & ' : ''}}Next <i class="fa fa-angle-right"></i></button>
    </div>
</div>