<span class="panel-title">Step 5</span>
<div class="container-fluid form-dark">

    <div class="row">
        <div class="col-md-4 form-content">
            <div class="form-group" id="height">
                <input ng-pattern="vm.heightRegex" type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.height" placeholder="Height">
            </div>
        </div>
        <div class="col-md-4 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.weight" placeholder="Weight">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-6 form-content">
                        <div class="form-group iCheck">
                            <span class="dropdown-label">Do you require assistance to perform any of the following activities?</span><br>
                            <label ng-repeat="item in vm.activitiesNeedingAssistance">
                                <input type="checkbox" name="needsAssistance" checklist-model="vm.policy.medicalDetails.needsAssistance" checklist-value="item" icheck> {{item}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 form-content" ng-show="vm.policy.medicalDetails.needsAssistance.length > 0">
                        <div class="form-group">
                            <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.assistanceNeededDetails" placeholder="Provide details regarding why assistance is needed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-card container-fluid">
                <div class="row">
                    <div class="col-md-12 form-content">
                        <div class="form-group">
                            <span class="dropdown-label">Approximately how often do you see your primary care physician?</span>
                            <textarea type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.pcpFrequency" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 form-content">
                        <div class="form-group">
                            <span class="dropdown-label">Approximately how often do you see specialists, such as a cardiologist or orthopedist?</span>
                            <textarea type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.specialistFrequency" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-card container-fluid">
            <h3>Health Screen History</h3>
            
            <div class="row">
                <div class="col-md-6 form-content">
                    <div class="form-group" id="bloodPressure">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.healthScreenHistory.bloodPressure" placeholder="Blood Pressure">
                    </div>
                </div>
                <div class="col-md-6 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.healthScreenHistory.cholesterol" placeholder="Cholesterol">
                    </div>
                </div>

                <div class="col-md-6 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.healthScreenHistory.bloodSugar" placeholder="Blood Sugar">
                    </div>
                </div>

                <div class="col-md-6 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.healthScreenHistory.ejectionFraction" placeholder="Ejection Fraction">
                    </div>
                </div>
        
            </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 iCheck">
            <span class="dropdown-label">Are you currently choosing NOT to see doctor(s) or choosing NOT to follow a doctor(s) instructions?</span><br>
            <label>
                <input type="radio" 
                name="notFollowingDrInstructionYes" 
                ng-model="vm.policy.medicalDetails.notFollowingDrInstruction"
                ng-checked="vm.policy.medicalDetails.notFollowingDrInstruction"
                ng-value="true">Yes
            </label>
            <label>
                <input type="radio" 
                name="notFollowingDrInstructionNo" 
                ng-model="vm.policy.medicalDetails.notFollowingDrInstruction" 
                ng-value="false"
                ng-checked="!vm.policy.medicalDetails.notFollowingDrInstruction"
                >No
            </label>
        </div>

        <div class="form-group col-md-6 iCheck">
            <span class="dropdown-label">Has your weight changed in the past year?</span><br>
            <label>
                <input type="radio"
                ng-change="vm.pageIsDirty = true" 
                name="weightChanged" 
                ng-model="vm.policy.medicalDetails.weightChanged"
                ng-checked="vm.policy.medicalDetails.weightChanged"
                ng-value="true">Yes
            </label>
            <label>
                <input type="radio"
                ng-change="vm.pageIsDirty = true"
                name="weightChanged" 
                ng-model="vm.policy.medicalDetails.weightChanged" 
                ng-value="false"
                ng-checked="!vm.policy.medicalDetails.weightChanged"
                >No
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 iCheck">
            <span class="dropdown-label">Do you drink alcoholic beverages?</span><br>
            <label>
                <input type="radio" 
                name="alcoholicBeveragesYes" 
                ng-model="vm.policy.medicalDetails.alcoholicBeverages"
                ng-checked="vm.policy.medicalDetails.alcoholicBeverages"
                ng-value="true">Yes
            </label>
            <label>
                <input type="radio" 
                name="alcoholicBeveragesNo" 
                ng-model="vm.policy.medicalDetails.alcoholicBeverages" 
                ng-value="false"
                ng-checked="!vm.policy.medicalDetails.alcoholicBeverages"
                >No
            </label>
        </div>
        <div class="form-group col-md-6 iCheck">
            <span class="dropdown-label">Do you use any form of tobacco or nicotine?</span><br>
            <label>
                <input type="radio" 
                name="tobaccoOrNicotineYes" 
                ng-model="vm.policy.medicalDetails.tobaccoOrNicotine"
                ng-checked="vm.policy.medicalDetails.tobaccoOrNicotine"
                ng-value="true">Yes
            </label>
            <label>
                <input type="radio" 
                name="tobaccoOrNicotineNo" 
                ng-model="vm.policy.medicalDetails.tobaccoOrNicotine" 
                ng-value="false"
                ng-checked="!vm.policy.medicalDetails.tobaccoOrNicotine"
                >No
            </label>
        </div>
    </div>
    <div class="container-fluid form-dark">
        <h2 class="mt0">For any known condition, please provide full details including diagnosis, date of diagnosis, type of treatment(s) received, date last treated, results and additional details.</h2>
        <br>
        <div ng-repeat='diagnosis in vm.policy.medicalDetails.diagnoses' class="row">
            <div class="col-md-12">
                <div class="form-card container-fluid">
                    <div class="row">
                        <!-- --- -->
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.diagnoses[$index].diagnosis" placeholder="Health Condition">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="medicalDetails.diagnoses[{{$index}}].dateOfDiagnosis" ng-model="vm.policy.medicalDetails.diagnoses[$index].dateOfDiagnosis" placeholder="Date of Diagnosis">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.diagnoses[$index].treatmentReceived" placeholder="Type of treatment received"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="medicalDetails.diagnoses[{{$index}}].dateOfTreatment" ng-model="vm.policy.medicalDetails.diagnoses[$index].dateOfTreatment" placeholder="Date of Treatment">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.diagnoses[$index].results" placeholder="Results"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="addHealthConditionButton" class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.addHealthCondition()">Add Health Condition</button>
    </div>
    <div class="container-fluid form-dark">
        <h2 class="mt0">Family History (Include full and half siblings)</h2>
        <br>
        <div ng-repeat='familyMember in vm.policy.medicalDetails.familyHistory' class="row">
            <div class="col-md-12">
                <div class="form-card container-fluid">
                    <div class="row">
                        <!-- --- -->
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.familyHistory[$index].relationship" placeholder="Relationship">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.familyHistory[$index].healthConditions" placeholder="Health Conditions"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 form-content">
                            <div class="form-group">
                                <input type="number" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.familyHistory[$index].ageDeceased" placeholder="Age Deceased">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="addHealthConditionButton" class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.addFamilyHistory()">Add Family History</button>
    </div>

    <div class="container-fluid form-dark">
        <h2 class="mt0">High Risk Medications</h2>
        <br>
        <div ng-repeat='medication in vm.policy.medicalDetails.medications' class="row">
            <div class="col-md-12">
                <div class="form-card container-fluid">
                    <div class="row">
                   
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.medicalDetails.medications[$index].medicationDetails" placeholder="Medication Details"></textarea>
                            </div>
                        </div>
   
                    </div>
                </div>
            </div>
        </div>
        <button id="addMedication" class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.addMedication()">Add Medication</button>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('previous')"><i class="fa fa-angle-left"></i> Back</button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('next')">{{(vm.pageIsDirty) ? 'Save & ' : ''}}Next <i class="fa fa-angle-right"></i></button>
    </div>


</div>