<span class="panel-title">Step 5</span>
<div class="container-fluid form-dark" ng-if="!vm.requiredFieldsMissing">
    <div class="row">
        <div class="col-md-12">
            <h2>What would you like to do next?</h2>
            <br>
            <div class="info-note">
                <h3><b>Congratulations!</b></h3>
                <p>You've provided enough information to generate all of the necessary Life Settlement application documents automatically!</p>
                <p>Click "E-Sign<span class="hide-on-mobile"> Application</span>" below to create your application packet and begin the signature process.</p>
                <p>If you would prefer <i>not</i> to E-Sign, that's OK too. Just click "Submit Form" and someone will be in touch with you soon to discuss your options.</p>
                <p ng-if="vm.policyHasContactOptions">Want to get ahold of someone on your schedule? No problem!</p>
                <br ng-if="vm.policyHasContactOptions">
                <p ng-if="vm.policyHasContactOptions"><button class="btn btn-md pmd-btn-outline btn-primary"><i class="fa fa-calendar-check-o"></i> Schedule a Followup</button> &nbsp;&nbsp; or &nbsp;&nbsp; <button class="btn btn-md pmd-btn-outline btn-primary"><i class="fa fa-phone"></i> Give us a Call Now</button></p ng-if="vm.policyHasContactOptions">
                <br>
                <p><b>We look forward to serving you!</b></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('previous')"><i class="fa fa-angle-left"></i> Back</button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('next')"><i class="fa fa-pencil-square-o"></i> E-Sign<span class="hide-on-mobile"> Application</span></button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" style="margin-right:20px;" ng-disabled="vm.submittingApplication" ng-click="vm.submitApplication()"><i class="fa fa-share-alt"></i> Submit<span class="hide-on-mobile"> Form</span></button>
    </div>
</div>
<div class="container-fluid form-dark" ng-if="vm.requiredFieldsMissing">
    <div class="row">
        <div class="col-md-12">
            <h2>Ready to submit?</h2>
            <br>
            <div class="important-note">
                <p><b>Important!</b> Not all required fields have been provided, so we are unable to initiate the signature process for this application.</p>
                <p>If you would like to expedite the processing of your application, go back and fill in all required fields (marked in red).</p>
                <p style="margin:0">Otherwise, continue below.</p>
            </div>
            <br>
            <div class="info-note">
                <h3><b>What happens next?</b></h3>
                <p>Please take a moment to ensure you have completed this form to the best of your ability. You can use the "Back" and "Next" buttons at the bottom of each page to review your answers.</p>
                <p>If you are satisfied with your responses, please click the "Submit" button below. Someone will be notified immediately and contact you to coordinate the completion and signature of this application.</p>
                <p>Thank you!</p>
            </div>                    
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('previous')"><i class="fa fa-angle-left"></i> Back</button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-disabled="vm.submittingApplication" ng-click="vm.submitApplication()"><i class="fa fa-share-alt"></i> Submit<span class="hide-on-mobile"> Form</span></button>
    </div>
</div>