<span class="panel-title">Step 5</span>
<div class="container-fluid form-dark" ng-show="vm.policy.forms.application.status === 'Needs Review'">
    <div class="row">
        <div class="col-md-12">
            <h2>Do you approve 3rd party changes?</h2>
            <br>
            <p>Clicking "Yes" will let you print or submit the form for e-signature. It will also revoke the link you sent when you requested this form to be filled out, removing the requested 3rd party's access.</p>
            <p>Clicking "No" will send you back to the form for further review. If you wish to remove the 3rd party changes, click "revoke access" in the box at the top of the form.</p>
        </div>
    </div>
    <div class="row" style="margin:30px 0px">
        <div class="col-md-3 text-center" ng-click="vm.approveThirdParty()"><button class="btn btn-success pmd-btn-outline">Yes</button></div>
        <div class="col-md-3 text-center" ng-click="vm.goToPage(2)"><button class="btn btn-default">No</button></div>
    </div>
</div>
<div class="container-fluid form-dark" ng-show="vm.policy.forms.application.status !== 'Needs Review' && vm.platform === 'imanager'">
    <div class="row">
        <div class="col-md-12">
            <h2>What happens next?</h2>
            <br>
            <p>Clicking "Continue" below will bring you to the Policy Management view. From there, you will be able to edit the information you have provided here if needed, manage the status of this Case, and submit it to any Buyers you have set
                up on our Buyer Distribution Network.
            </p>
            <p>If you haven't set up any Buyers yet, you'll want to head to the <a ui-sref="buyers">"Buyers/Suppliers" page</a> to get started with that.</p>
            <p>If you have any questions about this process, please reach out to us at <a href="mailto:support@lshub.net">support@lshub.net</a></p>
            <p>Thanks you!</p>
        </div>
    </div>
    <hr>
    <div class="row" style="margin:30px 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('previous')"><i class="fa fa-angle-left"></i> Back</button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.submitApplication()">Continue <i class="fa fa-angle-right"></i></button>
    </div>
</div>
<div class="container-fluid form-dark" ng-show="vm.policy.forms.application.status !== 'Needs Review' && vm.platform === 'isubmit'">
    <div class="row signature-options-header">
        <div class="col-md-12">
            <h2 ng-if="!vm.signMethod">How do you want to sign this application?</h2>
            <h2 ng-if="vm.signMethod === 'esign'">You have chosen to e-sign this application</h2>
            <h2 ng-if="vm.signMethod === 'printAndSign'">You have chosen to print and sign this application</h2>
            <button class="btn btn-success btn-sm pmd-btn-outline" ng-click="vm.signMethod = null" ng-if="vm.signMethod"><i class="fa fa-retweet"></i> Change</button>
        </div>
    </div>
    <div class="row signature-options" ng-if="!vm.signMethod">
        <div class="col-md-3 col-md-push-2 print-and-sign" ng-click="vm.signMethod = 'printAndSign'">
            <img src="../../images/icons/print-and-sign.png" alt="Print and Sign" />
            <h3>Print & Sign</h3>
        </div>
        <div class="col-md-3 col-md-push-4 e-sign" ng-click="vm.signMethod = 'esign'">
            <img src="../../images/icons/e-sign.png" alt="E-Sign">
            <h3>E-Sign Form</h3>
        </div>
    </div>
    <hr class="app-form-divider" style="margin-top: 10px;" ng-if="vm.signMethod"><br ng-if="vm.signMethod">
    <div class="row" ng-if="vm.signMethod === 'printAndSign'">
        <div class="col-md-12">
            <h2>How does this work?</h2>
            <div class="important-note">
                <p>This option is available for those cases where the recipient is unable to or unwilling to use the e-signature option. In the next step, you will download a completed form with the data you have provided, which will need to be printed
                    and mailed to the recipient for signing. Once you receive the signed form back, you can scan and upload it to this Policy.</p>
            </div>
            <h2>Instructions:</h2>
            <div class="important-note">
                <ol>
                    <li>Click "Download Now"</li>
                    <li>The form will be downloaded to your computer (if you need to download it again in the future, you can do so by clicking the form icon on the Policy overview page)</li>
                    <li>Print the form and get it signed by the appropriate party</li>
                    <li>Once signed, scan the paper copy and upload it using the "Upload Signed Copy" button on the Policy overview page</li>
                </ol>
                <p>If you have any questions about this process, please email us at <a href="mailto:support@lshub.net">support@lshub.net</a></p>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row" ng-if="vm.signMethod === 'esign'">
        <div class="col-md-12">
            <h2>How does this work?</h2>
            <div class="important-note">
                <p>E-Signature is the most secure and convenient way to get documents signed. By confirming the name and email address of all recipients below and clicking "Submit", our system will generate and email to each with a unique link to
                    the form to be signed.</p>
                <p>If any of the names below are incorrect, please adjust them by clicking "Back" and going to the correct page to make the change.</p>
                <p>Recipients can review the document and choose to either draw their electronic signature (on a computer or phone/tablet), or upload an image of their signature.</p>
                <p>Once everyone has signed all required positions on the document, a notification will be broadcast to all parties and everything moves forward. You will be able to view a copy of the signed document from the Policy overview page
                    by clicking the form icon.</p>
            </div>
            <br><br>
            <h2>Please Confirm All Signers</h2>
        </div>
    </div>
    <div class="row" ng-show="vm.signMethod === 'esign'">
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.insured.lastName" placeholder="Insured Last Name">
            </div>
        </div>
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.insured.firstName" placeholder="Insured First Name">
            </div>
        </div>
        <div class="col-md-6 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.recipients.insured.emailAddress" placeholder="Insured Email">
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes' && vm.signMethod === 'esign'">
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.secondaryInsured.lastName" placeholder="Insured 2 Last Name">
            </div>
        </div>
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.secondaryInsured.firstName" placeholder="Insured 2 First Name">
            </div>
        </div>
        <div class="col-md-6 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.recipients.secondaryInsured.emailAddress" placeholder="Insured 2 Email">
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.policy.isInsuredAlsoOwner[0] === 'No' && vm.signMethod === 'esign'">
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.owner.lastName" placeholder="Owner Last Name">
            </div>
        </div>
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.owner.firstName" placeholder="Owner First Name">
            </div>
        </div>
        <div class="col-md-6 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.recipients.owner.emailAddress" placeholder="Owner Email">
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.signMethod === 'esign'">
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-model="::vm.policy.forms.application.recipients.agent.lastName" placeholder="Agent Last Name">
            </div>
        </div>
        <div class="col-md-3 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-model="::vm.policy.forms.application.recipients.agent.firstName" placeholder="Agent First Name">
            </div>
        </div>
        <div class="col-md-6 form-content">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.recipients.agent.emailAddress" placeholder="Agent Email">
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.signMethod === 'esign'">
        <div class="col-md-12 form-content">
            <textarea class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.noteToRecipients" placeholder="Enter an optional note to be sent with the e-signature request" autocomplete="off"></textarea>
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('previous')"><i class="fa fa-angle-left"></i> Back</button>
        <button ng-if="vm.signMethod === 'esign'" class="btn pull-right btn-lg pmd-btn-outline btn-success" ladda="vm.submittingApplication" ng-click="vm.submitApplication()"><i class="fa fa-share-alt"></i> Submit<span class="hide-on-mobile"> Form</span></button>
        <button ng-if="vm.signMethod === 'printAndSign'" ladda="vm.submittingApplication" ng-click="vm.submitApplication()" class="btn pull-right btn-lg pmd-btn-outline btn-success"><i class="fa fa-download"></i> Download Now</button>
    </div>
</div>