<span class="panel-title">Confirm Signers</span>
<div class="container-fluid form-dark">
    <div class="row">
        <div class="col-md-12">
            <h2>How does this work?</h2>
            <div class="important-note">
                <p>E-Signature is the most secure and convenient way to get documents signed. By confirming the name and email address of all recipients below and clicking "Submit", our system will generate and email to each with a unique link to
                    the form to be signed.</p>
                <p>If any of the names here are incorrect, please go back to the form and correct them. Email addresses must be provided for all recipients and can be edited below.</p>
                <p>Recipients can review the document and choose to either draw their electronic signature (on a computer or phone/tablet), or upload an image of their signature.</p>
                <p>Once everyone has signed all required positions on the document, a notification will be broadcast to all parties and everything moves forward.</p>
            </div>
            <br><br>
            <h2>Please Confirm All Signers</h2>
            <div class="row">
                <div class="col-md-3 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.insured.lastName" placeholder="Insured Last Name">
                    </div>
                </div>
                <div class="col-md-3 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.insured.firstName" placeholder="Insured First Name">
                    </div>
                </div>
                <div class="col-md-6 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.recipients.insured.emailAddress" placeholder="Insured Email">
                    </div>
                </div>
            </div>
            <div class="row" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
                <div class="col-md-3 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.secondaryInsured.lastName" placeholder="Insured 2 Last Name">
                    </div>
                </div>
                <div class="col-md-3 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.secondaryInsured.firstName" placeholder="Insured 2 First Name">
                    </div>
                </div>
                <div class="col-md-6 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.recipients.secondaryInsured.emailAddress" placeholder="Insured 2 Email">
                    </div>
                </div>
            </div>
            <div class="row" ng-show="vm.policy.isInsuredAlsoOwner[0] === 'No'">
                <div class="col-md-3 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.owner.lastName" placeholder="Owner Last Name">
                    </div>
                </div>
                <div class="col-md-3 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.owner.firstName" placeholder="Owner First Name">
                    </div>
                </div>
                <div class="col-md-6 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.recipients.owner.emailAddress" placeholder="Owner Email">
                    </div>
                </div>
            </div>
            <div class="row" ng-show="vm.signMethod === 'esign'">
                <div class="col-md-3 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.agent.lastName" placeholder="Agent Last Name">
                    </div>
                </div>
                <div class="col-md-3 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="::vm.policy.forms.application.recipients.agent.firstName" placeholder="Agent First Name">
                    </div>
                </div>
                <div class="col-md-6 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.forms.application.recipients.agent.emailAddress" placeholder="Agent Email">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage('previous')"><i class="fa fa-angle-left"></i> Back</button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-disabled="vm.signingApplication" ng-click="vm.signPublicApplication()"><i class="fa fa-pencil-square-o"></i> Submit<span class="hide-on-mobile"> for E-Sign</span></button>
    </div>
</div>