<div class="container-fluid form-dark">
    <div class="row">
        <div class="col-md-12">
            <h2>Request Third Party Completion</h2>
            <br>
            <div class="important-note">
                <p>The recipient of this request will be emailed a unique link to fill this form. They will not be required to log in.</p>
                <p style="margin-bottom: 0">Once they are finished, you will be notified to review the provided information prior to sending the documents for signature.</p>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.thirdParty.firstName" placeholder="First Name">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.thirdParty.lastName" placeholder="Last Name">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.thirdParty.emailAddress" placeholder="Email">
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 0px">
        <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage(vm.pageToReturn)"><i class="fa fa-angle-left"></i> Back</button>
        <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-disabled="vm.sendingToThirdParty" ng-click="vm.sendToThirdParty()"><i class="fa fa-share-alt"></i> Send Request</button>
    </div>
</div>