<span class="panel-title">Out for e-Signature</span>
<div class="container-fluid form-dark">
    <div class="row">
        <div class="col-md-12">
            <h2>What do I do now?</h2>
            <p>You should receive an email from PandaDoc with a link to e-sign your application form. You will need to use a touch-enabled device to do this, or you can scan and upload your signature if needed. Please sign this application at your earlist convenience.</p>
            <p>If you did not receive this email, or if you are unable to e-sign for any reason, don't worry. Someone will be contacting you soon to discuss alternative ways to sign.</p>
            <p>Once all signatures have been received, we will begin the process of underwriting your settlement case and preparing it to distribute to buyers. We will contact you if further information or authorizations are needed as we do this.</p>
            <p>The end goal here is to get your policy out to our buyer network quickly and to negotiate the best price on your behalf. You are under no obligation to sell, and we will discuss offers with you as they are received!</p>
            <p>Thank you for choosing to work with us, and we look forward to getting you the best possible settlement for your policy!</p>
        </div>
    </div>
</div>