<span class="panel-title panel-title-success">Completed</span>
<div class="container-fluid form-dark">
    <div class="row">
        <div class="col-md-12">
            <h2>Congratulations!</h2>
            <p>Your life settlement application has been signed by all parties, and we are currently working on getting you the best offer for your policy.</p>
            <h2>What happens next?</h2>
            <p>Someone will be in touch with you soon to discuss your options. If you would like to keep track of the status of your case on your own, you can <u><a href="{{vm.policy.linkRoot}}/register?spk={{vm.policy.spk}}" target="_blank">click here to register</a></u>.</p>
            <p>Again, thank you for choosing to work with us, and we look forward to getting you the best possible settlement for your policy!</p>
        </div>
    </div>
</div>