<div class="loading" ng-if="vm.isLoading">
    <i class="fa fa-spinner fa-spin"></i> Loading
</div>
<div ng-if="vm.isError">
    <div class="loading">
        ERROR
    </div>
    <div class="text-center">
        <h2>Sorry, the page you are looking for was not found, or access has been revoked.</h2>
    </div>
</div>
<div class="application" ng-show="!vm.isLoading && !vm.isError">
    <a href="javascript:void(0)" ng-if="!vm.isPublic && vm.showPage > 1" ng-click="vm.goTo('policy')" class="pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory"><i class="fa fa-angle-left"></i> Go to Policy</a>
    <h2 class="pmd-display1">{{(vm.platform === 'isubmit') ? 'Application Form' : 'Case Intake Form'}}</h2>
    <div class="row">
        <div class="col-md-3">
            <h2 class="input-policy-number form-dark" id="policyNumber" ng-show="vm.showPage > 1">
                <span class="dropdown-label" style="font-size:11px;display:inline-block;margin-bottom: 5px;">Policy Number:</span><br>
                <span class="new-policy-number" style="font-size:30px;">{{vm.policy.policyNumber}}</span>
            </h2>
        </div>
        <div class="col-md-3">
            <h2 class="input-policy-number form-dark" id="policyValue" ng-show="vm.showPage > 1">
                <span class="dropdown-label" style="font-size:11px;display:inline-block;margin-bottom: 5px;">Face Value:</span><br>
                <span class="new-policy-number" style="font-size:30px;">{{vm.policy.faceAmount | currency:'$':0}}</span>
            </h2>
        </div>
        <div class="col-md-6" ng-if="vm.isPublic">
            <h2 class="input-policy-number form-dark" id="caseNumber" ng-show="vm.showPage > 1">
                <span class="new-policy-number">
                    <input type="text" class="float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" disabled ng-model="::vm.policy.LSHID" placeholder="Case #" autocomplete="off">
                </span>
            </h2>
        </div>
        <div class="col-md-6" ng-hide="vm.justApprovedThirdParty" ng-if="vm.showPage > 1 && vm.showPage < 99 && !vm.isPublic && vm.policy.forms.application.status !== 'Pending 3rd Party' && vm.policy.forms.application.status !== 'Needs Review'">
            <div class="important-note">
                <b>Don't have all the answers?</b> <a href="javascript:void(0)" ng-click="vm.pageToReturn = vm.showPage; vm.goToPage(99)"><u>Click here</u></a> to request a third party to fill in any missing information! You will be notified when they
                are done.
            </div>
        </div>
        <div class="col-md-6" ng-if="vm.showPage > 1 && vm.showPage < 99 && !vm.isPublic && vm.policy.forms.application.status === 'Pending 3rd Party'">
            <div class="important-note">
                <b>Pending 3rd Party Completion</b>. This form was sent to {{vm.policy.forms.application.thirdParty.fullName}} ({{vm.policy.forms.application.thirdParty.emailAddress}}) on {{vm.policy.forms.application.thirdParty.requestedAt | date}}.
                You will be notified when they are finished. Feel free to review their progress below.
                <br>Edits you make to this form will be visible to the 3rd party also. <a href="javascript:void(0);" ng-click="vm.removeThirdParty()"><u>Revoke 3rd Party Access</u></a>
            </div>
        </div>
        <div class="col-md-6" ng-if="vm.showPage > 1 && vm.showPage < 99 && !vm.isPublic && vm.policy.forms.application.status === 'Needs Review'">
            <div class="important-note">
                <b>This Form Needs Review</b>. {{vm.policy.forms.application.thirdParty.fullName}} ({{vm.policy.forms.application.thirdParty.emailAddress}}) has finished filling out this form. Please review the entries below. You can still make changes
                before submitting for signature.
            </div>
        </div>
    </div>

    <br style="clear:both">

    <ul class="form-progress-bar" ng-if="vm.showPage > 1 && vm.showPage < 99">
        <li style="--fa-icon: '\f007'; --tab-width: 25%" class="active" ng-click="vm.goToPage(2)">Insured</li>
        <li style="--fa-icon: '\f016'; --tab-width: 25%" ng-class="{ 'active': vm.showPage > 2 }" ng-click="vm.goToPage(3)">Policy</li>
        <li style="--fa-icon: '\f0e3'; --tab-width: 25%" ng-class="{ 'active': vm.showPage > 3 }" ng-click="vm.goToPage(4)">Legal</li>
        <!-- <li style="--fa-icon: '\f21e'; --tab-width: 20%" ng-class="{ 'active': vm.showPage > 4 }" ng-click="vm.goToPage(5)">Medical</li> -->
        <li style="--fa-icon: '\f044'; --tab-width: 25%" ng-class="{ 'active': vm.showPage > 4 }" ng-click="vm.goToPage(5)">{{vm.platform === 'isubmit' && !vm.isPublic ? 'Sign & ' : ''}}Finish</li>
    </ul>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 1 }" ng-if="vm.showPage === 1">
        <ng-include src="'/views/forms/application/0-start-app.html'"></ng-include>
    </div>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 2 }" ng-show="vm.showPage === 2">
        <ng-include src="'/views/forms/application/1-insured-details.html'"></ng-include>  
    </div>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 3 }" ng-show="vm.showPage === 3">
        <ng-include src="'/views/forms/application/2-policy-details.html'"></ng-include>
    </div>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 4 }" ng-show="vm.showPage === 4">
        <ng-include src="'/views/forms/application/3-legal-details.html'"></ng-include>
    </div>

    <!-- <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 5 }" ng-show="vm.showPage === 5">
        <ng-include src="'/views/forms/application/4-medical-details.html'"></ng-include>
    </div> -->

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 5 }" ng-show="vm.showPage === 5 && vm.isPublic">
        <ng-include src="'/views/forms/application/5-sign-public.html'"></ng-include>
    </div>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 5 }" ng-show="vm.showPage === 5 && !vm.isPublic">
        <ng-include src="'/views/forms/application/5-sign-private.html'"></ng-include>
    </div>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 6 }" ng-show="vm.showPage === 6 && vm.isPublic">
        <ng-include src="'/views/forms/application/6-confirm-signers-public.html'"></ng-include>
    </div>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 99 }" ng-show="vm.showPage === 99">
        <ng-include src="'/views/forms/application/7-request-third-party.html'"></ng-include>
    </div>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 100 }" ng-show="vm.showPage === 100 && vm.isPublic">
        <ng-include src="'/views/forms/application/8-out-for-signature.html'"></ng-include>
    </div>

    <div class="page-panel" ng-class="{ 'panel-active': vm.showPage === 101 }" ng-show="vm.showPage === 101 && vm.isPublic">
        <ng-include src="'/views/forms/application/9-completed.html'"></ng-include>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.0.4/iframeResizer.contentWindow.min.js"></script>