<div class="loading" ng-if="vm.isLoading">
    <i class="fa fa-spinner fa-spin"></i> Loading
</div>
<div ng-if="vm.isError">
    <div class="loading">
        ERROR
    </div>
    <div class="text-center">
        <h2>Sorry, the page you are looking for was not found, or access has been revoked.</h2>
    </div>
</div>
<div class="application" ng-show="!vm.isLoading && !vm.isError">
    <a href="javascript:void(0)" ng-if="!vm.isPublic && vm.showPage > 1" ng-click="vm.goTo('policy')" class="pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory"><i class="fa fa-angle-left"></i> Go to Policy</a>
    <h2 class="pmd-display1">Case Intake Form</h2>
    <div class="row">
        <div class="col-md-6">
            <h2 class="input-policy-number form-dark" ng-show="vm.showPage > 1">
                <span class="new-policy-number">
                        <input type="text" class="float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" readonly ng-model="vm.policy.policyNumber" placeholder="Policy #" autocomplete="off">
                    </span>
            </h2>
        </div>
    </div>

    <br style="clear:both">

    <div class="page-panel" ng-if="vm.showPage === 1">
        <span class="panel-title">Step 1</span>
        <div class="container-fluid form-dark">
            <div class="row">
                <div class="col-md-4 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-readonly="vm.showPage > 1" ng-model="vm.policy.policyNumber" placeholder="Policy #" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.firstName" placeholder="Insured First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.lastName" placeholder="Insured Last Name">
                    </div>
                    <div class="form-group">
                        <span class="dropdown-label">Policy State</span>
                        <ui-select id="state-select" class="hasLabel" ng-model="vm.policy.state" theme="bootstrap" on-select="vm.onSelectCallback('state')" title="Policy State">
                            <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="state in vm.states | filter: $select.search">
                                <span ng-bind-html="state.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group" ng-show="vm.currentUser.profile.myUpline && vm.currentUser.profile.myUpline.length > 1">
                        <span class="dropdown-label">Which Upline Organization should this Policy be submitted to?</span>
                        <ui-select id="upline-select" class="hasLabel" ng-model="vm.uplineOrg" theme="bootstrap" on-select="vm.onSelectCallback('upline')" title="Upline Org">
                            <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="org in vm.currentUser.profile.myUpline | filter: $select.search">
                                <span ng-bind-html="org.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default pull-left" ng-click="vm.goTo('inventory')">Cancel</button>
                    <button class="btn pull-right btn-lg btn-outline btn-success" ng-click="vm.beginApplication()" ladda="vm.beginningApp">{{vm.beginningApp ? 'Please Wait...' : 'Begin'}} <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-panel" ng-show="vm.showPage === 2">
        <span class="panel-title">Step 2</span>
        <div class="container-fluid form-dark">
            <div class="row">
                <div class="col-md-4 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="vm.policy.insured.firstName" placeholder="First Name *">
                    </div>
                </div>
                <div class="col-md-4 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="vm.policy.insured.lastName" placeholder="Last Name *">
                    </div>
                </div>
                <div class="col-md-4 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" readonly ng-model="vm.policy.state.name" placeholder="State *">
                    </div>
                </div>
            </div>
            <hr class="app-form-divider">
            <div class="row">
                <div class="col-md-6 form-content">
                    <div class="form-group iCheck" id="insured_gender">
                        <span class="dropdown-label">Gender<span ng-if="vm.platform === 'isubmit'"> *</span></span><br>
                        <label ng-repeat="item in vm.genders">
                                    <input type="radio" name="gender" required ng-checked="item.name == vm.policy.insured.gender[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.insured.gender" checklist-value="item" icheck> {{item.name}}
                                </label>
                    </div>
                    <div class="form-group" id="insured_dateOfBirth">
                        <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" required ng-change="vm.pageIsDirty = true" id="insured.dateOfBirth" ng-model="vm.policy.insured.dateOfBirth" placeholder="Date of Birth{{vm.platform === 'isubmit' ? ' *' : ''}}">
                    </div>
                    <div class="form-group" id="insured_ssn">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.ssn" placeholder="SSN{{vm.platform === 'isubmit' ? ' *' : ''}}" mask="999-99-9999">
                    </div>
                </div>
                <div class="col-md-6 form-content">
                    <div class="form-group" id="insured_address">
                        <input id="primaryInsuredAddress" type="text" googleplace required class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.address.oneLiner" placeholder="Address{{vm.platform === 'isubmit' ? ' *' : ''}}"
                            autocomplete="off">
                    </div>
                    <div class="form-group" id="insured_phoneNumber">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.phoneNumber" placeholder="Phone Number{{vm.platform === 'isubmit' ? ' *' : ''}}" mask="(999) 999-9999">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.emailAddress" placeholder="Email Address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-content">
                    <div class="form-group iCheck mb0">
                        <span class="dropdown-label">Is There a Secondary Insured?</span><br>
                        <label ng-repeat="item in vm.yesNo">
                                    <input type="radio" name="secondaryInsured" ng-checked="item === vm.policy.insured.secondaryInsured[0]" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.insured.secondaryInsured" checklist-value="item" icheck> {{item}}
                                </label>
                    </div>
                </div>
                <div class="col-md-6 form-content" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
                    <div class="form-group iCheck mb0">
                        <label>
                            <input type="checkbox" name="secondaryInsuredDeceased" ng-model="vm.policy.secondaryInsured.isDeceased" icheck>
                            Secondary Insured is Deceased
                        </label>
                    </div>
                </div>
            </div>
            <h2 ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">Secondary Insured Details:</h2>
            <div class="row" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
                <div class="col-md-12">
                    <div class="form-card container-fluid">
                        <div class="row">
                            <div class="col-md-6 form-content">
                                <div class="form-group">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.firstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6 form-content">
                                <div class="form-group">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.lastName" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-content">
                                <div class="form-group iCheck">
                                    <span class="dropdown-label">Gender</span><br>
                                    <label ng-repeat="item in vm.genders">
                                        <input type="radio" name="secondaryInsuredGender" ng-checked="item.name == vm.policy.secondaryInsured.gender[0].name" checklist-change="vm.pageIsDirty = true" checklist-model="vm.policy.secondaryInsured.gender" checklist-value="item" icheck> {{item.name}}
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="secondaryInsured.dateOfBirth" ng-model="vm.policy.secondaryInsured.dateOfBirth" placeholder="Date of Birth">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.ssn" placeholder="SSN" mask="999-99-9999">
                                </div>
                            </div>
                            <div class="col-md-6 form-content">
                                <div class="form-group">
                                    <input id="secondaryInsuredAddress" type="text" googleplace class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.address.oneLiner" placeholder="Address" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.phoneNumber" placeholder="Phone Number" mask="(999) 999-9999">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.secondaryInsured.emailAddress" placeholder="Email Address">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Policy Information:</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card container-fluid">
                        <div class="row">
                            <div class="col-md-8 form-content">
                                <div class="form-group" id="carrier">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.carrier" placeholder="Life Insurance Carrier{{vm.platform === 'isubmit' ? ' *' : ''}}">
                                </div>
                            </div>
                            <div class="col-md-4 form-content">
                                <div class="form-group" id="policyType">
                                    <span class="dropdown-label">Policy Type{{vm.platform === 'isubmit' ? ' *' : ''}}</span>
                                    <ui-select id="policyType-select" class="hasLabel" required ng-model="vm.policy.policyType" theme="bootstrap" on-select="vm.onSelectCallback('policyType')" title="Policy Type">
                                        <ui-select-match placeholder="Select an Option">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="type in vm.types | filter: $select.search">
                                            <span ng-bind-html="type | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="vm.policy.policyType === 'Term'">
                            <div class="col-md-4 col-md-offset-4 form-content">
                                <div class="form-group" id="policyType">
                                    <span class="dropdown-label">Is Policy Convertible?{{vm.platform === 'isubmit' ? ' *' : ''}}</span>
                                    <ui-select id="isPolicyConvertible-select" class="hasLabel" required ng-model="vm.policy.isPolicyConvertible" theme="bootstrap" on-select="vm.onSelectCallback('isPolicyConvertible')" title="Is Policy Convertible">
                                        <ui-select-match placeholder="Select an Option">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="opt in vm.yesNoUnsure | filter: $select.search">
                                            <span ng-bind-html="opt | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4 form-content">
                                <div class="form-group" id="conversionDeadline">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" required ng-disabled="vm.policy.isPolicyConvertible !== 'Yes'" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.conversionDeadline" placeholder="Conversion Deadline{{vm.policy.isPolicyConvertible === 'Yes' ? ' *' : ''}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-content">
                                <div class="form-group" id="faceAmount">
                                    <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" required ng-change="vm.pageIsDirty = true" ng-model="vm.policy.faceAmount" placeholder="Face Amount{{vm.platform === 'isubmit' ? ' *' : ''}}">
                                </div>
                            </div>
                            <div class="col-md-4 form-content">
                                <div class="form-group">
                                    <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.annualPremiumAmount" placeholder="Annual Premium Amount">
                                </div>
                            </div>
                            <div class="col-md-4 form-content">
                                <div class="form-group">
                                    <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="dateOfIssue" ng-model="vm.policy.dateOfIssue" placeholder="Date of Issue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin: 0px">
                <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.savePolicy('goToPolicy')" ng-if="vm.policy.forms.application.status === 'Pending Upload' && vm.pageIsDirty === true"><i class="fa fa-floppy-o"></i> Save</button>
                <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.submitApplication()" ng-if="vm.policy.forms.application.status !== 'Pending Upload'">Submit <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>

</div>