<!-- new row 6x6 -->
<div class="row">
    <div class="col-md-6 form-content">

    </div>
    <div class="col-md-6 form-content">

    </div>
</div>

<!-- standard text entry -->
<div class="form-group">
    <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.form.fieldName" placeholder="Placeholder">
</div>

<!-- currency entry -->
<div class="form-group">
    <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.form.fieldName" placeholder="Placeholder">
</div>

<!-- textarea -->
<div class="form-group">
    <textarea type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.form.insured.timesWakingAtNight" placeholder="After you fall asleep at night, on average, how many times (if any) do you typically get up?"></textarea>
</div>

<!-- radio selection group -->
<div class="form-group iCheck">
    <span class="dropdown-label">Question</span><br>
    <label ng-repeat="item in vm.radioSelectArray">
        <input type="radio" name="fieldName" ng-checked="item === vm.form.fieldName[0]" checklist-model="vm.form.fieldName" checklist-value="item" icheck> {{item}}
    </label>
</div>

<!-- checkbox -->
<div class="form-group iCheck">
    <label>
        <input type="checkbox" class="custom-check" name="fieldName" ng-model="vm.form.fieldName" icheck>
        Select All
    </label>
</div>

<!-- ui-select dropdown list -->
<span class="dropdown-label">Label</span>
<ui-select id="fieldName-select" class="hasLabel" ng-model="vm.form.fieldName" theme="bootstrap" on-select="vm.onSelectCallback('fieldName')" title="Label">
    <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="item in vm.selectOptionsArray | filter: $select.search">
        <span ng-bind-html="item.name | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>

<!-- date picker -->
<div class="form-group">
    <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-change="vm.pageIsDirty = true" id="fieldName" ng-model="vm.form.fieldName" placeholder="Placeholder">
</div>

<!-- address autocomplete -->
<div class="form-group">
    <input id="uniqueId(hook up in googleplace directive)" type="text" googleplace class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.form.entity.address.oneLiner" placeholder="Address" autocomplete="off">
</div>

<!-- sub-fields container -->
<div class="container-fluid form-sub-content" ng-show="vm.policy.insured.secondaryInsured[0] === 'Yes'">
    <div class="row">
        <!-- Sub-fields go here -->
    </div>
</div>

<!-- new page-panel -->
<div class="page-panel" ng-show="vm.showPage === x">
    <span class="panel-title">Step X</span>
    <div class="container-fluid form-dark">
        <div class="row">

        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <button class="btn pull-left btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage(1)">Back</button>
                <button class="btn pull-right btn-lg pmd-btn-outline btn-success" ng-click="vm.goToPage(3)">{{(vm.pageIsDirty) ? 'Save & ' : ''}}Next</button>
            </div>
        </div>
    </div>
</div>