<div class="loading-form" ng-show="!vm.formFound" style="text-align: center;margin: 60px 0px;color: #ccc;">
    <h2><i class="fa fa-spin fa-refresh"></i> Loading Form</h2>
</div>
<div id="leadForm" ng-cloak ng-show="vm.formFound" style="display:inline-block" ng-style="{ 'padding': vm.padding, 'background-color': vm.backgroundColor, 'color': vm.fontColor, 'width': vm.width }">
    <ul class="form-progress-bar" ng-if="vm.showPage !== 99">
        <li style="--fa-icon: '\f016'; --tab-width: 33%" class="active" ng-click="vm.goToPage(1)">Policy Info</li>
        <li style="--fa-icon: '\f007'; --tab-width: 33%" ng-class="{ 'active': vm.showPage > 1 }" title="{{ vm.policyStarted || vm.isTest ? '' : 'Please complete the Policy Info page first...' }}" ng-click="vm.goToPage(2)">Contact Info</li>
        <li style="--fa-icon: '\f006'; --tab-width: 33%" ng-class="{ 'active': vm.showPage > 2 }" title="{{ vm.showPage === 3 || vm.isTest ? '' : 'Please complete the form to finish...' }}" ng-click="vm.testFinished()">Finished!</li>
    </ul>

    <div style="margin-top:40px" ng-if="vm.showPage === 1">
        <div class="container-fluid embedded-form" ng-class="{ 'embedded-dark': vm.backgroundIsDark }">
            <div class="row">
                <div class="col-md-4 form-content">
                    <div class="form-group">
                        <input type="text" format="number" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" ng-readonly="vm.showPage > 1" ng-model="vm.policy.faceAmount" placeholder="Policy Face Value *"
                            autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 form-content">
                    <div class="form-group">
                        <input type="number" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" id="vm.policy.insured.dateOfBirth" ng-model="vm.policy.insured.dateOfBirth" placeholder="Year of Birth *" />
                        <!-- <input type="text" class="form-control float-me input-underline-dark input-lg flatpickr" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" id="vm.policy.insured.dateOfBirth" ng-model="vm.policy.insured.dateOfBirth" placeholder="Insured Date of Birth *"> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.firstName" placeholder="Insured First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" ng-model="vm.policy.insured.lastName" placeholder="Insured Last Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 form-content">
                    <span class="dropdown-label placeHolder" style="font-size:0.8em; padding: 1px 5px; background: #eeeeee; font-weight: bold; color: #474747">Insured Health Status</span>
                    <ui-select id="healthStatus-select" class="hasLabel" ng-model="vm.policy.insured.healthStatus" theme="bootstrap" on-select="vm.onSelectCallback('healthStatus')" title="Insured Health Status">
                        <ui-select-match placeholder="Select an Option">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in vm.healthStatusOptions | filter: $select.search">
                            <span ng-bind-html="item | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row" style="margin-top:70px">
                <div class="col-md-12">
                    <button class="btn btn-default pull-left" ng-disabled="vm.isTest" ng-click="vm.goToPage(99)">Cancel</button>
                    <button class="btn pull-right btn-lg btn-outline btn-success" ng-disabled="vm.isTest" ng-click="vm.goToPage(2)" ladda="vm.beginningApp">{{vm.beginningApp ? 'Please Wait...' : 'Next'}} <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:40px" ng-if="vm.showPage === 2">
        <div class="container-fluid embedded-form" ng-class="{ 'embedded-dark': vm.backgroundIsDark }">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="text-align: center; margin-top: 0;"><u>How can we contact you?</u></h2>
                </div>
                <div class="col-md-8 form-content">
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" ng-model="vm.contact.firstName" placeholder="Your First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" ng-model="vm.contact.lastName" placeholder="Your Last Name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" ng-model="vm.contact.emailAddress" placeholder="Email Address *">
            </div>
            <div class="form-group">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" ng-model="vm.contact.phoneNumber" placeholder="Phone Number *" mask="(999) 999-9999">
            </div>
            <div class="form-group" ng-show="vm.showAgentInfo">
                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-style="{ 'color': vm.fontColor }" ng-change="vm.pageIsDirty = true" ng-model="vm.agent.name" placeholder="ID/Name">
            </div>
            <div class="row" style="margin-top:0px">
                <div class="col-md-12" ng-if="!vm.showAgentInfo">
                    <a href="javascript:void(0)" ng-click="vm.showAgentInfo = true">Additional Information</a>
                </div>

                <div class="col-md-12" style="margin-top:30px">
                    <button class="btn btn-default pull-left" ng-disabled="vm.isTest" ng-click="vm.goToPage(99)">Cancel</button>
                    <button class="btn pull-right btn-lg btn-outline btn-success" ng-disabled="vm.isTest" ng-click="vm.goToPage(3, true)" ladda="vm.beginningApp">{{vm.beginningApp ? 'Please Wait...' : 'Submit'}} <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:75px;padding-bottom:75px;" ng-if="vm.showPage === 3">
        <div class="container-fluid embedded-form" ng-class="{ 'embedded-dark': vm.backgroundIsDark }">
            <div class="row">
                <div class="col-md-12 form-content" style="text-align: center">
                    <div ng-if="vm.estimate === 'success'">
                        <h2 class="pmd-display1 highlight-success mt0" style="color:#111;font-weight:bold">{{vm.estimateLow | currency:undefined:0}} - {{vm.estimateHigh | currency:undefined:0}}</h2>
                        <p>It looks like a Life Settlement may be a good option for this Policy.</p>
                        <p>Based on the information provided, we estimate that a Life Settlement of between {{vm.estimateLow | currency:undefined:0}} and {{vm.estimateHigh | currency:undefined:0}} is likely.</p>
                        <p>Someone will be getting in touch with you shortly to discuss this further!</p>
                        <br>
                        <p class="small">Disclaimer: This estimate is not a binding offer. Your actual offer may vary significantly according to your circumstances.</p>
                    </div>
                    <div ng-if="vm.estimate === 'error'">
                        <h2>Thank You!</h2>
                        <h4>You didn't provide enough information for us to provide an estimate here, but your information has been submitted, and someone will be getting in touch with you shortly.</h4>
                    </div>
                    <h2 style="margin-top:40px">What would you like to do next?</h2>
                    <button class="btn btn-default btn-xl" style="margin-top:20px" ng-click="vm.registerUser()" ng-if="vm.isTest"><i class="fa fa-bell-o"></i> Register for Updates</button>
                    <a href="{{vm.linkRoot}}/register?spk={{vm.policyKey}}" target="_blank"><button class="btn btn-default btn-xl" style="margin-top:20px" ng-click="vm.registerUser()" ng-if="!vm.isTest"><i class="fa fa-bell-o"></i> Register for Updates</button></a>
                    <button class="btn btn-success btn-xl" style="margin-top:20px;margin-left:15px;" ng-click="vm.continueApplication()" ng-if="vm.isTest"><i class="fa fa-file-text-o"></i> Continue My Application</button>
                    <a href="{{vm.formLink}}" target="_blank"><button class="btn btn-success btn-xl" style="margin-top:20px;margin-left:15px;" ng-click="vm.continueApplication()" ng-if="!vm.isTest"><i class="fa fa-file-text-o"></i> Continue My Application</button></a>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:75px;padding-bottom:75px;" ng-if="vm.showPage === 97">
        <div class="container-fluid embedded-form" ng-class="{ 'embedded-dark': vm.backgroundIsDark }">
            <div class="row">
                <div class="col-md-12 form-content" style="text-align: center">
                    <h2>We're Sorry!</h2>
                    <p>Unfortunately, it doesn't look like the Insured meets our minimum criteria for Life Settlement eligibility at this time.</p>
                    <p>If you believe there are special circumstances, including a significant decline in the health of the insured, please call us at 1-855-547-7473 for further review.</p>
                    <p>Thank you!</p>
                    <button class="btn btn-success btn-xl" style="margin-top:40px" ng-click="vm.startForm()"><i class="fa fa-undo"></i> Start Over</button>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:75px;padding-bottom:75px;" ng-if="vm.showPage === 98">
        <div class="container-fluid embedded-form" ng-class="{ 'embedded-dark': vm.backgroundIsDark }">
            <div class="row">
                <div class="col-md-12 form-content" style="text-align: center">
                    <h2>Bargle!</h2>
                    <h4>We're sorry, but there was an error when submitting this form.</h4>
                    <pre style='margin-top:45px'>{{vm.formErrorMessage}}</pre>
                    <button class="btn btn-success btn-xl" style="margin-top:40px" ng-click="vm.startForm()"><i class="fa fa-undo"></i> Start Over</button>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:75px;padding-bottom:75px;" ng-if="vm.showPage === 99">
        <div class="container-fluid embedded-form" ng-class="{ 'embedded-dark': vm.backgroundIsDark }">
            <div class="row">
                <div class="col-md-12 form-content" style="text-align: center">
                    <h2>Goodbye</h2>
                    <h4>Keep us in mind if you change your mind!</h4>
                    <button class="btn btn-success btn-xl" style="margin-top:40px" ng-click="vm.startForm()"><i class="fa fa-undo"></i> Start Over</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.iFrameResizer = {
        heightCalculationMethod: function() {
            return jQuery('#leadForm').outerHeight();
        },
        widthCalculationMethod: function() {
            return jQuery('#leadForm').outerWidth();
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.0.4/iframeResizer.contentWindow.min.js"></script>