<div class="form-dark">
    <!-- <h2 class="pmd-display1" ng-if="!vm.isBuyer">{{vm.userRole === 'Back Office' ? 'Work Queue' : 'My Inventory'}}</h2> -->
    <div class="tabs tabs-inventory">
        <ul style="display:inline">
            <li class="tab-button" ng-if="vm.isBuyer || vm.isAdmin" ng-class="{ 'active': vm.activeTab === 1 }" ng-click="vm.switchTab(1)"><a href="#new"><i class="fa fa-inbox"></i> Available Cases</a></li>
            <!-- <li class="tab-button" ng-if="vm.isBuyer || vm.isAdmin" ng-class="{ 'active': vm.activeTab === 2 }" ng-click="vm.switchTab(2)"><a href="#active"><i class="fa fa-check-square-o"></i> Active Cases</a></li> -->
            <li class="tab-button" ng-class="{ 'active': vm.activeTab === 3 }" ng-click="vm.switchTab(3)"><a href="#"><i class="fa fa-lock"></i> {{vm.isBackOffice ? 'Work Queue' : 'My Cases'}}</a></li>
        </ul>
        <span ng-if="vm.userRole !== 'Back Office' && vm.userRole.indexOf('Seller') < 0">
            <b class="btn btn-primary pmd-btn-outline btn-rounded add-new" style="margin-top:10px" ng-click="vm.addNewPolicy()"><i class="fa fa-plus"></i> Add<br>New</b>
            <i class="fa fa-question info-question" ng-click="vm.showMessage('Add New Policy')" style="
                    display: inline-block;
                    font-size: 24px;
                    height: 24px;
                    width: 24px;
                    border-radius: 50px;
                    line-height: 24px;
                    margin-top: 8px;
                "></i>
        </span>

        <span class="inventory-top" style="display:block; top: 41px;">
            <div class="pull-left" style="margin-top:18px; font-weight:bold;">{{vm.activePolicyCount}} Result{{vm.activePolicyCount === 1 ? '' : 's'}}</div>
            <div class="status-tracking pull-right">
                <input type="text" class="inventory-search form-field input-underline-dark" ng-class="{ 'hide-on-mobile': !vm.showSearch }" ng-model="vm.searchTerm" ng-change="vm.doSearch()" ng-model-options="{ debounce: 300 }" placeholder="Search">
                <i class="fa fa-search inventory-search search-icon show-on-mobile" ng-click="vm.showSearch = true" ng-show="!vm.showSearch"></i>
                <span class="fa fa-close inventory-search-clear" ng-show="vm.showSearch || vm.searchTerm !== ''" ng-click="vm.searchTerm = ''; vm.showSearch = false; vm.doSearch();"></span>
                <div style="clear:both"></div>
                <button class="btn pmd-btn-outline btn-primary switch-in-button" style="pointer-events: all; cursor: pointer" ng-disabled="!vm.filtersEnabled" ng-click="vm.showFilters = !vm.showFilters">
                    <div class="pmd-switch" style="height:20px">
                        <label style="margin-right:9px;margin-top:3px;">
                            <input type="checkbox" ng-model="vm.filtersEnabled" ng-click="vm.enableFilters('cases')">
                            <span class="pmd-switch-label"></span>
                        </label>
                        <div class="switch-label" style="line-height: 1em; margin-top:3px;">Filters <i class="fa" ng-class="{ 'fa-angle-down': !vm.showFilters, 'fa-angle-up': vm.showFilters }"></i></div>
                    </div>
                </button>
            </div>
            <br style="clear:both" />
            <button class="show-on-mobile btn pull-right pmd-btn-outline btn-primary" style="margin-top:20px; margin-right: 20px;" ng-show="!vm.showFilters" ng-click="vm.showSortBy = !vm.showSortBy">Sort By <i class="fa" ng-class="{ 'fa-angle-down': !vm.showSortBy, 'fa-angle-up': vm.showSortBy }"></i></button>
            <div style="clear:both"></div>
            <div class="container-fluid sortby-filters show-on-mobile" ng-show="vm.showSortBy">
                <ng-include src="'/views/inventory/inventory-mobile-sort.html'"></ng-include>
            </div>
            <div class="container-fluid inventory-filters" ng-show="vm.showFilters">
                <ng-include src="'/views/inventory/inventory-filters.html'"></ng-include>
            </div>
        </span>

        <!-- NEW CASES tab - show all Pending Acceptance policies -->
        <div id='tab-1' ng-if="(vm.isBuyer || vm.isAdmin) && vm.activeTab === 1" style="padding:0; min-height:0;">
            <div class="pmd-table-card">
                <ng-include src="'/views/inventory/inventory-table.html'"></ng-include>
                <span ng-if="vm.addToPack">
                    <b class="btn btn-primary pmd-btn-outline btn-rounded add-new" style="margin-top:10px" ng-click="vm.addNewPolicy()" ng-if="vm.userRole !== 'Back Office'"><i class="fa fa-plus"></i> Add To<br>Pack</b>
                </span>
            </div>
        </div>
        <!-- ACTIVE CASES tab - show for all BUYER roles only -->
        <div id='tab-2' ng-if="(vm.isBuyer || vm.isAdmin) && vm.activeTab === 2" style="padding:0; min-height:0;">
            <div class="pmd-table-card">
                <ng-include src="'/views/inventory/inventory-table.html'"></ng-include>
                <span ng-if="vm.addToPack">
                    <b class="btn btn-primary pmd-btn-outline btn-rounded add-new" style="margin-top:10px" ng-click="vm.addNewPolicy()" ng-if="vm.userRole !== 'Back Office'"><i class="fa fa-plus"></i> Add To<br>Pack</b>
                </span>
            </div>
        </div>
        <!-- MANAGE CASES tab - show for all users -->
        <div id='tab-3' ng-if="vm.activeTab === 3" style="padding:0; min-height:0;">
            <div class="pmd-table-card">
                <ng-include src="'/views/inventory/inventory-table.html'"></ng-include>
            </div>
        </div>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info" style="margin:20px 0px">
                    <span>
                        Show 
                        <select data-ng-model="vm.numPerPage"
                            data-ng-options="num for num in vm.numPerPageOpt"
                            data-ng-change="vm.onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <ul uib-pagination class="pagination-sm"
                        ng-model="vm.currentPage"
                        total-items="vm.activePolicyCount"
                        max-size="4"
                        ng-change="vm.select(vm.currentPage, true)"
                        items-per-page="vm.numPerPage"
                        rotate="false"
                        previous-text="&lsaquo;" next-text="&rsaquo;"
                        boundary-links="true">
                    </ul>
                </div>
            </div>
        </footer>
    </div>

</div>