<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'id' }" ng-click="vm.setSort('id')">Policy ID <span ng-show="vm.sortCol === 'id'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'fullName' }" ng-click="vm.setSort('fullName')">Full Name <span ng-show="vm.sortCol === 'fullName'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'createdAt' }" ng-click="vm.setSort('createdAt')">Date Entered <span ng-show="vm.sortCol === 'createdAt'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'createdBy.createdByName' }" ng-click="vm.setSort('createdBy.createdByName')">Entered By <span ng-show="vm.sortCol === 'createdBy.createdByName'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'supplier' }" ng-if="vm.platform === 'imanager' || vm.userRole === 'iBroker'" ng-click="vm.setSort('supplier')">Supplier <span ng-show="vm.sortCol === 'supplier'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'gender' }" ng-click="vm.setSort('gender')">Gender <span ng-show="vm.sortCol === 'gender'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'age' }" ng-click="vm.setSort('age')">Age <span ng-show="vm.sortCol === 'age'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'healthStatus' }" ng-if="vm.userRole === 'iBroker'" ng-click="vm.setSort('healthStatus')"> ng-if="vm.userRole === 'iBroker'"Health Status <span ng-show="vm.sortCol === 'healthStatus'" c ng-if="vm.userRole === 'iBroker'"lass="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'carrier' }" ng-click="vm.setSort('carrier')">Carrier <span ng-show="vm.sortCol === 'carrier'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'faceAmount' }" ng-click="vm.setSort('faceAmount')">Face Amount <span ng-show="vm.sortCol === 'faceAmount'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'annualPremiumAmount' }" ng-click="vm.setSort('annualPremiumAmount')">Premium <span ng-show="vm.sortCol === 'annualPremiumAmount'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'policyType' }" ng-if="vm.platform === 'imanager' || vm.userRole === 'iBroker'" ng-click="vm.setSort('policyType')">Type <span ng-show="vm.sortCol === 'policyType'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
        <button class="btn btn-default btn-md" ng-class="{ 'btn-success': vm.sortCol === 'displayStatus' }" ng-click="vm.setSort('displayStatus')">Status <span ng-show="vm.sortCol === 'displayStatus'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span></button>
    </div>
</div>