<div class="row">
    <div class="col-md-5">
        <label for="age-slider">Age</label>
        <div ya-no-ui-slider='vm.ageOptions' class="pmd-range-slider" ya-no-ui-slider-events='vm.ageEventHandlers' ya-no-ui-slider-slide-debounce='100' flex></div>
        <div class="row">
            <div class="range-value col-xs-6">
                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <input type="text" onClick="this.setSelectionRange(0, this.value.length)" ng-change="vm.setAge('min')" ng-model="vm.ageMin" ng-model-options="{ debounce: 300 }" class="form-control age-input" id="age-sliderMin"><span class="pmd-textfield-focused age-input"></span>
                </div>
            </div>
            <div class="range-value col-xs-6 text-right">
                <div class="form-group pull-right pmd-textfield pmd-textfield-floating-label-completed">
                    <input type="text" onClick="this.setSelectionRange(0, this.value.length)" ng-change="vm.setAge('max')" ng-model="vm.ageMax" ng-model-options="{ debounce: 300 }" class="form-control age-input" id="age-sliderMax"><span class="pmd-textfield-focused age-input"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <label for="premium-slider">Premium ($)</label>
        <div ya-no-ui-slider='vm.premiumOptions' class="pmd-range-slider" ya-no-ui-slider-events='vm.premiumEventHandlers' ya-no-ui-slider-slide-debounce='100' flex></div>
        <div class="row">
            <div class="range-value col-xs-6">
                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <input type="text" onClick="this.setSelectionRange(0, this.value.length)" ng-change="vm.setPremium('min')" ng-model-options="{ debounce: 300 }" ng-model="vm.premiumMin" class="form-control premium-input" id="premium-sliderMin">
                    <span class="pmd-textfield-focused premium-input"></span>
                </div>
            </div>
            <div class="range-value col-xs-6 text-right">
                <div class="form-group pull-right pmd-textfield pmd-textfield-floating-label-completed">
                    <input type="text" onClick="this.setSelectionRange(0, this.value.length)" ng-change="vm.setPremium('max')" ng-model-options="{ debounce: 300 }" ng-model="vm.premiumMax" class="form-control max-input premium-input" id="premium-sliderMax">                                        <span ng-show="vm.premiumMax === '$250,000'" class="max-input-plus">+</span><span class="pmd-textfield-focused premium-input"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <label for="face-amount-slider">Face Amount ($)</label>
        <div ya-no-ui-slider='vm.faceAmountOptions' class="pmd-range-slider" ya-no-ui-slider-events='vm.faceAmountEventHandlers' ya-no-ui-slider-slide-debounce='100' flex></div>
        <div class="row">
            <div class="range-value col-xs-6">
                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <input type="text" onClick="this.setSelectionRange(0, this.value.length)" ng-change="vm.setFaceAmount('min')" ng-model="vm.faceAmountMin" ng-model-options="{ debounce: 300 }" class="form-control face-amount-input" id="face-amount-sliderMin">
                    <span class="pmd-textfield-focused face-amount-input"></span>
                </div>
            </div>
            <div class="range-value col-xs-6 text-right">
                <div class="form-group pull-right pmd-textfield pmd-textfield-floating-label-completed">
                    <input type="text" onClick="this.setSelectionRange(0, this.value.length)" ng-change="vm.setFaceAmount('max')" ng-model="vm.faceAmountMax" ng-model-options="{ debounce: 300 }" class="form-control max-input face-amount-input" id="face-amount-sliderMax">                                        <span ng-show="vm.faceAmountMax === '$10,000,000'" class="max-input-plus">+</span>
                    <span class="pmd-textfield-focused face-amount-input"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="pmd-switch">
            <label style="margin-right:10px">
                <input type="checkbox" ng-model="vm.showClosed" ng-change="vm.doSearch()">
                <span class="pmd-switch-label"></span>
            </label>
            <div class="switch-label" style="line-height: 1em;">Show Closed Policies</div>
        </div>
    </div>
</div>
<br>
<div class="row" ng-if="vm.activeTab !== 3">
    <div class="col-md-12">
        <div class="pmd-switch">
            <label style="margin-right:10px">
                <input type="checkbox" ng-model="vm.showNotInterested" ng-change="vm.doSearch()">
                <span class="pmd-switch-label"></span>
            </label>
            <div class="switch-label" style="line-height: 1em;">Show Policies I'm Not Interested In</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
        <button class="btn btn-primary pmd-btn-outline pull-right btn-sm" ng-click="vm.resetFilters()"><i class="fa fa-refresh"></i> Reset Filters</button>
        <button style="margin-right:20px" class="btn btn-success pmd-btn-outline pull-right btn-sm" ng-click="vm.saveFilters()"><i class="fa fa-save"></i> Save Filters</button>
    </div>
</div>