<table class="table form-card table-hover pmd-table" style="margin-top:20px">
    <thead>
        <tr>
            <th ng-if="vm.addToPack">
                <div class="form-group iCheck" style="margin-bottom: 0px">
                    <label>
                            <input type="checkbox" checklist-value="item" icheck checklist-model="vm.selectAllAvailable" />
                    </label>
                </div>
            </th>
            <th ng-click="vm.setSort('LSHID')">
                Policy ID
                <span ng-show="vm.sortCol === 'LSHID'" class="fa" ng-class="{ 'fa-angle-up': !vm.sortReverse, 'fa-angle-down': vm.sortReverse }"></span>
            </th>
            <th ng-click="vm.setSort('fullName')">
                Insured
                <span ng-show="vm.sortCol == 'fullName' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'fullName' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-click="vm.setSort('createdAt')">
                Date Entered
                <span ng-show="vm.sortCol == 'createdAt' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'createdAt' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-click="vm.setSort('createdBy.createdByName')" ng-if="vm.platform !== 'imanager'">
                Entered By
                <span ng-show="vm.sortCol == 'createdBy.createdByName' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'createdBy.createdByName' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <!-- <th ng-click="vm.setSort('supplier')" ng-if="vm.platform === 'isubmit' || vm.userRole === 'Back Office'">
                Supplier
                <span ng-show="vm.sortCol == 'supplier' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'supplier' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th> -->
            <th ng-click="vm.setSort('gender')">
                Gender
                <span ng-show="vm.sortCol == 'gender' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'gender' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-click="vm.setSort('age')">
                Age
                <span ng-show="vm.sortCol == 'age' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'age' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-click="vm.setSort('healthStatus')" ng-if="vm.userRole === 'Back Office'">
                Health Status
                <span ng-show="vm.sortCol == 'healthStatus' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'healthStatus' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-click="vm.setSort('carrier')">
                Carrier
                <span ng-show="vm.sortCol == 'carrier' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'carrier' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-click="vm.setSort('faceAmount')">
                Face Amount
                <span ng-show="vm.sortCol == 'faceAmount' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'faceAmount' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-click="vm.setSort('annualPremiumAmount')">
                Premium
                <span ng-show="vm.sortCol == 'annualPremiumAmount' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'annualPremiumAmount' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-if="vm.platform === 'imanager' || vm.userRole === 'Back Office'">
                LE's
            </th>
            <th ng-click="vm.setSort('policyType')" ng-if="vm.platform === 'imanager' || vm.userRole === 'Back Office'">
                Type
                <span ng-show="vm.sortCol == 'policyType' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'policyType' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th ng-click="vm.setSort('displayStatus')">
                Status
                <span ng-show="vm.sortCol == 'displayStatus' && !vm.sortReverse" class="fa fa-angle-up"></span>
                <span ng-show="vm.sortCol == 'displayStatus' && vm.sortReverse" class="fa fa-angle-down"></span>
            </th>
            <th class="action-col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="fetching-results" ng-show="vm.activePolicyCount === 0">
            <td colspan="15">
                <span ng-show="vm.fetchingPolicies" style="text-align: center; font-size: 28px; padding: 40px 20px; color: #aaa; display:block; width: 100%;">
                    <i class="fa fa-refresh fa-spin"></i> Loading Inventory
                </span>
                <span ng-show="!vm.fetchingPolicies" style="text-align: left">
                    <i class="fa fa-warning"></i> No Policies Found
                </span>
            </td>
        </tr>
        <tr class="results" ng-repeat="policy in vm.policies" ng-hide="vm.fetchingPolicies" ng-class="{ 'inactive': !policy.isActive }">
            <td data-title="" ng-if="vm.addToPack">
                <div class="form-group iCheck" style="margin-bottom: 0px">
                    <label>
                            <input type="checkbox" checklist-value="item" icheck checklist-model="vm.select[$index]" />
                    </label>
                </div>
            </td>
            <td data-title="Policy Id">{{(policy.LSHID === undefined) ? '&nbsp;' : policy.LSHID}}</td>
            <td data-title="Full Name">{{(policy.fullName === undefined) ? '&nbsp;' : policy.fullName}}</td>
            <td data-title="Date Entered">{{policy.createdAt | date:'M/dd/yy'}}</td>
            <td data-title="Entered By" ng-if="vm.platform !== 'imanager'">{{(policy.createdBy[0].createdByName === undefined) ? '&nbsp;' : policy.createdBy[0].createdByName}}</td>
            <!-- <td data-title="Supplier" ng-if="vm.platform === 'imanager' || vm.userRole === 'Back Office'">{{(policy.supplier === undefined) ? '&nbsp;' : policy.supplier}}</td> -->
            <td data-title="Gender">{{(policy.gender === undefined) ? '&nbsp;' : policy.gender}}</td>
            <td data-title="Age">{{(policy.age === undefined) ? '&nbsp;' : policy.age | number}}</td>
            <td data-title="Health Status" ng-if="vm.userRole === 'Back Office'">{{(policy.healthStatus === undefined) ? '&nbsp;' : policy.healthStatus}}</td>
            <td data-title="Carrier">{{(policy.carrier === undefined) ? '&nbsp;' : policy.carrier}}</td>
            <td data-title="Face Amount">{{(policy.faceAmount === undefined) ? '&nbsp;' : policy.faceAmount | currency:undefined:0}}</td>
            <td data-title="Premium">{{(policy.annualPremiumAmount === undefined) ? '&nbsp;' : policy.annualPremiumAmount | currency:undefined:0}}</td>
            <td data-title="LE's" ng-if="vm.platform === 'imanager' || vm.userRole === 'Back Office'">
                <span ng-if="!policy.les || policy.les.length === 0">n/a</span>
                <span ng-repeat="le in policy.les" class="btn btn-xs pmd-btn-outline" ng-class="{ 'btn-primary': le.type === 'LE', 'btn-success': le.type === 'eLE' }" style="margin-right:5px;text-transform:none;" title="Source: {{le.source}} | Description: {{le.description}}">{{le.type}} | {{le.lshYears}}</span>
            </td>
            <td data-title="Policy Type" ng-if="vm.platform === 'imanager' || vm.userRole === 'Back Office'">{{(policy.policyType === undefined) ? '&nbsp;' : policy.policyType}}</td>
            <td data-title="Status"><span class="btn btn-xs" ng-class="{ 'btn-primary': policy.displayStatus.indexOf('Offer') > -1 || policy.displayStatus === 'Lead', 'pmd-btn-outline': policy.displayStatus === 'Out for Offers', 'btn-success': (policy.displayStatus === 'In Progress' || policy.displayStatus === 'In Process' || policy.displayStatus === 'Received'), 'btn-warning': policy.displayStatus.indexOf('Pending') > -1, 'btn-danger': policy.displayStatus.indexOf('Unqualified') > -1 || policy.displayStatus.indexOf('Action Required') > -1 || policy.displayStatus === 'Case Rejected' || policy.displayStatus === 'Lead Rejected', 'btn-info': policy.displayStatus === 'Closed', 'btn-default': policy.displayStatus === 'Started' }"
                    ng-if="policy.displayStatus">{{policy.displayStatus}}</span>
                <span ng-if="vm.platform === 'isubmit'">
                    <img src="../../images/icons/offer{{policy.statusIcons.offerReceived ? '-received' : ''}}.png" ng-if="policy.statusIcons.outForOffers" alt="out for offers" title="{{policy.statusIcons.offerReceived ? 'Offer(s) Received' : 'Out for Offers'}}" class="back-office-status-image">
                <img src="../../images/icons/medical-summary{{policy.statusIcons.medicalSummaryReceived ? '-received' : ''}}.png" ng-if="policy.statusIcons.medicalSummaryRequested" alt="medical summary" title="Medical Summary {{policy.statusIcons.medicalSummaryReceived ? 'Received' : 'Ordered'}}"
                    class="back-office-status-image">
                <img src="../../images/icons/medical-records{{policy.statusIcons.medicalsReceived ? '-received' : ''}}.png" ng-if="policy.statusIcons.medicalsOrdered" alt="medical records" title="Medical Records {{policy.statusIcons.medicalsReceived ? 'Received' : 'Ordered'}}" class="back-office-status-image">
                <img src="../../images/icons/illustrations{{policy.statusIcons.illustrationsReceived ? '-received' : ''}}.png" ng-if="policy.statusIcons.illustrationsOrdered" alt="illustrations" title="Illustrations {{policy.statusIcons.illustrationsReceived ? 'Received' : 'Ordered'}}"
                    class="back-office-status-image"></span>
            </td>
            <td data-title="Action">
                <button ng-click="vm.viewPolicy(policy)" style="margin-top:-2px" class="btn btn-xs pmd-btn-outline btn-success" ng-class="{ 'badge-button': policy.hasNotification }" data-badge="{{policy.notificationCount}}">View <i class="fa fa-angle-right"></i></button>
                <!-- <i class="fa flag-action pull-right" ng-class="{'fa-flag-o': !policy.flaggedBy || policy.flaggedBy.indexOf(vm.currentUser.auth.uid) === -1, 'fa-flag': policy.flaggedBy && policy.flaggedBy.indexOf(vm.currentUser.auth.uid) > -1}" ng-click="vm.flagPoblicy(policy.policyKey)"></i> -->
            </td>
        </tr>
    </tbody>
</table>