<div>
    <div class="step step-1" ng-if="step === 1">
        <h1 style="font-size:3rem">Welcome</h1>
        <hr class="welcome-page-status" style="width: 10%">
        <p>Please take a moment to step through this tutorial to understand how the system works. You can get back here in the future by clicking "View Tutorial" in your Profile.</p>
        <h2>Click NEXT to get started!</h2>
        <div class="welcome-img-container welcome-img-popup">
            <img src="../../images/modals/welcome/step1-{{substep}}.png" alt="" class="welcome-img">
        </div>
    </div>
    <div class="step step-2" ng-if="step === 2">
        <h1>Your Inventory</h1>
        <hr class="welcome-page-status" style="width: 20%">
        <h2>Get an Overview</h2>
        <p style="text-align: center">The Inventory page is the place to go to get a birds-eye view of all Policies you or your Organization have submitted. You can sort, search and filter this list as needed.</p>
        <div class="welcome-img-container welcome-img-popup">
            <img src="../../images/modals/welcome/step2-{{substep}}.png" alt="" class="welcome-img">
        </div>
    </div>
    <div class="step step-3" ng-if="step === 3">
        <h1>Your Inventory</h1>
        <hr class="welcome-page-status" style="width: 30%">
        <h2>Track Status</h2>
        <p>Easily track which policies are started, pending signatures, pending review, in progress or out for offers. Simple icons help further identify where each Policy is in process.</p>
        <p>Know when a Policy has been published to our Buyer Distribution Network, and track the status of interest and offers at a glance!</p>
        <div class="welcome-img-container welcome-img-popup">
            <img src="../../images/modals/welcome/step3-{{substep}}.png" alt="" class="welcome-img">
        </div>
    </div>
    <div class="step step-4" ng-if="step === 4">
        <h1>Adding Policies</h1>
        <hr class="welcome-page-status" style="width: 40%">
        <h2>Fill the Form</h2>
        <p>Provide as much information as possible using our intuitive, secure online form.</p>
        <p>Need to send the form to a 3rd party to provide more detail? Not a problem. Request assistance and get notified when their submission is ready for you to review and approve.</p>
        <div class="welcome-img-container welcome-img-popup">
            <img src="../../images/modals/welcome/step4-{{substep}}.png" alt="" class="welcome-img">
        </div>
    </div>
    <div class="step step-5" ng-if="step === 5">
        <h1>Adding Policies</h1>
        <hr class="welcome-page-status" style="width: 50%">
        <h2>Gather Signatures</h2>
        <p>We provide 2 unique and convenient methods of signing life settlement application documents.</p>
        <p>First, you can download & print the application, get the hard copy signed, then scan & upload it back to the website.</p>
        <p>Better yet, we provide an industry-first integrated e-signature option that allows all parties to securely sign the documents electronically, resulting in better tracability and faster turn around!</p>
        <div class="welcome-img-container welcome-img-popup">
            <img src="../../images/modals/welcome/step5-{{substep}}.png" alt="" class="welcome-img">
        </div>
    </div>
    <div class="step step-6" ng-if="step === 6">
        <h1>Policy Overview</h1>
        <hr class="welcome-page-status" style="width: 60%">
        <h2>Everything You Need</h2>
        <p>Review Policy details, and get a progress snapshot, complete and review documents and forms, and communicate on platform, all from one comprehensive view.</p>
        <div class="welcome-img-container welcome-img-popup">
            <img src="../../images/modals/welcome/step6-{{substep}}.png" alt="" class="welcome-img">
        </div>
    </div>
    <div class="step step-7" ng-if="step === 7">
        <h1>Let's Get Set Up</h1>
        <hr class="welcome-page-status" style="width: 70%">
        <h2>What's an Organization?</h2>
        <p>If you have a network of people that you normally might receive life settlement cases from, you can maintain your connection to these suppliers through an Organization.</p>
        <p>After creating an Organization and signing the appropriate agreements, you will have access to a unique invitation link that anyone can use to associate with you.</p>
        <p>You can manage those who have joined you at any time, and Policy details and status updates are visible to you for all cases submitted through your Organization.</p>
        <div class="welcome-img-container welcome-img-popup">
            <img src="../../images/modals/welcome/step7-{{substep}}.png" alt="" class="welcome-img">
        </div>
    </div>
    <div class="step step-8" ng-if="step === 8">
        <h1>Let's Get Set Up</h1>
        <hr class="welcome-page-status" style="width: 80%">
        <h2>What's My Upline?</h2>
        <p>If you received a registration link from someone, you will become part of their Organization. Policy details and status updates are visible to your Upline.</p>
        <div class="welcome-img-container welcome-img-popup">
            <img src="../../images/modals/welcome/step8-{{substep}}.png" alt="" class="welcome-img">
        </div>
    </div>
    <div class="step step-9" ng-if="step === 9">
        <h1>That's All!</h1>
        <hr class="welcome-page-status" style="width: 100%">
        <p style="text-align: center">If you have any questions or concerns, please contact us at <a href="mailto:support@lshub.net">support@lshub.net</a>. Thanks!</p>
        <div class="welcome-img-container">
            <img src="../../images/modals/welcome/step9.png" alt="" class="welcome-img" style="height: 300px; width: auto; border: none">
        </div>
    </div>
    <hr class="welcome-hr">
    <div class="modal-footer welcome-page-footer">
        <button class="btn btn-success btn-md pull-left pmd-btn-outline" ng-click="goToPrev()" ng-if="step > 1">Back</button>
        <button class="btn btn-success pmd-btn-outline btn-md pull-right" ng-click="goToNext()" ng-if="step <= 8">Next</button>
        <button class="btn btn-success pmd-btn-outline btn-md pull-right" ng-click="close()" ng-if="step > 8">Let's Go!</button>
    </div>
</div>