<div>
    <div class="row" ng-show="!vm.currentUser.org">
        <div class="col-md-6">
            <div class="page-panel">
                <span class="panel-title">No Org Found</span>
                <div class="container-fluid">
                    <div class="row">
                        In order to connect with Buyers on iSubmit, you must first create an Organization in your Profile.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs" ng-show="vm.currentUser.org">
        <ul style="display:inline">
            <li class="tab-button"><a href="#tab-1"><i class="fa fa-sign-out"></i> Buyers</a></li>
            <li class="tab-button"><a href="#tab-2"><i class="fa fa-sign-in"></i> Suppliers</a></li>
            <li class="tab-button"><a href="#tab-3"><i class="fa fa-plus"></i> Invitations</a></li>
        </ul>
        <div id='tab-1'>
            <div class="container-fluid form-dark">
                <div class="row">
                    <div class="col-md-12 pmd-table-card">
                        <table class="table form-card table-hover pmd-table buyers-table">
                            <thead>
                                <tr>
                                    <th ng-click="vm.sortCol = 'buyer.name'; vm.sortReverse = !vm.sortReverse">
                                        Name
                                        <span ng-show="vm.sortCol == 'buyer.name' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'buyer.name' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'buyer.phone'; vm.sortReverse = !vm.sortReverse">
                                        Phone
                                        <span ng-show="vm.sortCol == 'buyer.phone' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'buyer.phone' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'buyer.fax'; vm.sortReverse = !vm.sortReverse">
                                        Fax
                                        <span ng-show="vm.sortCol == 'buyer.fax' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'buyer.fax' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'buyer.email'; vm.sortReverse = !vm.sortReverse">
                                        Email
                                        <span ng-show="vm.sortCol == 'buyer.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'buyer.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'buyer.isValidBuyer'; vm.sortReverse = !vm.sortReverse">
                                        Approved?
                                        <span ng-show="vm.sortCol == 'buyer.isValidBuyer' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'buyer.isValidBuyer' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!vm.buyers || vm.buyers.length == 0" class="no-results">
                                    <td colspan="6">
                                        <i class="fa fa-warning"></i> No Buyers Found
                                </tr>
                                </td>
                                <tr ng-if="vm.buyers.length > 0" class="buyer-row" ng-class="{ 'buyer-detail-top': vm.showDetail === buyer.name }" ng-click="vm.clickBuyer($event, buyer)" ng-repeat-start="buyer in vm.buyers | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter track by $index">
                                    <td data-title="Name"><span ng-show="!buyer.editInfo">{{buyer.name}}</span><input type="text" class="input-underline-dark" ng-model="buyer.name" ng-show="buyer.editInfo" placeholder="Buyer Name"></td>
                                    <td data-title="Phone"><span ng-show="!buyer.editInfo">{{buyer.phone}}</span><input type="text" class="input-underline-dark" ng-model="buyer.phone" mask="(999) 999-9999" ng-show="buyer.editInfo" placeholder="Buyer Phone #"></td>
                                    <td data-title="Fax"><span ng-show="!buyer.editInfo">{{buyer.fax}}</span><input type="text" class="input-underline-dark" ng-model="buyer.fax" mask="(999) 999-9999" ng-show="buyer.editInfo" placeholder="Buyer Fax #"></td>
                                    <td data-title="Email"><a href="mailto:{{buyer.email}}" ng-show="!buyer.editInfo">{{buyer.email}}</a><input type="text" class="input-underline-dark" ng-model="buyer.email" ng-show="buyer.editInfo" placeholder="Buyer Email"></td>
                                    <td data-title="Approved?">
                                        <div class="form-group iCheck" style="margin-bottom: 0px">
                                            <label>
                                                    <input ng-disabled="!buyer.editInfo" type="checkbox" checklist-value="item" icheck checklist-model="buyer.isValidBuyer" />
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pmd-btn-outline pull-right" ng-click="vm.deleteBuyer(buyer, $index);"><i class="fa fa-trash-o"></i> Delete</button>
                                        <a ui-sref="orgProfile({ ok: buyer.$id })"><button style="margin-right:20px;" class="btn btn-sm btn-primary pmd-btn-outline pull-right">Edit</button></a>
                                        <!-- <button style="margin-right:20px;" ng-show="!buyer.editInfo" class="btn btn-sm btn-primary pmd-btn-outline pull-right" ng-click="buyer.editInfo = true; vm.showDetail = buyer.name; vm.editInfo = true;">Edit</button>
                                        <button style="margin-right:20px;" ng-show="buyer.editInfo" class="btn btn-sm btn-success pmd-btn-outline pull-right" ng-click="vm.updateBuyer(buyer)">Save</button> -->
                                    </td>
                                </tr>
                                <tr ng-repeat-end class="buyer-detail" ng-if="vm.showDetail === buyer.name">
                                    <td colspan="6">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span class="dropdown-label">Address</span><br>
                                                    <span ng-show="!buyer.editInfo">{{buyer.address.oneLiner ? buyer.address.oneLiner : 'n/a'}}</span><input type="text" googleplace class="form-control input-underline-dark buyer-address" buyer-idx="{{$index}}"
                                                        ng-show="buyer.editInfo" ng-model="buyer.address.oneLiner" placeholder="Address" autocomplete="off">
                                                </div>
                                                <div class="col-md-8">
                                                    <span class="dropdown-label">Notes</span><br>
                                                    <span ng-show="!buyer.editInfo">{{buyer.notes ? buyer.notes : 'n/a'}}</span><textarea type="text" class="form-control input-underline-dark" ng-model="buyer.notes" placeholder="Buyer Notes" ng-show="buyer.editInfo"></textarea>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:20px">
                                                <div class="col-md-12">
                                                    <div class="form-group iCheck mb0">
                                                        <span class="dropdown-label">Default document access:</span><br>
                                                        <label ng-repeat="item in vm.fileCategories">
                                                            <input type="checkbox" ng-disabled="!buyer.editInfo" checklist-model="buyer.fileCategoryAccess" checklist-value="item" icheck> {{item}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-md btn-primary pmd-btn-outline" ng-click="vm.addBuyer('Buyer')" style="margin-top:20px"><i class="fa fa-plus"></i> Add Buyer</button>
                    </div>
                </div>
            </div>
        </div>
        <div id='tab-2'>
            <div class="container-fluid form-dark">
                <div class="row">
                    <div class="col-md-12 pmd-table-card">
                        <table class="table form-card table-hover pmd-table buyers-table">
                            <thead>
                                <tr>
                                    <th ng-click="vm.sortCol = 'supplier.orgName'; vm.sortReverse = !vm.sortReverse">
                                        Name
                                        <span ng-show="vm.sortCol == 'supplier.orgName' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'supplier.orgName' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'supplier.phone'; vm.sortReverse = !vm.sortReverse">
                                        Phone
                                        <span ng-show="vm.sortCol == 'supplier.phone' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'supplier.phone' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'supplier.fax'; vm.sortReverse = !vm.sortReverse">
                                        Fax
                                        <span ng-show="vm.sortCol == 'supplier.fax' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'supplier.fax' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'supplier.email'; vm.sortReverse = !vm.sortReverse">
                                        Email
                                        <span ng-show="vm.sortCol == 'supplier.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'supplier.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!vm.suppliers || vm.suppliers.length == 0" class="no-results">
                                    <td colspan="6">
                                        <i class="fa fa-warning"></i> No Suppliers Found
                                    </td>
                                </tr>
                                <tr ng-if="vm.suppliers.length > 0" class="buyer-row" ng-class="{ 'buyer-detail-top': vm.showDetail === supplier.orgName }" ng-click="vm.clickSupplier($event, supplier)" ng-repeat-start="supplier in vm.suppliers | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter track by $index">
                                    <td data-title="Name"><span ng-show="!supplier.editInfo">{{supplier.orgName}}</span><input type="text" class="input-underline-dark" ng-model="supplier.orgName" ng-show="supplier.editInfo" placeholder="Supplier Name"></td>
                                    <td data-title="Phone"><span ng-show="!supplier.editInfo">{{supplier.phone}}</span><input type="text" class="input-underline-dark" ng-model="supplier.phone" mask="(999) 999-9999" ng-show="supplier.editInfo" placeholder="Supplier Phone #"></td>
                                    <td data-title="Fax"><span ng-show="!supplier.editInfo">{{supplier.fax}}</span><input type="text" class="input-underline-dark" ng-model="supplier.fax" mask="(999) 999-9999" ng-show="supplier.editInfo" placeholder="Supplier Fax #"></td>
                                    <td data-title="Email"><a href="mailto:{{supplier.email}}" ng-show="!supplier.editInfo">{{supplier.email}}</a><input type="text" class="input-underline-dark" ng-model="supplier.email" ng-show="supplier.editInfo" placeholder="Supplier Email"></td>
                                    <td>
                                        <!-- <button class="btn btn-sm btn-danger pmd-btn-outline pull-right" ng-click="vm.deleteSupplier(supplier, $index);"><i class="fa fa-trash-o"></i> Delete</button> -->
                                        <button style="margin-right:20px;" ng-show="!supplier.editInfo" class="btn btn-sm btn-primary pmd-btn-outline pull-right" ng-click="supplier.editInfo = true; vm.showDetail = supplier.orgName; vm.editInfo = true;">Edit</button>
                                        <button style="margin-right:20px;" ng-show="supplier.editInfo" class="btn btn-sm btn-success pmd-btn-outline pull-right" ng-click="vm.updateSupplier(supplier)">Save</button>
                                    </td>
                                </tr>
                                <tr ng-repeat-end class="buyer-detail" ng-if="vm.showDetail === supplier.orgName">
                                    <td data-title="Address" colspan="2">
                                        <span class="dropdown-label">Address</span><br>
                                        <span ng-show="!supplier.editInfo">{{supplier.address.oneLiner}}</span><input type="text" googleplace class="form-control input-underline-dark buyer-address" supplier-idx="{{$index}}" ng-show="supplier.editInfo"
                                            ng-model="supplier.address.oneLiner" placeholder="Address" autocomplete="off">
                                    </td>
                                    <td data-title="Notes" colspan="3">
                                        <span class="dropdown-label">Notes</span><br>
                                        <span ng-show="!supplier.editInfo">{{supplier.notes}}</span><textarea type="text" class="form-control input-underline-dark" ng-model="supplier.notes" placeholder="Supplier Notes" ng-show="supplier.editInfo"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <button class="btn btn-md btn-primary pmd-btn-outline" ng-click="vm.addSupplier()" style="margin-top:20px"><i class="fa fa-plus"></i> Add Supplier</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div id='tab-3'>
            <div class="container-fluid form-dark">
                <div class="row">
                    <div class="col-md-12 pmd-table-card">
                        <table class="table form-card table-hover pmd-table buyers-table">
                            <thead>
                                <tr>
                                    <th ng-click="vm.sortCol = 'supplier.orgName'; vm.sortReverse = !vm.sortReverse">
                                        Name
                                        <span ng-show="vm.sortCol == 'supplier.orgName' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'supplier.orgName' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'supplier.phone'; vm.sortReverse = !vm.sortReverse">
                                        Phone
                                        <span ng-show="vm.sortCol == 'supplier.phone' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'supplier.phone' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'supplier.fax'; vm.sortReverse = !vm.sortReverse">
                                        Fax
                                        <span ng-show="vm.sortCol == 'supplier.fax' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'supplier.fax' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.sortCol = 'supplier.email'; vm.sortReverse = !vm.sortReverse">
                                        Email
                                        <span ng-show="vm.sortCol == 'supplier.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'supplier.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!vm.supplierInvites || vm.supplierInvites.length == 0" class="no-results">
                                    <td colspan="7">
                                        <i class="fa fa-warning"></i> No Invitations Found
                                    </td>
                                </tr>
                                <tr ng-if="vm.supplierInvites.length > 0" class="buyer-row" ng-repeat="supplier in vm.supplierInvites | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter track by $index">
                                    <td data-title="Type">Supplier</td>
                                    <td data-title="Name">{{supplier.orgName}}</td>
                                    <td data-title="Phone">{{supplier.phone}}</td>
                                    <td data-title="Fax">{{supplier.fax}}</td>
                                    <td data-title="Email"><a href="mailto:{{supplier.email}}" ng-show="!supplier.editInfo">{{supplier.email}}</a></td>
                                    <td>
                                        <button style="margin-right:20px;" class="btn btn-sm btn-danger pmd-btn-outline pull-right" ng-click="vm.declineInvite(supplier)">Decline</button>
                                        <button style="margin-right:20px;" class="btn btn-sm btn-success pmd-btn-outline pull-right" ng-click="vm.acceptInvite(supplier)">Accept</button>
                                        <br style="clear:both">
                                    </td>
                                </tr>
                                <tr ng-if="vm.buyerInvites.length > 0" class="buyer-row" ng-repeat="buyer in vm.buyerInvites | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter track by $index">
                                    <td data-title="Type">Buyer</td>
                                    <td data-title="Name">{{buyer.orgName}}</td>
                                    <td data-title="Phone">{{buyer.phone}}</td>
                                    <td data-title="Fax">{{buyer.fax}}</td>
                                    <td data-title="Email"><a href="mailto:{{buyer.email}}" ng-show="!buyer.editInfo">{{buyer.email}}</a></td>
                                    <td>
                                        <button style="margin-right:20px;" class="btn btn-sm btn-danger pmd-btn-outline pull-right" ng-click="vm.declineInvite(buyer)">Decline</button>
                                        <button style="margin-right:20px;" class="btn btn-sm btn-success pmd-btn-outline pull-right" ng-click="vm.acceptInvite(buyer)">Accept</button>
                                        <br style="clear:both">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>