<div>
    <a href="javascript:void(0)" ng-click="vm.goTo('buyers')" class="pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory">Back to Buyers/Suppliers</a>
    <h2 class="pmd-display1">Buyer Profile</h2>
    <br style="clear:both">

    <!-- <div class="page-panel">
        <span class="panel-title" ng-click="vm.showData = !vm.showData" style="cursor:pointer">Toggle</span>
        <div class="row" ng-if="vm.showData">
            <div class="col-md-12">
                <pre>
{{vm.buyer | json}}
                </pre>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-4">
            <div class="page-panel">
                <span class="panel-title">Contact Info</span>
                <div class="container-fluid form-dark">
                    <div class="row my-upline-row">
                        <div class="col-md-12 form-content show-hover-btn">
                            <h2 class="mt0">{{vm.buyer.name}} <button ng-click="vm.copyInfo('buyerInfo'); vm.editBuyerInfo = true" ng-if="!vm.editBuyerInfo" class="btn-delete-upline btn-info
                                pmd-btn-outline pull-right" title="Edit Buyer Info"><i class="fa fa-pencil"></i></button>
                            </h2>
                            <div class="entity">
                                <p><b>Email:</b>
                                    <span ng-show="!vm.editBuyerInfo">{{vm.buyer.email ? vm.buyer.email : 'n/a'}}</span>
                                    <span ng-show="vm.editBuyerInfo">
                                        <input type="text" class="form-control inline-form-control" name="Email Address" id="EmailAddress" ng-model="vm.updatedInfo.email">
                                    </span>
                                </p>
                                <p><b>Phone:</b>
                                    <span ng-show="!vm.editBuyerInfo">{{vm.buyer.phone ? vm.buyer.phone : 'n/a'}}</span>
                                    <span ng-show="vm.editBuyerInfo">
                                        <input type="text" class="form-control inline-form-control" name="Phone Number" id="PhoneNumber" ng-model="vm.updatedInfo.phone">
                                    </span>
                                </p>
                                <p><b>Fax:</b>
                                    <span ng-show="!vm.editBuyerInfo">{{vm.buyer.fax ? vm.buyer.fax : 'n/a'}}</span>
                                    <span ng-show="vm.editBuyerInfo">
                                        <input type="text" class="form-control inline-form-control" name="Fax Number" id="FaxNumber" ng-model="vm.updatedInfo.fax">
                                    </span>
                                </p>
                                <p><b>Primary Contact:</b>
                                    <span ng-show="!vm.editBuyerInfo">{{vm.buyer.primaryContact ? vm.buyer.primaryContact : 'n/a'}}</span>
                                    <span ng-show="vm.editBuyerInfo">
                                        <input type="text" class="form-control inline-form-control" name="Primary Contact Address" id="PrimaryContact" ng-model="vm.updatedInfo.primaryContact">
                                    </span>
                                </p>
                                <p><b>Address:</b>
                                    <span ng-show="!vm.editBuyerInfo">{{vm.buyer.address.oneLiner}}</span>
                                    <span ng-show="vm.editBuyerInfo">
                                        <input type="text" googleplace class="form-control" name="buyerAddress" id="buyerAddress" ng-model="vm.updatedInfo.address.oneLiner" placeholder="Address" autocomplete="off">
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.editBuyerInfo">
                        <div class="col-md-12">
                            <button class="btn btn-default pull-right" ng-click="vm.updatedInfo = {}; vm.editBuyerInfo = false" style="margin-left:10px">Cancel</button>
                            <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveUpdatedInfo('buyerInfo')">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-panel">
                <span class="panel-title">Notes</span>
                <div class="container-fluid form-dark">
                    <div class="row my-upline-row">
                        <div class="col-md-12 form-content">
                            <br>
                            <textarea name="buyerNotes" id="buyerNotes" style="width:100%;height:200px" ng-model="vm.buyer.notes" ng-change="vm.showSaveNotes = true"></textarea>
                            <button ng-if="vm.showSaveNotes" class="btn btn-md btn-success pmd-btn-outline pull-right" ng-click="vm.saveNote()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-panel">
                <span class="panel-title">File Access</span>
                <div class="container-fluid form-dark">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group iCheck mb0">
                                <span class="dropdown-label">Default document access: <button style="margin-left:20px;" ng-if="vm.showSaveFileAccess" class="btn btn-md btn-success pmd-btn-outline" ng-click="vm.saveFileCategories()">Save</button></span>                                <i class="fa fa-question info-question" style="margin-left:15px" ng-click="vm.showMessage('File Access')"></i>
                                <label>
                                    <input type="checkbox" name="buyerFileCategoryAll" checklist-model="vm.allFileCategories" checklist-value="item" icheck> Select All
                                </label>
                                <br>
                                <label ng-repeat="item in vm.fileCategories">
                                    <input type="checkbox" name="buyerFileCategory" checklist-model="vm.buyer.fileCategoryAccess" checklist-value="item" icheck> {{item}}
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="page-panel">
                <span class="panel-title">Policies</span>
                <div class="container-fluid form-dark">
                    <div class="row">
                        <div class="col-md-12 form-content pmd-table-card">
                            <table class="table form-card table-hover pmd-table">
                                <thead>
                                    <tr>
                                        <th ng-click="vm.sortCol = 'ref.name'; vm.sortReverse = !vm.sortReverse">
                                            Insured Name
                                            <span ng-show="vm.sortCol == 'ref.name' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.name' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'ref.email'; vm.sortReverse = !vm.sortReverse">
                                            Face Amount
                                            <span ng-show="vm.sortCol == 'ref.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'ref.data.carrier'; vm.sortReverse = !vm.sortReverse">
                                            Carrier
                                            <span ng-show="vm.sortCol == 'ref.data.carrier' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.data.carrier' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'ref.createdAt'; vm.sortReverse = !vm.sortReverse">
                                            Date Sent
                                            <span ng-show="vm.sortCol == 'ref.createdAt' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.createdAt' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'ref.data.buyerInterested'; vm.sortReverse = !vm.sortReverse">
                                            Interest?
                                            <span ng-show="vm.sortCol == 'ref.data.buyerInterested' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.data.buyerInterested' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'ref.data.hasViewedPolicy'; vm.sortReverse = !vm.sortReverse">
                                            Viewed?
                                            <span ng-show="vm.sortCol == 'ref.data.hasViewedPolicy' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.data.hasViewedPolicy' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th style="text-align: right">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="vm.buyerPolicies.length === 0">
                                        <td colSpan="7"><i class="fa fa-warning"></i> No Policies Found</td>
                                    </tr>
                                    <tr class="buyer-row" ng-repeat="ref in vm.buyerPolicies">
                                        <td data-title="Insured Name:">{{ref.data.insured.firstName ? ref.data.insured.firstName : '&nbsp;'}} {{ref.data.insured.lastName ? ref.data.insured.lastName : ref.data.insured.lastNameInitial ? ref.data.insured.lastNameInitial : '&nbsp;'}}</td>
                                        <td data-title="Face Amount:">{{(ref.data.faceAmount === undefined) ? '&nbsp;' : ref.data.faceAmount | currency:undefined:0}}</td>
                                        <td data-title="Carrier:">{{ref.data.carrier ? ref.data.carrier : '&nbsp;'}}</td>
                                        <td data-title="Date Sent:">{{ref.data.createdAt | date}}</td>
                                        <td data-title="Interest?">
                                            <div class="form-group iCheck" style="margin-bottom: 0px">
                                                <label>
                                                    <input type="checkbox" notificationText="Has this Buyer expressed interest in this case?" name="buyerInterested" ng-disabled="true" ng-model="ref.data.buyerInterested" icheck>
                                                </label>
                                            </div>
                                        </td>
                                        <td data-title="Viewed?">
                                            <div class="form-group iCheck" style="margin-bottom: 0px">
                                                <label>
                                                    <input type="checkbox" notificationText="Has this Buyer viewed this case?" name="hasViewedPolicy" ng-disabled="true" ng-model="ref.data.hasViewedPolicy" icheck>
                                                </label>
                                            </div>
                                        </td>
                                        <td style="text-align: right">
                                            <a ui-sref="buyerPolicy({ pid: ref.pid, bid: ref.bid, pk: ref.data.parentKey })"><button class="btn btn-xs pmd-btn-outline btn-success">View <i class="fa fa-angle-right"></i></button></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-panel">
                <span class="panel-title">State Licensing</span>
                <div class="container-fluid form-dark">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group iCheck mb0">
                                <span class="dropdown-label">States this Buyer is licensed to do business in: <button style="margin-left:20px;" ng-if="vm.showSaveLicensing" class="btn btn-md btn-success pmd-btn-outline" ng-click="vm.saveLicensing()">Save</button></span>                                <i class="fa fa-question info-question" style="margin-left:15px" ng-click="vm.showMessage('State Licensing')"></i>
                                <label>
                                    <input type="checkbox" name="buyerStateLicenseAll" checklist-model="vm.allStates" checklist-value="item" icheck> Select All
                                </label>
                                <br>
                                <label ng-repeat="item in vm.states">
                                    <input type="checkbox" name="buyerStateLicense" checklist-model="vm.buyer.licensedStates" checklist-value="item" icheck> {{item.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>