<div class="inventory-page">
    <div class="container-fluid" style="padding-left:15px; padding-right:15px">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="highlight-cover highlight-side-cover"></div>
                <button class="btn btn-default btn-outline csb-toggle" title="Toggle Sidebar" ng-click="vm.toggleSidebar()"><i class="fa" ng-class="{ 'fa-angle-left': !vm.csb, 'fa-angle-right': vm.csb }"></i></button>
                <div class="text-center">
                    <a ui-sref="inventory"><img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar hide-on-mobile" ng-if="!vm.csb" style="max-width:100%" /></a>
                    <a ui-sref="inventory"><img ng-src="images/S-Logo.jpg" class="user-avatar hide-on-mobile" ng-if="vm.csb" style="max-width:100%" /></a>
                    <a ui-sref="inventory"><img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo-mobile.png" class="user-avatar show-on-mobile" /></a>
                    <hr class="hide-on-mobile" /><br class="hide-on-mobile" />
                    <span class="show-on-mobile">
                        <div class="dropdown user-dropdown">
                            <h4 class="dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{vm.currentUser.profile.displayName}}
                                <i class="fa fa-bars" style="font-size: 22px;position: absolute;right: 1px;bottom: -15px;"></i>
                            </h4>
                            <ul class="dropdown-menu" aria-labelledby="user-dropdown">
                                <li><a ui-sref="inventory"><i class="fa fa-folder-open text-primary"></i> {{vm.currentUser.profile.role === 'Back Office' ? 'Work Queue' : (vm.platform === 'imanager') ? 'Inventory' : 'Policies'}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ui-sref="calculator"><i class="fa fa-calculator text-primary"></i> Offer Calculator</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-if="vm.currentUser.profile.role.indexOf('Admin') > -1"><a ui-sref="admin"><i class="fa fa-shield" style="color:#ff9800"></i> Admin</a></li>
                                <!-- <li ng-if="vm.currentUser.profile.isSAdmin"><a ui-sref="sadmin">Super Admin</a></li> -->
                                <li role="separator" class="divider" ng-if="vm.currentUser.profile.role.indexOf('Admin') > -1"></li>
                                <li><a ui-sref="profile"><i class="fa fa-user text-primary"></i> Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-if="['iBroker','Broker','Provider','Supplier','Buyer','Carrier','Admin','IMO'].indexOf(vm.currentUser.profile.role) > -1"><a ui-sref="buyers"><i class="fa fa-users text-primary"></i> Buyers/Suppliers</a></li>
                                <li role="separator" class="divider" ng-if="['iBroker','Broker','Provider','Supplier','Buyer','Carrier'].indexOf(vm.currentUser.profile.role) > -1"></li>
                                <li><a ui-sref="notifications"><i class="fa fa-bell text-primary"></i> Notifications <span class="badge badge-notification"></span></a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-if="vm.platform === 'isubmit'"><a ui-sref="education"><i class="fa fa-university text-primary"></i> Education</a></li>
                                <li ng-if="vm.platform === 'isubmit' && vm.currentUser.profile.role.indexOf('Seller') < 0"><a ui-sref="marketing"><i class="fa fa-bullhorn text-primary"></i> Marketing</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-if="vm.currentUser.profile.accessDomain === 'all'"><a href="javascript:void(0);" ng-click="vm.mintToken()"><i class="fa fa-retweet text-primary" ng-class="{ 'fa-spin': vm.mintingToken }"></i> Switch Domains</a></li>
                                <li role="separator" class="divider" ng-if="vm.currentUser.profile.accessDomain === 'all'"></li>
                                <li><a href="javascript:void(0);" ng-click="vm.logout()"><i class="fa fa-sign-out text-primary"></i> Log Out</a></li>
                            </ul>
                </div>
                </span>
                <span class="hide-on-mobile">
                        <h4 class="csb-hide">{{vm.currentUser.profile.displayName}}</h4>
                        <h5 class="csb-hide" style="margin-top:0px; margin-bottom:5px" ng-if="vm.currentUser.impersonated">impersonated <i class="fa fa-close text-danger" style="cursor: pointer" ng-click="vm.removeImpersonation()"></i></h5>
                        <h5 class="csb-hide" style="margin-top:0px; margin-bottom:40px;">({{vm.currentUser.profile.role}})</h5>
                        <div class="desktop-menu" title="Inventory"><a ui-sref="inventory"><i class="fa fa-folder-open"></i><span class="csb-hide"> {{vm.currentUser.profile.role === 'Back Office' ? 'Work Queue' : (vm.platform === 'imanager') ? 'Inventory' : 'Policies'}}</span></a>
            </div>
            <div class="desktop-menu" title="Offer Calculator"><a ui-sref="calculator"><i class="fa fa-calculator"></i><span class="csb-hide"> Offer Calculator</span></a></div>
            <div class="desktop-menu" title="Admin" ng-if="vm.currentUser.profile.role.indexOf('Admin') > -1"><a ui-sref="admin"><i class="fa fa-shield" style="color:#ff9800"></i><span class="csb-hide"> Admin</span></a></div>
            <!-- <div class="desktop-menu" ng-if="vm.currentUser.profile.role === 'SAdmin'"><a ui-sref="sadmin"><i class="fa fa-shield"></i> Super Admin</a></div> -->
            <div class="desktop-menu" title="Buyers/Suppliers" ng-if="['iBroker','Broker','Provider','Supplier','Buyer','Carrier','IMO'].indexOf(vm.currentUser.profile.role) > -1"><a ui-sref="buyers"><i class="fa fa-users"></i><span class="csb-hide"> Buyers/Suppliers</span></a></div>
            <div class="desktop-menu" title="Profile"><a ui-sref="profile"><i class="fa fa-user"></i><span class="csb-hide"> Profile</span></a></div>
            <div class="desktop-menu" title="Notifications"><a ui-sref="notifications"><i class="fa fa-bell"></i><span class="csb-hide"> Notifications </span><span class="badge badge-notification">{{vm.notificationCount}}</span></a>
            </div>
            <div class="desktop-menu" title="Education" ng-if="vm.platform === 'isubmit'"><a ui-sref="education"><i class="fa fa-university"></i><span class="csb-hide"> Education </span></a>
            </div>
            <div class="desktop-menu" title="Marketing" ng-if="vm.platform === 'isubmit' && vm.currentUser.profile.role.indexOf('Seller') < 0"><a ui-sref="marketing"><i class="fa fa-bullhorn"></i><span class="csb-hide"> Marketing </span></a>
            </div>
            <div class="desktop-menu" title="Switch Domains" ng-if="vm.currentUser.profile.accessDomain === 'all'"><a href="javascript:void(0);" ng-click="vm.switchDomains()"><i class="fa fa-retweet" ng-class="{ 'fa-spin': vm.mintingToken }"></i><span class="csb-hide"> Switch Domains</span></a></div>
            <div class="desktop-menu" title="Log Out"><a href="javascript:void(0);" ng-click="vm.logout()"><i class="fa fa-sign-out"></i><span class="csb-hide"> Log Out</span></a></div>
            </span>
        </div>

        <!--<ul class="nav nav-sidebar">
                    <li ng-class="{active: $state.includes('inventory')}"><a ui-sref="inventory"><i class="fa fa-inbox"></i> Inventory <span class="sr-only">(current)</span></a></li>
                </ul>-->

        <div class="version hide-on-mobile">
            {{vm.version}}
            <span class="csb-hide"><br> {{vm.platform}} Platform{{vm.environment}}
            <br> &copy; 2021 - All Rights Reserved</span>
        </div>

    </div>
    <div ng-if="vm.showContent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="scrollContainer" ui-view>
    </div>
</div>
</div>
<script id="io.birdseed.script-tag" type="text/javascript" src="https://app.birdseed.io/widget.js"></script>
<div ng-show="vm.environment === ''" id="birdseed-widget-container" data-token="4b09966141d25ddc64159cdb289f51b4"></div>
</div>