<div>
    <a href="javascript:void(0)" ng-click="vm.goTo('inventory')" class="show-on-mobile pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory">Go to Inventory</a>
    <h2 class="pmd-display1">Notifications</h2>
    <br style="clear:both">

    <!-- <div class="page-panel">
        <span class="panel-title" ng-click="vm.showData = !vm.showData" style="cursor:pointer">Toggle Raw</span>
        <div class="row" ng-if="vm.showData">
            <div class="col-md-12">
                <pre>
{{vm.notifications | json}}
                    </pre>
            </div>
        </div>
    </div> -->


    <div class="row">
        <div class="col-md-12 pmd-table-card">
            <table class="table form-card table-hover pmd-table">
                <thead>
                    <tr>
                        <th ng-click="vm.sortCol = 'createdAt'; vm.sortReverse = !vm.sortReverse">
                            Date
                            <span ng-show="vm.sortCol == 'createdAt' && !vm.sortReverse" class="fa fa-angle-up"></span>
                            <span ng-show="vm.sortCol == 'createdAt' && vm.sortReverse" class="fa fa-angle-down"></span>
                        </th>
                        <th ng-click="vm.sortCol = 'LSHID'; vm.sortReverse = !vm.sortReverse">
                            Policy
                            <span ng-show="vm.sortCol == 'LSHID' && !vm.sortReverse" class="fa fa-angle-up"></span>
                            <span ng-show="vm.sortCol == 'LSHID' && vm.sortReverse" class="fa fa-angle-down"></span>
                        </th>
                        <th ng-click="vm.sortCol = 'action'; vm.sortReverse = !vm.sortReverse">
                            Action
                            <span ng-show="vm.sortCol == 'action' && !vm.sortReverse" class="fa fa-angle-up"></span>
                            <span ng-show="vm.sortCol == 'action' && vm.sortReverse" class="fa fa-angle-down"></span>
                        </th>
                        <th ng-click="vm.sortCol = 'note'; vm.sortReverse = !vm.sortReverse">
                            Note
                            <span ng-show="vm.sortCol == 'note' && !vm.sortReverse" class="fa fa-angle-up"></span>
                            <span ng-show="vm.sortCol == 'note' && vm.sortReverse" class="fa fa-angle-down"></span>
                        </th>
                        <th ng-click="vm.sortCol = 'createdBy'; vm.sortReverse = !vm.sortReverse">
                            From
                            <span ng-show="vm.sortCol == 'createdBy' && !vm.sortReverse" class="fa fa-angle-up"></span>
                            <span ng-show="vm.sortCol == 'createdBy' && vm.sortReverse" class="fa fa-angle-down"></span>
                        </th>
                        <th ng-click="vm.sortCol = 'isUnread'; vm.sortReverse = !vm.sortReverse">
                            Read?
                            <span ng-show="vm.sortCol == 'isUnread' && !vm.sortReverse" class="fa fa-angle-up"></span>
                            <span ng-show="vm.sortCol == 'isUnread' && vm.sortReverse" class="fa fa-angle-down"></span>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-results" ng-if="!vm.notifications || vm.notifications.length === 0">
                        <td colspan="9" style="text-align: left">
                            <i class="fa fa-warning"></i> You have no notifications
                        </td>
                    </tr>
                    <tr ng-repeat="notification in vm.notifications | orderBy:vm.sortCol:vm.sortReverse | filter:vm.searchFilter">
                        <td>{{notification.createdAt | date}}</td>
                        <td>{{notification.LSHID}}</td>
                        <td>{{notification.action}}</td>
                        <td>{{notification.note}}</td>
                        <td>{{(notification.createdByRole === 'Back Office') ? 'iSupport' : notification.createdBy}} ({{notification.createdByRole}})</td>
                        <td><input type="checkbox" class="user-auth-check" ng-model="notification.isUnread" disabled ng-checked="!notification.isUnread" /></td>
                        <td><button class="btn pmd-btn-outline btn-success btn-xs" ng-click="vm.goTo('policy',notification)">Go to Policy <i class="fa fa-angle-right"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12 form-card">
            <pre>{{vm.orgNotifications | json}}</pre>
        </div>
    </div> -->

</div>

</div>