<div>
    <a href="javascript:void(0)" ng-click="vm.goTo('inventory')" class="show-on-mobile pull-right btn btn-primary pmd-btn-outline btn-back-to-inventory">Go to Inventory</a>
    <h2 class="pmd-display1">My Profile</h2>
    <button class="btn btn-success btn-md pmd-btn-outline pull-right" ng-click="vm.showTutorial()" ng-if="vm.platform === 'isubmit'">View Tutorial</button>
    <br style="clear:both">

    <!-- <div class="page-panel">
        <span class="panel-title" ng-click="vm.showData = !vm.showData" style="cursor:pointer">Toggle</span>
        <div class="row" ng-if="vm.showData">
            <div class="col-md-12">
                <pre>
{{vm.currentUser.profile | json}}
                    </pre>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-4">
            <div class="page-panel">
                <span class="panel-title">My Info</span>
                <div class="container-fluid form-dark">
                    <div class="row my-upline-row">
                        <div class="col-md-12 form-content show-hover-btn">
                            <h2 class="mt0">{{vm.currentUser.profile.fullName}} <button ng-click="vm.copyInfo('myInfo'); vm.editMyInfo = true" ng-if="!vm.editMyInfo" class="btn-delete-upline btn-info
                                    pmd-btn-outline pull-right" title="Edit My Info"><i class="fa fa-pencil"></i></button></h2>
                            <div class="entity">
                                <p><b>Company:</b> <span ng-show="!vm.editMyInfo">{{vm.currentUser.profile.company ? vm.currentUser.profile.company : 'n/a'}}</span><span ng-show="vm.editMyInfo">
                                    <input type="text" class="form-control inline-form-control" name="Company" id="CompanyName" ng-model="vm.updatedInfo.company">
                                </span></p>
                                <p><b>Email:</b> <span ng-show="!vm.editMyInfo">{{vm.currentUser.profile.email}}</span><span ng-show="vm.editMyInfo">
                                    <input type="email" class="form-control inline-form-control" name="Email" id="Email" ng-model="vm.updatedInfo.email">
                                </span></p>
                                <p><b>Phone:</b> <span ng-show="!vm.editMyInfo">{{vm.currentUser.profile.phone}}</span><span ng-show="vm.editMyInfo">
                                    <input type="text" class="form-control inline-form-control" name="Phone" id="Phone" ng-model="vm.updatedInfo.phone" mask="(999) 999-9999">
                                </span></p>
                                <p><b>Fax:</b> <span ng-show="!vm.editMyInfo">{{vm.currentUser.profile.fax}}</span><span ng-show="vm.editMyInfo">
                                    <input type="text" class="form-control inline-form-control" name="Fax" id="Fax" ng-model="vm.updatedInfo.fax" mask="(999) 999-9999">
                                </span></p>
                                <p ng-show="!vm.editMyInfo || (vm.editMyInfo && vm.currentUser.profile.role !== 'Back Office')"><b>Role:</b> <span ng-show="!vm.editMyInfo">{{vm.currentUser.profile.role}}</span><span ng-show="vm.editMyInfo">
                                    <ui-select id="role-select" ng-model="vm.updatedInfo.role" theme="bootstrap" class="inline-role-select hasLabel" on-select="vm.onSelectCallback('role')" title="Role">
                                        <ui-select-match placeholder="* Role">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="role in vm.roles | filter: $select.search">
                                            <span ng-bind-html="role | highlight: $select.search"></span>
                                    </ui-select-choices>
                                    </ui-select>
                                    </span>
                                </p>
                                <p><b>Address:</b> <span ng-show="!vm.editMyInfo">{{vm.currentUser.profile.address.oneLiner}}</span><span ng-show="vm.editMyInfo">
                                    <input type="text" googleplace class="form-control" name="userAddress" id="userAddress" ng-model="vm.updatedInfo.address.oneLiner" placeholder="Address" autocomplete="off">
                                </span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.editMyInfo">
                        <div class="col-md-12">
                            <button class="btn btn-default pull-right" ng-click="vm.updatedInfo = {}; vm.editMyInfo = false" style="margin-left:10px">Cancel</button>
                            <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveUpdatedInfo('myInfo')">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="page-panel">
                <span class="panel-title">Features</span>
                <div class="container-fluid form-dark">
                    <div class="row">
                        <div class="col-md-12 form-content">
                            <div class="pmd-switch">
                                <label style="margin-right:20px;margin-top:10px;">
                                    <input type="checkbox" ng-model="vm.enablePackView" ng-change="vm.showPackViewDetails = (vm.enablePackView) ? true : false">
                                    <span class="pmd-switch-label"></span>
                                </label>
                                <div class="switch-label">Enable Pack View <i class="fa fa-question info-question" ng-click="vm.showMessage('Enable Pack View')"></i></div>
                            </div>
                            <div ng-if="vm.showPackViewDetails">
                                Here's some info about how to use Pack View
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="page-panel">
                <span class="panel-title">My Notifications</span>
                <div class="container-fluid form-dark">
                    <div class="row" ng-if="vm.currentUser.profile.role !== 'Back Office'">
                        <div class="col-md-12 form-content">
                            <div class="pmd-switch">
                                <label style="margin-right:20px;margin-top:10px;">
                                    <input type="checkbox" ng-model="vm.currentUser.profile.notificationEmails.allEnabled" ng-change="vm.toggleUserNotificationEmails()">
                                    <span class="pmd-switch-label"></span>
                                </label>
                                <div class="switch-label">Enable All Personal Notification Emails <i class="fa fa-question info-question" ng-click="vm.showMessage('Enable User Notification Emails')"></i></div>
                            </div>
                            <div>
                                <div class="container-fluid form-dark">
                                    <div class="row">
                                        <div class="col-md-12 form-content">
                                            <p><span ng-if="vm.currentUser.profile.notificationEmails.allEnabled">All</span><span ng-if="!vm.currentUser.profile.notificationEmails.allEnabled">Only Urgent</span> Personal Notification Emails will be sent to
                                                the following address(es):
                                            </p>
                                            <p>
                                                <div class="input-group">
                                                    <input type="text" ng-model="vm.currentUser.profile.notificationEmails.emailAddress" class="form-control inline-form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary pmd-btn-outline" ng-click="vm.saveUserNotificationEmailAddress()">Save</button>
                                                    </span>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!vm.checkingOrg && vm.myOrg && vm.currentUser.org.$id !== 'pending' && vm.currentUser.profile.role !== 'Back Office'">
                        <div class="col-md-12 form-content">
                            <br>
                            <div class="pmd-switch">
                                <label style="margin-right:20px;margin-top:10px;">
                                    <input type="checkbox" ng-model="vm.myOrg.notificationEmails.allEnabled" ng-change="vm.toggleOrgNotificationEmails()">
                                    <span class="pmd-switch-label"></span>
                                </label>
                                <div class="switch-label">Enable All Org-Level Notification Emails <i class="fa fa-question info-question" ng-click="vm.showMessage('Enable Org Notification Emails')"></i></div>
                            </div>
                            <div>
                                <div class="container-fluid form-dark">
                                    <div class="row">
                                        <div class="col-md-12 form-content">
                                            <p><span ng-if="vm.myOrg.notificationEmails.allEnabled">All</span><span ng-if="!vm.myOrg.notificationEmails.allEnabled">Only Urgent</span> Org Notification Emails will be sent to the following address(es):
                                            </p>
                                            <p>
                                                <div class="input-group">
                                                    <input type="text" ng-model="vm.myOrg.notificationEmails.emailAddress" class="form-control inline-form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary pmd-btn-outline" ng-click="vm.saveOrgNotificationEmailAddress()">Save</button>
                                                    </span>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.currentUser.profile.role === 'Back Office'">
                        <div class="col-md-12 form-content">
                            <div class="pmd-switch">
                                <label style="margin-right:20px;margin-top:10px;">
                                    <input type="checkbox" ng-model="vm.myOrg.backOfficeNotificationEmails.allEnabled" ng-change="vm.toggleBackOfficeNotificationEmails()">
                                    <span class="pmd-switch-label"></span>
                                </label>
                                <div class="switch-label">Enable All Back Office Notification Emails <i class="fa fa-question info-question" ng-click="vm.showMessage('Enable Back Office Notification Emails')"></i></div>
                            </div>
                            <div>
                                <div class="container-fluid form-dark">
                                    <div class="row">
                                        <div class="col-md-12 form-content">
                                            <p><span ng-if="vm.myOrg.backOfficeNotificationEmails.allEnabled">All</span><span ng-if="!vm.myOrg.backOfficeNotificationEmails.allEnabled">Only Urgent</span> Back Office Notification Emails will be sent to the
                                                following address(es):
                                            </p>
                                            <p>
                                                <div class="input-group">
                                                    <input type="text" ng-model="vm.myOrg.backOfficeNotificationEmails.emailAddress" class="form-control inline-form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary pmd-btn-outline" ng-click="vm.saveBackOfficeNotificationEmailAddress()">Save</button>
                                                    </span>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.currentUser.profile.role !== 'Back Office'">
                        <div class="col-md-12 form-content">
                            <br>
                            <div class="pmd-switch">
                                <label style="margin-right:20px;margin-top:10px;">
                                    <input type="checkbox" ng-model="vm.currentUser.profile.digestEmail.subscribed" ng-change="vm.toggleDigestEmails()">
                                    <span class="pmd-switch-label"></span>
                                </label>
                                <div class="switch-label">Enable Digest Emails</div>
                            </div>
                            <div ng-if="vm.currentUser.profile.digestEmail && vm.currentUser.profile.digestEmail.subscribed">
                                <div class="container-fluid form-dark">
                                    <div class="row">
                                        <div class="col-md-12 form-content">
                                            <p>You will receive a weekly email with the current status and any recent updates for all active Policies. Digest Emails will be sent to the following address(es):</p>
                                            <p>
                                                <div class="input-group">
                                                    <input type="text" ng-model="vm.currentUser.profile.digestEmail.emailAddress" class="form-control inline-form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary pmd-btn-outline" ng-click="vm.saveDigestEmailAddress()">Save</button>
                                                    </span>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-content">
                                            <p>You will receive your Digest Email on the following day:</p>
                                            <p>
                                                <div class="form-group iCheck" style="margin-bottom:20px">
                                                    <div class="col-md-4" ng-repeat="item in vm.daySelect">
                                                        <label>
                                                            <input type="radio" name="dayOfWeek" ng-checked="item === vm.currentUser.profile.digestEmail.dayOfWeek[0]" checklist-model="vm.currentUser.profile.digestEmail.dayOfWeek" checklist-value="item" icheck> {{item}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="pull-right">Next run date: {{vm.currentUser.profile.digestEmail.nextRunDate | date}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-panel" ng-if="vm.platform === 'isubmit' && !vm.isBroker && vm.currentUser.profile.role.indexOf('Seller') < 0 && vm.myOrg.orgType !== 'master'">
                <span class="panel-title">Invited By</span>
                <div class="container-fluid form-dark">
                    <div class="row" ng-if="!vm.currentUser.profile.myUpline">
                        <div class="col-md-12 form-content">
                            <br>
                            <p>You were not invited by an Organization.</p>
                        </div>
                    </div>
                    <div class="row my-upline-row" ng-repeat="upline in vm.myUplineDisplay">
                        <div class="col-xs-12 form-content show-hover-btn">
                            <h2>{{upline.name}}{{(upline.isDefault) ? ' (default)' : ''}} <button ng-click="vm.removeUpline($index)" ng-if="vm.currentUser.profile.myUpline.length > 1" class="btn-delete-upline btn-danger pmd-btn-outline pull-right" title="Unlink Organization"><i class="fa fa-unlink"></i></button></h2>
                            <div class="entity">
                                <p><b>Contact:</b> {{upline.primaryContact}}</p>
                                <p><b>Phone:</b> {{upline.phone}}</p>
                                <p><b>Fax:</b> {{upline.fax}}</p>
                                <p><b>Email:</b> {{upline.email}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px" ng-if="!vm.addNewUpline && vm.currentUser.profile.role !== 'Back Office'">
                        <div class="col-md-12 form-content">
                            <button class="btn btn-primary pmd-btn-outline btn-lg" ng-click="vm.addNewUpline = true; vm.newOrg = ''; vm.addNewOrg = false;"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px" ng-show="vm.addNewUpline">
                        <div class="col-md-12 form-content important-note">
                            <p>If you'd like to be associated with another Organization, please request an Invitation Link from the owner.</p>
                            <p>Log in with that link to join the Organization.</p>
                            <p>Thank you!</p>
                            <button class="btn btn-warning pmd-btn-outline pull-right" ng-click="vm.addNewUpline = false">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" ng-if="vm.currentUser.profile.role !== 'Back Office' && vm.currentUser.profile.role.indexOf('Seller') < 0">
            <div class="page-panel">
                <span class="panel-title">My Organization</span>
                <div class="container-fluid form-dark" ng-show="vm.checkingOrg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt0">Checking for Organization...</h2>
                        </div>
                    </div>
                </div>
                <div class="container-fluid form-dark" ng-show="!vm.checkingOrg && !vm.myOrg && vm.platform === 'isubmit'">
                    <div class="row" ng-if="!vm.myOrg && !vm.addNewOrg">
                        <div class="col-md-12 form-content">
                            <p>You do not currently own an Organization on the LS Hub platform.</p>
                            <p>Click below to create your own Organization. This will allow you to invite your Suppliers to submit cases under you. You will have full visibility into all case activity for members of your Organization.</p>
                            <button class="btn btn-jumbo btn-primary pmd-btn-outline btn-center" ng-click="vm.startAddNewOrg()" style="margin-top:30px; margin-bottom:20px;">Create an Organization</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px" ng-show="vm.addNewOrg">
                        <div class="col-md-6 form-content">
                            <h2>New Organization</h2>
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newOrg.name" placeholder="Organization Name *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newOrg.primaryContact" placeholder="Primary Contact *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newOrg.email" placeholder="Email Address *">
                            </div>
                        </div>
                        <div class="col-md-6 form-content">
                            <h2>&nbsp;</h2>
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newOrg.phone" mask="(999) 999-9999" placeholder="Phone Number *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control float-me input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="vm.newOrg.fax" mask="(999) 999-9999" placeholder="Fax Number">
                            </div>
                            <div class="form-group" ng-show="vm.newOrg.orgType === 'supplier' && vm.myUplineOptions.length > 1">
                                <span class="dropdown-label">Select Inviting Org *</span>
                                <ui-select id="upline-select" class="hasLabel" ng-model="vm.newOrg.uplineOrgKey" theme="bootstrap" title="Upline Org">
                                    <ui-select-match placeholder="Select One">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="upline in vm.myUplineOptions | filter: $select.search">
                                        <span ng-bind-html="upline.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group" ng-show="vm.newOrg.orgType === 'sub' && vm.myUplineOptions.length === 1 && !vm.isBuyer">
                                <span class="dropdown-label">Inviting Org</span>
                                <input type="text" class="form-control input-underline-dark input-lg" disabled value="{{vm.myUplineOptions[0].name}}">
                            </div>
                            <div class="form-group" ng-show="vm.newOrg.orgType === 'sub' && vm.myUplineOptions.length === 0 && !vm.isBuyer">
                                <span class="dropdown-label">Inviting Org</span>
                                <input type="text" class="form-control input-underline-dark input-lg" disabled value="Atlas Life Settlements">
                            </div>
                        </div>
                    </div>
                    <div class="row new-org-info-row" ng-show="vm.addNewOrg">
                        <div class="col-md-12 form-content" ng-if="!vm.newOrg.orgType">
                            <h3 class="important-note">Pick and Org Type above to see pricing options...</h3>
                        </div>
                        <div class="col-md-12 form-content">
                            <h3 class="important-note iCheck">You are creating a new Organization under an Inviting Organization. This means that the selected Organization will have access to view case activity entered by members of your new Organization.
                                <br><br> All Policies submitted through iSubmit are processed by our partner Life Settlement Broker. By creating an Organization on this platform, there are certain mutual agreements established between yourself, LS Hub
                                and the Broker. You must click the link below to open the Broker Authorization Agreement (it will open in a new tab). After reading it, return to this page to agree and continue.<br><br>
                                <a ui-sref="isubmit-broker-agreement" target="_blank" ng-if="!vm.openedUplineTerms" ng-click="vm.openedUplineTerms = true">Click here to open the Broker Authorization Agreement <i class="fa fa-external-link"></i></a>
                                <label ng-if="vm.openedUplineTerms"><input type="checkbox" name="uplineTerms" icheck id="uplineTerms" ng-model="vm.agreeToUplineTerms"> I have read and agree to the <a ui-sref="isubmit-broker-agreement" target="_blank">Broker Authorization Agreement</a></label>
                            </h3>
                        </div>
                    </div>
                    <span ng-show="vm.addNewOrg"><br><br></span>
                    <div class="row" ng-show="vm.addNewOrg">
                        <div class="col-md-12">
                            <button class="btn btn-md btn-default pull-right" style="margin-left:10px" ng-click="vm.newOrg = ''; vm.addNewOrg = false;">Cancel</button>
                            <button class="btn btn-md btn-success pull-right" ng-disabled="!vm.newOrg.plan || !vm.agreeToUplineTerms" ng-click="vm.saveOrg()">Add</button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid form-dark" ng-show="!vm.checkingOrg && vm.myOrg && vm.currentUser.org.$id === 'pending'">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="important-note">You signed up to join an Organization on {{vm.currentUser.profile.myOrg.requestedAt | date}}.<br>An existing member of that Org has yet to approve you.</h2>
                            <a ui-sref="login({'ref': vm.currentUser.profile.myOrg.checkKey})"><button class="btn-success pmd-btn-outline btn-md"><i class="fa fa-refresh"></i> Refresh</button></a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid form-dark" ng-show="!vm.checkingOrg && vm.myOrg && vm.myOrg.$id !== 'pending'">
                    <div class="row my-upline-row" ng-if="vm.myOrg">
                        <div class="col-md-6 form-content show-hover-btn">
                            <h2 class="mt0">{{vm.myOrg.name}} <button ng-click="vm.copyInfo('myOrg'); vm.editMyOrg = true" ng-if="!vm.editMyOrg" class="btn-delete-upline btn-info
                                pmd-btn-outline pull-right" title="Edit My Org"><i class="fa fa-pencil"></i></button></h2>
                            <div class="entity">
                                <p><b>Contact:</b> <span ng-show="!vm.editMyOrg">{{vm.myOrg.primaryContact}}</span><span ng-show="vm.editMyOrg">
                                    <input type="text" class="form-control inline-form-control" name="Primary Contact" id="OrgPrimaryContact" ng-model="vm.updatedInfo.primaryContact">
                                </span>
                                </p>
                                <p><b>Phone:</b> <span ng-show="!vm.editMyOrg">{{vm.myOrg.phone}}</span><span ng-show="vm.editMyOrg">
                                    <input type="text" class="form-control inline-form-control" name="Phone" id="OrgPhone" ng-model="vm.updatedInfo.phone" mask="(999) 999-9999">
                                </span>
                                </p>
                                <p><b>Fax:</b> <span ng-show="!vm.editMyOrg">{{vm.myOrg.fax}}</span><span ng-show="vm.editMyOrg">
                                    <input type="text" class="form-control inline-form-control" name="Fax" id="OrgFax" ng-model="vm.updatedInfo.fax" mask="(999) 999-9999">
                                </span>
                                </p>
                                <p><b>Email:</b> <span ng-show="!vm.editMyOrg">{{vm.myOrg.email}}</span><span ng-show="vm.editMyOrg">
                                    <input type="text" class="form-control inline-form-control" name="Email" id="OrgEmail" ng-model="vm.updatedInfo.email">
                                </span>
                                </p>
                                <p ng-show="!vm.editMyOrg && vm.myOrg.orgType === 'supplier'"><b>Invited By:</b> {{vm.myOrgUplineName}}</p>
                                <p ng-if="vm.myOrg.orgType === 'supplier' && vm.myOrg.termsAgreedAt"><b><a ui-sref="isubmit-broker-agreement" target="_blank" style="text-decoration: underline">Broker Authorization Agreement <i class="fa fa-external-link"></i></a></b></p>
                                <p>
                                    <div style="margin-left:15px" ng-if="vm.myOrg.orgType === 'supplier' && vm.myOrg.termsAgreedAt">
                                        <label style="font-weight: normal">
                                            <input type="checkbox" name="agreed" ng-disabled="true" ng-model="true" icheck> Agreed on {{vm.myOrg.termsAgreedAt | date:'M/dd/yy'}}
                                        </label>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 form-content show-hover-btn" ng-if="vm.platform === 'imanager'">
                            <h2 class="mt0">Subscription</h2>
                            <div class="entity" ng-if="vm.platform === 'isubmit'">
                                <p><b>Plan:</b> {{vm.myOrg.subscription.planName ? vm.myOrg.subscription.planName : 'FREE'}}</p>
                                <p><b>Status:</b> <span class="btn btn-xs btn-success">{{vm.myOrg.subscription.status ? vm.myOrg.subscription.status : 'Active'}}</span></p>
                                <p><a href="javascript:void(0)">{{vm.myOrg.subscription.planName ? 'Manage Subscription' : ''}}</a></p>
                            </div>
                            <div class="entity" ng-if="vm.platform === 'imanager'">
                                <p><b>Plan:</b> {{vm.myOrg.orgType ? vm.myOrg.orgType : 'Buyer'}}</p>
                                <p><b>Status:</b> <span class="btn btn-xs btn-warning">In Trial</span></p>
                                <p><a href="javascript:void(0)">{{vm.myOrg.subscription.planName ? 'Manage Subscription' : ''}}</a></p>
                            </div>
                        </div>
                        <div class="col-md-12 form-content">
                            <h3 class="important-note" ng-if="vm.myOrg.orgType === 'supplier' && !vm.myOrg.termsAgreedAt && !vm.myOrg.viewedTermsAt"><b>Important!</b> Your organization has not yet accepted the terms of our <a ui-sref="isubmit-broker-agreement" target="_blank" style="text-decoration: underline" ng-click="vm.markViewedAgreement()">Broker Authorization Agreement <i class="fa fa-external-link"></i> </a>.
                                Please click the link above to review, then come back here to accept. Thank you.</h3>
                            <h3 class="important-note" ng-if="vm.myOrg.orgType === 'supplier' && !vm.myOrg.termsAgreedAt && vm.myOrg.viewedTermsAt">
                                <label><input type="checkbox" name="uplineTermsExisting" icheck id="uplineTerms" ng-model="vm.agreeToUplineTermsExisting"> I have read and agree to the <a ui-sref="isubmit-broker-agreement" target="_blank">Broker Authorization Agreement</a></label>
                            </h3>
                            <div class="row" ng-if="vm.editMyOrg">
                                <div class="col-md-12">
                                    <button class="btn btn-default pull-right" ng-click="vm.updatedOrg = {}; vm.editMyOrg = false" style="margin-left:10px">Cancel</button>
                                    <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.saveUpdatedInfo('myOrg')">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid form-dark" ng-show="vm.myOrg && vm.myOrg.status === 'active' && vm.myOrg.orgType !== 'master'">
                    <hr>
                    <div class="row">
                        <div class="col-md-8 form-content">
                            <h2 style="margin-top: 10px;">Invite Members <i class="fa fa-question info-question" ng-click="vm.showMessage('Invite Members')"></i></h2>
                            <p>Your Invitation Link:</p>
                            <p ng-if="vm.platform === 'imanager'">Send the following link to members of your company who you would like to have access to the iManager platform. After registering with this link, they will currently become Admin Members within your Org. You will be able to
                                set custom user permissions in the near future!</p>
                            <p ng-if="vm.platform === 'isubmit'">Send the following link to members of your company who you would like to have access to the iSubmit platform. After registering with this link, they will become Members within your Org, and you will be able to see any Policies
                                they submit. You will have the option to make any Members Admins, at which point they will also have access to view Inventory for your Organization.</p>
                            <p>
                                <div class="input-group">
                                    <input type="text" id="invitationLink" readonly value="{{vm.invitationLinkRoot}}/register?ref={{vm.currentUser.profile.myOrg.orgKey}}" class="form-control" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary pmd-btn-outline" ngclipboard data-clipboard-target="#invitationLink" ng-click="vm.toast('success','Link copied to clipboard')"><i class="fa fa-clipboard"></i></button>
                                    </span>
                                </div>
                            </p>
                            <p ng-if="vm.myOrgPublicData && vm.myOrgPublicData.seats < 99 && vm.platform === 'imanager'">You have <b>{{vm.myOrgPublicData.seatsRemaining}}</b> seats available out of <b>{{vm.myOrgPublicData.seats}}</b></p>
                        </div>
                    </div>
                    <hr ng-if="vm.platform === 'imanager'">
                    <div class="row" ng-if="vm.platform === 'imanager'">
                        <div class="col-md-12 form-content">
                            <h2 style="margin-top: 10px;">Pending Members</h2>
                        </div>
                    </div>
                    <div class="row my-upline-row" ng-if="vm.platform === 'imanager'">
                        <div class="col-md-12" ng-show="!vm.currentUser.org.pendingReferrals">
                            <i class="fa fa-warning"></i> Your Organization has no Pending Members
                        </div>
                        <div class="col-md-12 form-content pmd-table-card" ng-show="vm.currentUser.org.pendingReferrals">
                            <table class="table form-card table-hover pmd-table">
                                <thead>
                                    <tr>
                                        <th ng-click="vm.sortCol = 'ref.name'; vm.sortReverse = !vm.sortReverse">
                                            Name
                                            <span ng-show="vm.sortCol == 'ref.name' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.name' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'ref.email'; vm.sortReverse = !vm.sortReverse">
                                            Email
                                            <span ng-show="vm.sortCol == 'ref.email' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.email' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th ng-click="vm.sortCol = 'ref.createdAt'; vm.sortReverse = !vm.sortReverse">
                                            Requested
                                            <span ng-show="vm.sortCol == 'ref.createdAt' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                            <span ng-show="vm.sortCol == 'ref.createdAt' && vm.sortReverse" class="fa fa-angle-down"></span>
                                        </th>
                                        <th style="text-align: right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="buyer-row" ng-repeat="ref in vm.currentUser.org.pendingReferrals">
                                        <td data-title="Name:">{{ref.name ? ref.name : '&nbsp;'}}</td>
                                        <td data-title="Email:">{{ref.email ? ref.email : '&nbsp;'}}</td>
                                        <td data-title="Requested:">{{ref.createdAt | date}}</td>
                                        <td style="text-align: right">
                                            <button class="btn btn-xs pmd-btn-outline btn-success" ng-click="vm.confirmReferral(ref)">Confirm</button>
                                            <button class="btn btn-xs pmd-btn-outline btn-danger" style="margin-left:15px" ng-click="vm.denyReferral(ref)">Deny</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 form-content">
                            <h2 style="margin-top: 10px;">Active Members <span class="up-seat-level"><a href="" ng-if="vm.seatOrgLevels.length > 1" ng-click="vm.drillToOrg(vm.seatOrgLevels[vm.seatOrgLevels.length - 2], 'up')"><i class="fa fa-angle-left"></i> Back</a></span></h2>
                            <h3 ng-if="vm.company">Organization: <b>{{vm.company}}</b></h3>
                        </div>
                    </div>
                    <div class="row my-upline-row">
                        <div class="col-md-12" ng-show="!vm.myOrgSeats">
                            <i class="fa fa-warning"></i> Your Organization has no Active Members
                        </div>
                        <table class="table form-card table-hover pmd-table" style="margin-top:20px">
                            <thead>
                                <tr>
                                    <th ng-click="vm.setSort('displayName')">
                                        Name
                                        <span ng-show="vm.sortCol == 'displayName' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'displayName' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.setSort('company')">
                                        Org
                                        <span ng-show="vm.sortCol == 'company' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'company' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th ng-click="vm.setSort('joinedOn')">
                                        Join Date
                                        <span ng-show="vm.sortCol == 'joinedOn' && !vm.sortReverse" class="fa fa-angle-up"></span>
                                        <span ng-show="vm.sortCol == 'joinedOn' && vm.sortReverse" class="fa fa-angle-down"></span>
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="fetching-results" ng-if="vm.fetchingActiveMembers">
                                    <td colspan="4" style="text-align: center; font-size: 28px; padding: 40px 20px; color: #aaa;"><i class="fa fa-refresh fa-spin"></i> Loading Active Members</td>
                                </tr>
                                <tr class="results" ng-repeat-start="seat in vm.orgSeatsArr | orderBy:vm.sortCol:vm.sortReverse">
                                    <td data-title="Name">{{(seat.displayName === undefined) ? '&nbsp;' : (seat.displayName + ((seat.userRef === vm.currentUser.auth.uid) ? ' (Me)' : ''))}}</td>
                                    <td data-title="Org"><a href="" ng-click="vm.drillToOrg(seat, 'down')" ng-if="seat.hasOrg" class="seat-org-link"><i class="fa fa-building" style="margin-left:15px" title="User has an Organization"></i> {{seat.company}} <i style="margin-left:15px" class="fa fa-filter"></i></a></td>
                                    <td data-title="Join Date">{{seat.joinedOn | date}}</td>
                                    <td data-title="Action">
                                        <i style="margin-right:10px; display:inline-block; font-size:18px; cursor: pointer;" class="text-success fa" title="Show Member Info" ng-class="{ 'fa-info-circle': !showUserInfo, 'fa-close': showUserInfo }" ng-click="showUserInfo = !showUserInfo"></i>
                                        <i style="margin-right:10px; display:inline-block; font-size:18px; cursor: pointer;" ng-if="!showUserInfo" class="text-danger fa fa-trash-o" ng-click="vm.removeSeatUser(seat, $index)" title="Remove Member"></i>
                                        <i style="display:inline-block; font-size:18px; cursor: pointer;" class="text-primary fa" ng-if="!showUserInfo" title="{{seat.isAdmin ? 'Member is an Admin' : seat.isOwner ? 'Member is the Owner of this Org' : ''}}" ng-if="seat.isAdmin || seat.isOwner" ng-class="{ 'fa-star': seat.isAdmin, 'fa-shield': seat.isOwner }"></i>
                                    </td>
                                </tr>
                                <tr class="no-hover-highlight" ng-repeat-end ng-if="showUserInfo">
                                    <td colspan="4">
                                        <div class="entity">
                                            <p><b>Email:</b> <a href="mailto:{{seat.email}}">{{seat.email}}</a></p>
                                            <p><b>Phone:</b> {{seat.phone}}</p>
                                            <p><b>Fax:</b> {{(seat.fax) ? seat.fax : 'Not Provided'}}</p>
                                            <p><b>Address:</b></p>
                                            <p>&nbsp;&nbsp;{{(seat.address) ? seat.address : 'Not Provided'}}</p>
                                            <p>&nbsp;&nbsp;{{seat.cityStateZip}}</p>
                                            <p><b>Permissions:</b></p>
                                            <div style="margin-left:15px;">
                                                <p ng-if="seat.isOwner" style="font-size:0.8em">
                                                    <span class="text-primary"><i class="fa fa-shield"></i> This Member is the Owner of this Org</span>
                                                </p>
                                                <p ng-if="seat.isAdmin" style="font-size:0.8em">
                                                    <a href="" ng-click="vm.toggleAdmin(seat, $index)" class="hover-toggle">
                                                        <span class="thing-to-hide text-primary"><i class="fa fa-star"></i> This Member is an Admin</span>
                                                        <span ng-if="vm.seatOrgLevels.length === 1" class="thing-to-show text-danger"><i class="fa fa-close"></i> Remove Admin Rights</span>
                                                    </a>
                                                </p>
                                                <p ng-if="!seat.isAdmin && !seat.isOwner && vm.seatOrgLevels.length === 1" style="font-size:0.8em">
                                                    <a href="" class="text-primary" ng-click="vm.toggleAdmin(seat, $index)"><i class="fa fa-star-o"></i> Make this Member an Admin</a>
                                                </p>
                                                <p ng-if="!seat.isOwner && vm.seatOrgLevels.length === 1" style="font-size:0.8em"><a class="text-danger" href="" ng-click="vm.removeSeatUser(seat, $index)"><i class="fa fa-trash-o"></i> Remove this Member</a></p>
                                            </div>
                                            <hr class="show-on-mobile">
                                            <p style="margin-top:20px"><b>Notes:</b><button class="btn btn-success btn-xs pull-right" ng-click="seat.newNote = seat.notes; addNote = true" ng-show="!addNote && vm.seatOrgLevels.length === 1"><i class="fa fa-pencil"></i> Edit Note</button></p>
                                            <div class="form-group" ng-show="addNote">
                                                <textarea type="text" class="form-control input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="seat.newNote" placeholder="Edit this note..."></textarea>
                                                <br>
                                                <button class="btn btn-default pull-right" ng-click="addNote = false;" style="margin-left:10px">Cancel</button>
                                                <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.updateSeatNote(seat); seat.newNote = ''; addNote = false;">Save</button>
                                            </div>
                                            <div style="margin-bottom: 15px" ng-show="!addNote">
                                                <div class="entity">{{seat.notes}}</div>
                                            </div>
                                            <div style="margin-left:15px;" ng-show="!addNote && !seat.notes">
                                                You have no notes for this member yet...
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="show-hover-btn" ng-class="{ 'col-md-6 col-lg-4': !showUserInfo, 'col-md-12': showUserInfo }" ng-repeat="seat in vm.myOrgSeats">
                            <div class="active-member-block">
                                <h3 class="seat-name" ng-class="{ 'mb0': seat.hasOrg }">{{seat.displayName}}{{(seat.userRef === vm.currentUser.auth.uid) ? ' (Me)' : ''}} <a href="javascript:void(0)" class="pull-right"><i class="fa fa-sticky-note" title="Notes" ng-if="seat.notes" ng-click="showUserInfo = !showUserInfo"></i> <i class="fa" ng-class="{ 'fa-angle-down': !showUserInfo, 'fa-angle-up': showUserInfo }" ng-click="showUserInfo = !showUserInfo"></i></a></h3>
                                <a href="javascript:void(0)" ng-click="vm.drillToOrg(seat.orgKey, 'down')" ng-if="seat.hasOrg" class="seat-org-link"><i class="fa fa-building" style="margin-left:15px" title="User has an Organization"></i> {{seat.company}}</a>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div ng-class="{ 'col-md-6': showUserInfo, 'col-md-12': !showUserInfo }">
                                            <div class="entity">
                                                <p><b>Join Date:</b> {{seat.joinedOn | date}}</p>
                                                <span ng-if="showUserInfo">
                                                    <p><b>Email:</b> <a href="mailto:{{seat.email}}">{{seat.email}}</a></p>
                                                    <p><b>Phone:</b> {{seat.phone}}</p>
                                                    <p><b>Fax:</b> {{(seat.fax) ? seat.fax : 'Not Provided'}}</p>
                                                    <p><b>Address:</b></p>
                                                    <p>&nbsp;&nbsp;{{(seat.address) ? seat.address : 'Not Provided'}}</p>
                                                    <p>&nbsp;&nbsp;{{seat.cityStateZip}}</p>
                                                </span>
                                                <p ng-if="seat.isOwner" style="font-size:0.8em">
                                                    <span class="text-success"><i class="fa fa-star"></i> This Member is the Owner of this Org</span>
                                                </p>
                                                <p ng-if="seat.isAdmin" style="font-size:0.8em">
                                                    <a href="javascript:void(0)" ng-click="vm.toggleAdmin(seat, $index)" class="hover-toggle">
                                                        <span class="thing-to-hide text-success"><i class="fa fa-star"></i> This Member is an Admin</span>
                                                        <span ng-if="vm.seatOrgLevels.length === 1" class="thing-to-show text-danger"><i class="fa fa-close"></i> Remove Admin Rights</span>
                                                    </a>
                                                </p>
                                                <p ng-if="!seat.isAdmin && !seat.isOwner && vm.seatOrgLevels.length === 1" style="font-size:0.8em">
                                                    <a href="javascript:void(0)" ng-click="vm.toggleAdmin(seat, $index)"><i class="fa fa-star-o"></i> Make this Member an Admin</a>
                                                </p>
                                                <p ng-if="!seat.isOwner && vm.seatOrgLevels.length === 1" style="font-size:0.8em"><a class="text-danger" href="javascript:void(0)" ng-click="vm.removeSeatUser(seat, $index)"><i class="fa fa-unlink"></i> Remove this Member</a></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-show="showUserInfo">
                                            <hr class="show-on-mobile">
                                            <p><b>Notes:</b><button class="btn btn-success btn-xs pull-right" ng-click="seat.newNote = seat.notes; addNote = true" ng-show="!addNote && vm.seatOrgLevels.length === 1"><i class="fa fa-pencil"></i> Edit Note</button></p>
                                            <div class="form-group" ng-show="addNote">
                                                <textarea type="text" class="form-control input-underline-dark input-lg" ng-change="vm.pageIsDirty = true" ng-model="seat.newNote" placeholder="Edit this note..."></textarea>
                                                <br>
                                                <button class="btn btn-default pull-right" ng-click="addNote = false;" style="margin-left:10px">Cancel</button>
                                                <button class="btn btn-success pmd-btn-outline pull-right" ng-click="vm.updateSeatNote(seat); seat.newNote = ''; addNote = false;">Save</button>
                                            </div>
                                            <div style="margin-bottom: 15px" ng-show="!addNote">
                                                <div class="entity">{{seat.notes}}</div>
                                            </div>
                                            <div ng-show="!addNote && !seat.notes">
                                                You have no notes for this member yet...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="page-panel admin-panel" ng-show="vm.myOrg && vm.myOrg.status === 'pending'">
                <span class="panel-title">Pending...</span>
                <div class="container-fluid form-dark">
                    <div class="row">
                        <div class="col-md-10 form-content important-note">
                            We have not yet received your signed Broker Authorization Agreement. Please check your email. If it has been more than 48 hours since you created your Organization and you have not received this document for signature, please contact us at
                            <a href="mailto:support@lshub.net">support@lshub.net</a>. Thank you.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>