<div class="login-page">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="/"><img src="images/logo.png" class="user-avatar" style="margin-bottom:20px;" /></a><br>
            <button style="display:block; margin-left:20px" class="btn btn-danger pmd-btn-outline pull-right" ng-click="vm.closeTab()"><i class="fa fa-close"></i> Close</button>
            <button style="display:block" class="btn btn-default pull-right" ng-click="vm.printAgreement()" ng-if="vm.currentUser.org && vm.currentUser.org.termsAgreedAt"><i class="fa fa-print"></i> Print</button>
            <div class="thank-you" id="brokerAgreement" style="text-align: left; font-size:16px">
                <h1 style="text-align: center; font-weight: bold">iSUBMIT SERVICES AND LIFE SETTLEMENT<br>BROKER AUTHORIZATION AGREEMENT</h1>
                <br>
                <hr>
                <p>This iSubmit Services and Life Settlement Broker Authorization Agreement (this “Agreement”) is made and entered into as of <span style="font-weight: bold" ng-if="vm.currentUser.org && vm.currentUser.org.termsAgreedAt">{{vm.currentUser.org.termsAgreedAt | date:'M/dd/yyyy'}}</span>
                    <span ng-if="!vm.currentUser.org || !vm.currentUser.org.termsAgreedAt">today's date</span> (the “Effective Date”), by and among Life Settlement Hub LLC, a Florida limited liability company, with its principal address located at 1580
                    Dorset Drive, Mount Dora, FL 32757 ("LSH"), Rapid Life Settlements LLC, a Florida limited liability company with its principal address located at 4699 N Federal Highway, Ste 209F, Pompano Beach, FL 33064 (“RLS”), and you, the iSubmit user creating an
                    Organization (“CLIENTCOMPANY"). LSH, RLS and CLIENTCOMPANY are referred to herein collectively as the “Parties” and individually as a “Party”.</p>

                <p><b>WHEREAS</b>, LSH is a technology and marketing services company but not a life settlement provider or broker;</p>

                <p><b>WHEREAS</b>, LSH has developed and operates its iSubmit computer software program (“iSubmit”) which allows life insurance agents and financial and other advisors (each, an “Advisor”) to a life insurance policyholder (a “Policyholder")
                    and an insured under such life insurance policy (an “Insured”) to (a) submit information using iSubmit about a life insurance policy and its Policyholder and Insured for their potential engagement in a life settlement transaction to
                    the licensed life settlement broker designated by CLIENTCOMPANY pursuant to this Agreement and (b) refer the Advisor to such licensed life settlement broker for providing life settlement brokerage services for such potential life settlement
                    transaction (collectively, the “iSubmit Services”); and </p>

                <p><b>WHEREAS</b>, RLS is a licensed life settlement broker in certain states and an affiliate of LSH; </p>

                <p><b>WHEREAS</b>, CLIENTCOMPANY desires to use, and permit Advisors that are employed by or independent contractors of CLIENTCOMPANY (the “Agents”) to use, iSubmit and receive the iSubmit Services, subject to the terms and conditions of
                    this Agreement; and
                </p>

                <p><b>WHEREAS</b>, CLIENTCOMPANY desires, for itself and on behalf of the Agents, to designate RLS as the exclusive licensed life settlement broker for the iSubmit Services.</p>

                <p><b>NOW, THEREFORE</b>, in consideration of the foregoing premises and the mutual covenants herein contained, and for other good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged by the Parties, the
                    Parties hereby agree as follows:</p>

                <ol class="numbered">
                    <li><b>LSH’s Obligations.</b> LSH shall:</li>
                    <ol class="lettered">
                        <li>provide access to iSubmit to CLIENTCOMPANY and the Agents designated by CLIENTCOMPANY; and</li>

                        <li>provide the infrastructure, technology, personnel, processes and monitoring tools necessary to deliver and maintain iSubmit for use by CLIENTCOMPANY and the Agents designated by CLIENTCOMPANY.</li>
                    </ol>

                    <li><b>CLIENTCOMPANY’s Obligations.</b> CLIENTCOMPANY shall:</li>

                    <ol class="lettered">
                        <li>verify each Policyholder and Insured has had the opportunity to discuss any questions about any life settlement transaction with their other appropriate professionals, such as their lawyer, accountant and tax and estate planning
                            advisors prior to such Policyholder and Insured engaging in a life settlement transaction using RLS; and</li>

                        <li>recommend that each Agent use iSubmit and receive the iSubmit Services.</li>
                    </ol>

                    <li><b>RLS’s Obligations.</b> RLS shall provide the following life settlement brokerage services to Policyholders and Insureds referred to RLS by CLIENTCOMPANY and the Agents designated by CLIENTCOMPANY:</li>

                    <ol class="lettered">
                        <li>authorize or permit any of the Agents to (i) directly provide life settlement brokerage services to any Policyholders or Insureds or (ii) participate, directly or indirectly, in any life settlement transaction involving a Policyholder
                            that uses the life settlement brokerage services of any person or entity other than RLS;</li>

                        <li>receive from and assist Policyholders and Insureds in completing RLS’s life settlement application form; </li>

                        <li>procure medical underwriting and insurance verifications for insureds;</li>

                        <li>obtaining and provide independent third party life expectancy reports to licensed life settlement providers that desire to evaluate a Policy for potential purchase in a life settlement transaction;</li>

                        <li>submit qualified Policies for potential life settlement transactions to multiple licensed life settlement providers;</li>

                        <li>seek to maximize the fair market value of Policies for life settlement transactions;</li>

                        <li>render life settlement transactions closing services for each Policy that the applicable Policyholder has agreed to sell, including contract review and assistance with contingency requirements of life settlement providers; </li>

                        <li>maintain in full force effect all life settlement broker licenses necessary for RLS to render life settlement brokerage services to the Policyholders and Insureds; and</li>

                        <li>ensure all term life Policies conversions for life settlement transactions that are submitted by the CLIENTCOMPANY’s Agents shall have conversion applications submitted through CLIENTCOMPANY to the applicable life insurance company.</li>
                    </ol>

                    <li><b>LSH’s and RLS’s Compensation.</b> CLIENTCOMPANY acknowledges and agrees that:</li>

                    <ol class="lettered">
                        <li>LSH will receive a referral fee from RLS for every Policyholder that LSH refers to RLS and may receive additional revenue by providing back-office and other services to RLS; </li>

                        <li>RLS will be compensated from Policyholders that sell their Policies in life settlement transactions based on a formula that is a fixed percentage of the face amount of the death benefits of a Policy, payable form the gross sales
                            price of such Policy; </li>

                        <li>LSH and RLS do not guarantee that any Policy will be sold in a life settlement transaction or that any purchase offers for a Policy procured by RLS will be satisfactory to any Policyholder;</li>

                        <li>LSH and RLS are not responsible for and shall have no liability to CLIENTCOMPANY or any Agent for any breach any life settlement provider of its life settlement agreement with any Policyholder.</li>
                    </ol>

                    <li><b>Term and Termination.</b></li>
                    <ol class="lettered">

                        <li>The term of this Agreement shall commence on the date of execution of the Agreement and continue for a period of one (1) year thereafter (the “Initial Term”). Following expiration of the Initial Term, this Agreement will automatically
                            renew for additional renewal terms of one (1) year each (each, a “Renewal Term”) unless any Party provides the other Parties at least 60 days’ prior written notice of termination prior to the end of the Initial Term or the
                            then Renewal Term, as applicable. </li>

                        <li>This Agreement may be terminated any Party as follows:</li>
                        <ol>
                            <li>by the mutual written agreement of the Parties;</li>
                            <li>upon the filing by or against any other Party of a proceeding under bankruptcy law or other insolvency law;</li>
                            <li>upon any material breach by another Party of this Agreement, which breach is not cured to the reasonable satisfaction of the non-breaching Parties within ten (10) days after the delivery of written notice of such breach to
                                the breaching Party by a non-breaching Party; </li>
                            <li>the loss of any license, permit or other governmental authority by a Party that is necessary for it to perform its obligations under this Agreement; or</li>
                            <li>a court or governmental authority having jurisdiction over any Party determines that this Agreement or any portion hereof is illegal. </li>
                        </ol>
                    </ol>
                    <li><b>Indemnity.</b> CLIENTCOMPANY shall indemnify and hold harmless LSH, RLS and their respective officers, directors, managers, partners, members, employees and agents, and any assignees, designees or successors of same (the “Indemnified
                        Parties”) from and against any and all damages, costs, losses, liabilities and expenses (including, without limitation, reasonable expenses of investigation and reasonable attorneys’ fees and expenses in connection with any actual
                        or threatened action, suit or other proceeding), incurred or suffered by any of the Indemnified Parties arising out of, resulting from, or related to: (i) any misrepresentation or breach of any representation or warranty made by
                        CLIENTCOMPANY pursuant to this Agreement or any document executed by CLIENTCOMPANY in connection with the transactions contemplated by this Agreement; (ii) any breach of a covenant, duty, obligation or agreement made or to be performed
                        by CLIENTCOMPANY pursuant to this Agreement; and (iii) any breach or violation of any applicable law, willful misconduct or negligence by CLIENTCOMPANY or any Agent in connection with this Agreement or any Policy. The obligations
                        of CLIENTCOMPANY under this Section 6 shall survive any termination of this Agreement.</li>

                    <li><b>Confidentiality.</b> The parties acknowledge that insurance laws and regulations, federal and state privacy laws, and other applicable laws and regulations are structured to provide confidentiality to consumers and others, and that
                        each party hereto agrees keep all non-public personal information about Policyholders and Insureds received from the other Parties confidentially in accordance with such laws and regulations.</li>

                    <li><b>Assignment and Benefit.</b> CLIENTCOMPANY may not assign this Agreement or delegate any of its duties or obligations imposed hereunder, in whole or in part, to any person or entity without CLIENTCOMPANY’s receipt of the prior written
                        consent of LSH, which consent may be withheld by LSH in its sole discretion. This Agreement shall inure to the benefit of, and be enforceable by, the successors and assigns of LSH. No person or entity, except the Parties, shall
                        have any rights or remedies under or in connection with this Agreement.</li>

                    <li><b>No Waivers and Cumulative Remedies.</b> No failure to or delay in exercising any right, remedy, power or privilege shall operate as a waiver thereof, nor shall any single or partial exercise of any right, remedy, power or privilege
                        preclude any other or further exercise thereof or the exercise of any other right, remedy, power or privilege. The rights, remedies, powers and privileges provided herein are cumulative and are not exclusive of any other rights,
                        remedies, powers and privileges, whether provided herein, in any amendment or other agreement, at law or in equity.</li>

                    <li><b>Governing Law; Consent to Jurisdiction and Construction.</b> This Agreement is made pursuant to, and shall be construed and enforced solely in accordance with, the internal laws of the State of Florida, without giving effect to
                        any of its conflicts of laws principles or rules. The Parties agree that all actions or proceedings arising under, in connection with or based upon this Agreement shall be brought by a Party against the other Party and shall be
                        tried and litigated exclusively in the Circuit Court, in Lake County, Florida or the federal United States District Court for the Middle District of Florida, Orlando Office (if permitted by applicable law and a Party elects to
                        file an action in federal court). The language used herein shall be deemed the language chosen by the Parties hereto to express their mutual intent, and no presumption or rule of strict construction will be applied for or against
                        either Party, each Party having been deemed to have participated equally in the drafting of this Agreement.</li>

                    <li><b>WAIVER OF JURY TRIAL.</b> EACH OF THE PARTIES HEREBY IRREVOCABLY WAIVES ANY AND ALL RIGHTS TO TRIAL BY JURY IN ANY LEGAL PROCEEDING ARISING OUT OF OR RELATED TO THIS AGREEMENT OR ANY OF THE TRANSACTIONS CONTEMPLATED HEREBY.</li>

                    <li><b>Severability.</b> Whenever possible, each provision of this Agreement shall be interpreted in such a manner as to be effective and valid under applicable law. If any provision of this Agreement shall be prohibited or invalid under
                        applicable law, such provision shall be ineffective only to the extent of such prohibition or invalidity without invalidating the remainder of such provision or the remaining provisions of this Agreement, and such provision shall
                        be severable in a manner consistent with the Parties’ intentions as expressed herein.</li>

                    <li><b>Counterparts.</b> This Agreement may be signed in any number of one or more counterparts and on separate counterparts, including by telecopy or email, each of which when executed and delivered shall be deemed an original, and all
                        of which together shall constitute one instrument.</li>

                    <li><b>Entire Agreement and Modification.</b> This Agreement constitutes the entire agreement between the Parties with respect to the matters contemplated herein and supersedes all prior or contemporaneous agreements and understandings
                        with respect thereto, except as otherwise expressly provided herein or therein. Any amendment, modification or waiver of this Agreement shall not be effective unless in writing signed by the Party against which such amendment,
                        modification or waiver is sought to be enforced.</li>

                    <li><b>No Publicity.</b> Neither Party shall announce or disclose the existence of this Agreement or the existence of discussions of the business relationship being considered by the Parties, to any third party without the prior written
                        consent of the other Party or except as may be required by applicable law, in which case the Party required to make the disclosure will (to the extent practicable and permitted by applicable law) give the other Party prompt prior
                        notice of the disclosure.</li>
                </ol>
            </div>
        </div>
    </div>
</div>