<div class="login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <a href="https://{{vm.subdomain}}.{{vm.domain}}.{{vm.tld}}">
                <img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" style="max-width:80% !important" />
            </a>
            <div class="thank-you">
                Sorry!
                <br>
                <hr>
                <p style="font-size:18px">We are temporarily down for maintenance.</p>
                <!-- <p style="font-size:12px">Estimated maintenance window: 3:00 - 4:00 pm EST</p> -->
            </div>
        </div>
    </div>
</div>