<div class="inventory-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

                <div class="text-center">
                    <a ui-sref="inventory"><img src="images/logo.png" class="user-avatar hide-on-mobile" style="max-width:100%" /></a>
                    <a ui-sref="inventory"><img src="images/logo-mobile.png" class="user-avatar show-on-mobile" /></a>
                </div>

                <div class="version hide-on-mobile">
                    {{vm.version}}
                    <br> iSubmit Platform{{vm.environment}}
                    <br> &copy; 2020 - All Rights Reserved
                </div>

            </div>
            <div ng-if="vm.showContent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="scrollContainer" ui-view>
            </div>
        </div>
    </div>
</div>