<div class="login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <a href="https://{{vm.subdomain}}.{{vm.domain}}.{{vm.tld}}"><img ng-src="images/{{vm.subdomain}}_{{vm.domain}}/logo.png" class="user-avatar" /></a>
            <div class="thank-you">
                Thank you!
                <br>
                <hr>
                <p style="font-size:18px">Your agent will continue working on your case now.</p>
                <p style="font-size:18px">Stay tuned for updates!</p>
            </div>
        </div>
    </div>
</div>